.bracketButton {
    background-color: rgba(182, 201, 221, 0.23);
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 0 2px;
    font-variant: normal;
    color: #696969;
    font-size: 11px;
    font-weight: normal;
    border-width: 0 0 0 3px;
    border-color: #B6C9DD;
    border-style: solid;
    box-shadow: none;
    padding: 1px 5px;
    cursor: pointer;
    display: inline-block;
    box-sizing: content-box;
    height: 15px;
    line-height: 15px;
    vertical-align: baseline;
    text-shadow: none;
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    outline: none;

	padding: 1px;
    font-size: 10px;
    line-height: 10px;
    height: 10px;
}
