# Build output
build/*
docs/*

# gulp
gulpfile.js

#node_modules
node_modules/*

# External libraries
/extension/data/libs/*

# IDE related
.idea/*
.settings/*
.vscode/*

# Not yet ported node_modules
/extension/data/libs/redditapi.js
/extension/data/modules/betterbuttons.js
/extension/data/modules/domaintagger.js
/extension/data/modules/metricstab.js
/extension/data/modules/modmailpro.js
/extension/data/modules/modmatrix.js
/extension/data/modules/syntax.js
/extension/data/modules/trouble.js
