# Build output
build/*
docs/*

# Old tests
tests/*

# node_modules
node_modules/*

# IDE related
.idea/*
.settings/*
.vscode/*

# old plugins code (TODO)
extension/data/tbplugins.js

extension/data/libs/*
