<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>toolbox Team</string>
	<key>Builder Version</key>
	<string>10600.4.10.7</string>
	<key>CFBundleDisplayName</key>
	<string>Moderator toolbox for reddit</string>
	<key>CFBundleIdentifier</key>
	<string>com.reddit.toolbox</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2</string>
	<key>CFBundleVersion</key>
	<string>10</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>background-safari.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>libs/jquery-2.1.1.js</string>
				<string>libs/tbplugins.js</string>
				<string>libs/snuownd.js</string>
				<string>libs/ace.js</string>
				<string>libs/pako.min.js</string>
				<string>libs/worker-css.js</string>
				<string>libs/mode-css.js</string>
				<string>libs/mode-json.js</string>
				<string>libs/mode-yaml.js</string>
				<string>libs/ace-themes.js</string>
				<string>libs/redditapi.js</string>
				<string>tbstorage.js</string>
				<string>tbui.js</string>
				<string>tbutils.js</string>
				<string>tbmodule.js</string>
				<string>modules/modbar.js</string>
				<string>modules/notifier.js</string>
				<string>modules/modmailpro.js</string>
				<string>modules/domaintagger.js</string>
				<string>modules/usernotes.js</string>
				<string>modules/modbutton.js</string>
				<string>modules/metricstab.js</string>
				<string>modules/comment.js</string>
				<string>modules/config.js</string>
				<string>modules/modmatrix.js</string>
				<string>modules/banlist.js</string>
				<string>modules/removalreasons.js</string>
				<string>modules/historybutton.js</string>
				<string>modules/syntax.js</string>
				<string>modules/macros.js</string>
				<string>modules/realtime.js</string>
				<string>modules/nukecomments.js</string>
				<string>modules/personalnotes.js</string>
				<string>modules/modmaillite.js</string>
				<string>modules/betterbuttons.js</string>
				<string>modules/bagel.js</string>
				<string>modules/flyingsnoo.js</string>
				<string>modules/queuetools.js</string>
				<string>tbmoduleinit.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>styles/toolbox.css</string>
			<string>styles/modmatrix.css</string>
			<string>styles/removalreasons.css</string>
			<string>styles/personalnotes.css</string>
			<string>styles/modmaillite.css</string>
			<string>styles/queuetools.css</string>
			<string>styles/modmailpro.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>A set of tools to be used by moderators on reddit in order to make their jobs easier.</string>
	<key>DeveloperIdentifier</key>
	<string>42X34WDLP5</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.reddit.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://creesch.github.io/reddit-moderator-toolbox/update/UpdateManifest.plist</string>
	<key>Website</key>
	<string>http://reddit.com/r/toolbox</string>
</dict>
</plist>
