#tb-bottombar {
    bottom: 0px;
    z-index: 6000;
    position: fixed;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 20px;
    background-color: rgba(206, 227, 248, 0.86);
    font-family: Calibri,"Trebuchet MS",verdana,sans-serif;
    font-size: small;
    color: #696969;
    padding: 2px !important;
    border-top: solid 1px #A8B5C2;
}

#tb-bottombar-hidden {
    bottom: 0px;
    z-index: 6000;
    position: fixed;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    height: 20px;
    background-color: rgba(206, 227, 248, 0.86);
    font-family: Calibri,"Trebuchet MS",verdana,sans-serif;
    font-size: small;
    color: #696969;
    padding: 2px !important;
    border-top: solid 1px #A8B5C2;
    border-right: solid 1px #A8B5C2;
}

#tb-mail.nohavemail {
    background-image: url("http://creesch.github.com/reddit-declutter/sprite-reddit.png");
    background-position: -16px -645px;
    background-repeat: no-repeat;
}

#tb-mail.havemail {
    background-image: url("http://creesch.github.com/reddit-declutter/sprite-reddit.png");
    background-position: 0px -645px;
    background-repeat: no-repeat;
}

#tb-mail {
    top: 2px;
    background-repeat: no-repeat;
    line-height: 8px;
    position: relative;
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    width: 15px;
    height: 10px;
}

#tb-modmail {
    display: inline-block;
    height: 16px;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    width: 16px;
}

#tb-modmail.havemail {
    background-image: url("http://creesch.github.com/reddit-declutter/sprite-reddit.png");
    background-position: -85px -577px;
    background-repeat: no-repeat;
}

#tb-modmail.nohavemail {
    background-image: url("http://creesch.github.com/reddit-declutter/sprite-reddit.png");
    background-position: -102px -577px;
    background-repeat: no-repeat;
}

#tb-modqueue {
    background-image: url("http://creesch.github.com/reddit-declutter/sprite-reddit.png");
    background-position: -102px -595px;
    background-repeat: no-repeat;
    line-height: 8px;
    position: relative;
    top: 2px;
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    width: 16px;
    height: 16px;
}

#tb-unmoderated {
    background-image: url("http://creesch.github.com/reddit-declutter/sprite-reddit.png");
    background-position: -51px -612px;
    background-repeat: no-repeat;
    line-height: 8px;
    position: relative;
    top: 2px;
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    width: 17px;
    height: 15px;
}

#tb-toolbarcounters {
    float: right;
    display: inline-block;
    margin-right: 25px;
    font-weight: bold;
}

.tb-page-overlay {
    padding: 10px 15px !important;
    background-color: rgba(250, 250, 250, 0.84);
    border: 0px;
    border-radius: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    z-index: 10000;
}

.tb-window-wrapper {
    position: relative;
    top: 40px;
    max-width: 1000px;
    margin-right: auto !important;
    margin-left: auto !important;
    padding: 0px !important;
    background-color: #FFF;
    border: solid 1px #808080;
    box-shadow: 0px 1px 3px 1px #D6D6D6;
}

.tb-window-header {
    right: 0px;
    left: 0px;
    display: block;
    background-color: #CEE3F8;
    text-align: center;
    font-weight: bold;
    padding: 4px !important;
    font-size: small;
    border-bottom: solid 1px #A8B5C2;
}

.tb-window-tabs {
    border-bottom: solid 1px #A8B5C2;
    background-color: #C7D6E6;
    height: 34px;
}

.tb-window-tabs a {
    background-color: #C7D6E6;
    border-right: dotted 1px #A8B5C2;
    line-height: 34px;
    padding: 10px !important;
}

.tb-window-tabs a:hover {
    background-color: #9FBAD6;
}

.tb-window-content {
    overflow: auto;
    left: 0px;
    right: 0px;
    padding: 5px !important;
}

.tb-window-footer {
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: block;
    background-color: #CEE3F8;
    text-align: center;
    border-top: solid 1px #A8B5C2;
}

.tb-window-header-options {
    display: inline-block;
    float: right;
    position: relative;
}

.tb-close {
    cursor: pointer;
}

.tb-help, tb-help-main {
    cursor: pointer;
}

.tb-help-content, .tb-help-main-content {
    display: none;
}

.tb-window-content p {
    padding-top: 10px !important;
    padding-bottom: 2px !important;
    border-bottom: 1px dotted #E0E0E0;
}

.tb-window-content input[type="text"] {
    width: 98%;
}

.tb-mark-unread { 
    width:100%;
    cursor:pointer;
    padding:5px;
    color:#369; 
    font-size:200%;
    font-weight:bold;
}

.tb-mark-unread:hover { 
text-decoration:underline;

}

.tb-window-content-shortcuts-table td {
width: 50%;
padding: 3px;
}

.tb-window-content-shortcuts-table td input{
width: 98%;
}

.tb-window-content-shortcuts-td-remove { 
    width: 25px;
}

div.sticky-queue {
    position: fixed;
    box-shadow: 0px 1px 3px 1px #D6D6D6;
    border: 0;
    width: 300px;
    z-index: 5000;
}

div.sticky-note {
    padding-right: 20px !important;
    z-index: 5000;
}

div.sticky {
    font-size: small;
    background-color: rgba(206, 227, 248, 0.86);
    font-family: Calibri,"Trebuchet MS",verdana,sans-serif;
    color: #696969;
    display: none;
    padding: 10px !important;
    position: relative;
    z-index: 5000;
}

img.sticky-close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 14px;
    width: 14px;
    cursor: pointer;
    z-index: 5000;
}

img.note-close {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 14px;
    width: 14px;
    cursor: pointer;
    z-index: 9999;
}

.top-right {
    right: 20px;
    z-index: 5000;
}

.top-left {
    left: 20px;
    z-index: 5000;
}

.top-right, .top-left {
    top: -2px;
    z-index: 5000;
}

.bottom-right {
    right: 20px;
    z-index: 5000;
}

.bottom-left {
    left: 20px;
    z-index: 5000;
}

.bottom-right, .bottom-left {
    bottom: 25px;
    z-index: 5000;
}

.border-top-right, .border-top-left {
    border-top: 0;
}

.border-bottom-right, .border-bottom-left {
    border-bottom: 0;
}

#tb-notification-alert {
    left: 5px;
    bottom: 30px;
    z-index: 6000;
    position: fixed;
    text-align: left;
    width: 500px;
    height: 50px;
    background-color: rgba(206, 227, 248, 0.86);
    font-family: Calibri,"Trebuchet MS",verdana,sans-serif;
    font-size: small;
    color: #000;
    padding: 2px !important;
    border: solid 1px #A8B5C2;
    top: auto;
    box-shadow: #D1D1D1 0px 1px 3px 1px;
}

#tb-tooltip {
    /* left: 5px;
    bottom: 30px; */
    z-index: 9999;
    position: fixed;
    text-align: left;
    /* width: 500px;
    height: 50px; */
    background-color: rgba(206, 227, 248, 0.86);
    font-family: Calibri,"Trebuchet MS",verdana,sans-serif;
    font-size: small;
    color: #000;
    padding: 2px !important;
    border: solid 1px #A8B5C2;
    top: auto;
    box-shadow: #D1D1D1 0px 1px 3px 1px;
}

.dtagger-popup {
    max-width: 900px;
    padding: 10px 15px !important;
    background-color: #FAFAFA;
    border: 1px solid #369;
    position: absolute;
    z-index: 10000;
}

.dtagger-popup .right {
    float: right;
}

.dtagger-popup .left {
    float: left;
}

.dtagger-popup .status {
    display: none;
}

.dtagger-popup tbody tr {
    width: 225px;
    vertical-align: top;
    border-bottom: 1px solid gray;
    display: block;
    padding: 5px;
}

.dtagger-popup th {
    padding-right: 10px !important;
}

.dtagger-popup .buttons {
    padding-top: 10px !important;
}

.add-domain-tag:hover {
    text-decoration: underline;
}

.utagger-popup {
    max-width: 900px;
    padding: 10px 15px !important;
    background-color: #FAFAFA;
    border: 1px solid #808080;
    position: absolute;
    z-index: 10000;
    box-shadow: 0px 1px 3px 1px #D6D6D6;
}

.utagger-popup .right {
    float: right;
}

.utagger-popup .left {
    float: left;
}

.utagger-popup .status {
    display: none;
}

.utagger-popup .buttons {
    padding-top: 10px !important;
}

.add-user-tag:hover {
    text-decoration: underline;
}

.utagger-date {
    font-size: 80%;
}

.utagger-notes {
    width: 100%;
}

.utagger-notes td {
    padding: 2px !important;
    border: solid 1px #C1BFBF;
    vertical-align: top;
}

.utagger-notes-td1 {
    width: 65px;
}

.utagger-notes-td3 {
    width: 5px;
}

.utagger-notes-td3 a {
    color: #C92A2A;
    font-weight: bold;
}

.utagger-notes .utagger-notes-td3 {
    border: 0;
}

.utagger-type {
    border: 1px solid #C1BFBF;
    margin-top: 2px;
    width: 100%;
}
        
.utagger-type td { 
    padding: 1px 3px 3px; 
}

#add-user-tag { 
    cursor: pointer;
}

.mod-popup {
    max-width: 1000px;
    padding: 0px !important;
    background-color: #FFF;
    border: solid 1px #808080;
    box-shadow: 0px 1px 3px 1px #D6D6D6;
    position: absolute;
    z-index: 10000;
}

.mod-popup-header {
    right: 0px;
    left: 0px;
    display: block;
    background-color: #CEE3F8;
    text-align: center;
    font-weight: bold;
    padding: 4px !important;
    font-size: small;
    border-bottom: solid 1px #A8B5C2;
}

.mod-popup-tabs {
border-bottom: 1px solid #A8B5C2;
background-color: #C7D6E6;
height: 24px;
}

.mod-popup-content {
    overflow: auto;
    left: 0px;
    right: 0px;
    padding: 5px !important;
}

.mod-popup-tabs a {
    background-color: #C7D6E6;
    border-right: 1px dotted #A8B5C2;
    line-height: 25px;
    padding: 5px;
}

.mod-popup-tabs a:hover {
background-color: #9FBAD6;
}

.mod-popup-footer {
    width: 100%;
    height: 30px;
	line-height: 30px;
    display: block;
    background-color: #CEE3F8;
    text-align: center;
    border-top: solid 1px #A8B5C2;
}

.mod-popup .status {
    display: none;
}

.mod-popup .add-sub-link {
    text-decoration: none;
}

.mod-popup .remove-sub-link {
    text-decoration: none;
}

.mod-popup .global-button {
    text-decoration: none;
    color: red;
}

.mod-popup tbody tr {
    width: 225px;
    vertical-align: top;
    border-bottom: 1px solid gray;
    display: block;
    padding: 5px;
}

.mod-popup th {
    padding-right: 10px;
}

.mod-popup .buttons {

}

.mod-popup .edit-subreddits {
    width: 260px;
}

.mod-popup .edit-dropdown {
    width: 190px;
}

.mod-popup .ban-note {
    margin-top: 3px;
    width: 98%;
}

.mod-action-positive {
background-color: #E5F0E1;
}

.mod-action-negative {
background-color: #FA8072;
}

.reason-popup {
    ;padding: 10px 15px !important;
    background-color: rgba(250, 250, 250, 0.84);
    border: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    margin-left: auto;
	margin-right: auto;
	padding: 5px !important;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    z-index: 10000;

}

.reason-popup .right {
    float: right;
}

.reason-popup .status {
    display: none;
}

.reason-popup input,.reason-popup select,.reason-popup textarea {
    font-size: x-small;
    border: 1px solid #ccc;
    background-color: #fafafa;
}

.reason-popup textarea {
    min-width: 400px;
}

.reason-popup tbody tr {
    vertical-align: top;
    border: 1px solid rgb(187, 187, 187);
    display: block;
    margin-bottom: 5px;
    font-size: 115%;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    padding: 5px !important;
}

.reason-popup th {
    padding-right: 10px !important;
}

.reason-popup .buttons {
    padding-top: 10px !important;
}

.reason-popup .reason-popup-content {
    position: relative;
    top: 40px;
    max-width: 1000px;
    padding: 10px !important;
    background-color: white;
    border: solid 1px gray;
	margin-left: auto !important;
	margin-right: auto !important;
}

.reason-popup .reason-popup-content span p {
    padding: 3px !important;
}

.choice.dashed {
    border-top: 1px dashed;
}

.thing.approved {
    background-color: paleGreen;
}

.thing.removed {
    background-color: lightgray;
}

.thing.spammed {
    background-color: Tomato;
}

.thing.flaired {
    background-color: PaleTurquoise;
}

.pretty-button.inoffensive {
    background-position: 0 -240px;
    background-image: url(http://www.redditstatic.com/sprite-reddit.rQ7y8qN-wzQ.png);
    background-repeat: repeat;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.pretty-button.inoffensive.pressed {
    background-position: 0 -200px!important;
}

.thing+input[type="checkbox"]:focus {
    outline: blue solid 1px;
}

.user-history {
    padding: 10px !important;
}

.user-history td {
    border: 1px dotted lightgray;
    border-bottom: none;
}

.user-history th {
    border: 1px solid lightgray;
    border-top: none;
    font-weight: bold;
}

.user-history th,.user-history td {
    padding: 5px !important;
    border-right: none;
}

.user-history table {
    width: 100%;
}

.user-history .table {
    margin: 10px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: 1px dotted lightgray;
    border-top: 1px solid lightgray;
}

.user-history .table .error {
    text-align: center;
}

.rts-report,.rts-report-clicked {
    font-weight: bold;
    font-size: x-small;
    float: right;
}

.removal-reason {
    border-bottom: thin solid #000000;
}

.removal-reason label {
    cursor: pointer;
}

.toolbox-edit:hover {
    text-decoration: underline;
}

.edit-wikidata {
    width: 99%;
    font: normal small verdana,arial,helvetica,sans-serif;
    -webkit-appearance: textarea;
    background-color: white;
    border: 1px solid;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-flex-direction: column;
    resize: auto;
    cursor: auto;
    padding: 2px !important;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.tb-debug-window {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 700px;
    height: 260px;
    padding: 0px !important;
    background-color: #FFF;
    border: solid 1px #808080;
    box-shadow: 0px 1px 3px 1px #D6D6D6;
}

.tb-debug-header {
    right: 0px;
    left: 0px;
    display: block;
    background-color: #CEE3F8;
    text-align: center;
    font-weight: bold;
    padding: 4px !important;
    font-size: small;
    border-bottom: solid 1px #A8B5C2;
}

.tb-debug-content {
    overflow: auto;
    left: 0px;
    right: 0px;
    padding: 5px !important;
}

.tb-debug-footer {
    width: 100%;
    height: 15px;
    line-height: 30px;
    display: block;
    background-color: #CEE3F8;
    text-align: center;
    border-top: solid 1px #A8B5C2;
}

.tb-debug-header-options {
    display: inline-block;
    float: right;
    position: relative;
}

.tb-debug-console {
    width: 98%;
    height: 200px;
    font: normal small CONSOLAS, COURIER,"COURIER NEW";
    -webkit-appearance: textarea;
    background-color: white;
    border: 1px solid;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-flex-direction: column;
    resize: auto;
    cursor: auto;
    padding: 2px !important;
    white-space: pre-wrap;
    word-wrap: break-word;
}