<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Extension Updates</key>
  <array>
    <dict>
      <key>CFBundleIdentifier</key>
      <string>com.reddit.toolbox</string>
      <key>Developer Identifier</key>
      <string>42X34WDLP5</string>
      <key>CFBundleVersion</key>
      <string>8</string>
      <key>CFBundleShortVersionString</key>
      <string>3.0.5</string>
      <key>URL</key>
      <string>http://creesch.github.io/reddit-moderator-toolbox/downloads/reddit_mod_tb_305.safariextz</string>
    </dict>
  </array>
</dict>
</plist>
