.window {
    max-width: 400px;
    position: fixed;
    z-index: 2147483647;
    top: 50%;
    left: 50%;
    padding: 10px;
    min-width: 150px;
    text-align: center;
    background-color: #CEE3F8;
    box-shadow: rgba(214, 214, 214, 0.47) 0 1px 3px 1px;
}
.window.positive {
    background: #69d47d;
}
.window.negative {
    background: #ff7f4f;
}

.text {
    background-color: #FFF;
    margin: 0;
    display: block;
    padding: 5px;
    font-size: 12px;
}
