.mod-toolbox-rd #tb-flatview-search {
    background-color: var(--tb-global-action-button--BackgroundColor);
    color: #696969;
    border: 1px solid var(--tb-global-action--BorderColor);
    padding: 3px;
    margin: 11px
}

.mod-toolbox-rd #tb-flatview-search-count {
    background-color: var(--tb-global-action--BorderColor);
    padding: 4px;
    color: var(--tb-global-action-button--BackgroundColor);
    font-weight: bold;
}
