/* Usernote types */

#tb-config-usernote-types {
    margin-bottom: 2px;
}

#tb-config-usernote-types th {
    padding-left: 2px;
    font-weight: bold;
}

#tb-config-usernote-type-list .usernote-type td {
    padding-right: 4px;
    padding-bottom: 4px;
}

#tb-config-usernote-type-list .usernote-type input[type="text"] {
    width: 200px;
}

#tb-config-usernote-type-list .usernote-type input.error {
    box-shadow: 0 0 3px 0 red;
}

#tb-config-usernote-type-list .usernote-type .usernote-error {
    padding-left: 4px;
}

.sp-container {
    z-index: 9999999999;
}

/* ban-macro */

.tb-page-overlay.tb-config td {
    vertical-align: top;
    padding: 3px;
}


.tb-page-overlay.tb-config td:first-child {
    padding-top: 5px;
}
.tb-page-overlay.tb-config td textarea.banMessage {
    width: 600px;
    height: 100px;
    margin: 2px;
}

.tb-page-overlay.tb-config td input.banNote {
    width: 597px;
}


/* changing tabs around */

.mod-toolbox .tb-config .tb-window-tabs {
    display: inline-block;
    width: 135px;
    height: 100%;
    border-bottom: 0;
}

.mod-toolbox .tb-config .tb-window-tabs a {
    box-sizing: border-box !important;
    width: 100%;
    border-bottom: solid 1px #eef5fd;
}

.mod-toolbox .tb-config .tb-window-tabs a:nth-last-of-type(1) {
    border-bottom: 0;
}

.mod-toolbox .tb-config .tb-window-tabs-wrapper {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 135px);
}

/* removal reasons sorting */

tr.removal-reason:first-of-type a.tb-sort-up {
    visibility: hidden;
}

tr.removal-reason:last-of-type a.tb-sort-down {
    visibility: hidden;
}

.mod-toolbox .sort_removal_reasons ul {
    padding: 0 40px;
    list-style-type: disc;
    margin: 5px 0;
}