/* Usernote types */

.mod-toolbox-rd #tb-config-usernote-types {
    margin-bottom: 2px;
}

.mod-toolbox-rd #tb-config-usernote-types th {
    padding-left: 2px;
    font-weight: bold;
}

.mod-toolbox-rd #tb-config-usernote-type-list .usernote-type td {
    padding-right: 4px;
    padding-bottom: 4px;
}

.mod-toolbox-rd #tb-config-usernote-type-list .usernote-type input[type="text"] {
    width: 200px;
}

.mod-toolbox-rd #tb-config-usernote-type-list .usernote-type input.error {
    box-shadow: 0 0 3px 0 red;
}

.mod-toolbox-rd #tb-config-usernote-type-list .usernote-type .usernote-error {
    padding-left: 4px;
}

.mod-toolbox-rd .sp-container {
    z-index: 9999999999;
}

/* ban-macro */

.mod-toolbox-rd .tb-page-overlay.tb-config td {
    vertical-align: top;
    padding: 3px;
}


.mod-toolbox-rd .tb-page-overlay.tb-config td:first-child {
    padding-top: 5px;
}
.mod-toolbox-rd .tb-page-overlay.tb-config td textarea.banMessage {
    width: 600px;
    height: 100px;
    margin: 2px;
}

.mod-toolbox-rd .tb-page-overlay.tb-config td input.banNote {
    width: 597px;
}

/* removal reasons sorting */
tr.removal-reason:first-of-type a.tb-sort-up {
    visibility: hidden;
}
tr.removal-reason:last-of-type a.tb-sort-down {
    visibility: hidden;
}

.mod-toolbox-rd .sort_removal_reasons ul {
    padding: 0 40px;
    list-style-type: disc;
    margin: 5px 0;
}
