/* Usernote types */

#tb-config-usernote-types {
    margin-bottom: 2px;
}

#tb-config-usernote-types th {
    padding-left: 2px;
    font-weight: bold;
}

#tb-config-usernote-type-list .usernote-type td {
    padding-right: 4px;
    padding-bottom: 4px;
}

.sp-container {
    z-index: 9999999999;
}
