.add-domain-tag {
    margin-left: 2px;
}

.add-domain-tag:hover {
    cursor: pointer;
}

/* Popup */

.tb-popup.dtagger-popup {
    max-width: 900px;
    text-align: center;
}
.tb-popup.dtagger-popup .dt-popup-content {
    display: inline-block;
}
.dtagger-popup .right {
    float: right;
}
.dtagger-popup .left {
    float: left;
}
.dtagger-popup .status {
    display: none;
}

.dtagger-popup tbody tr {
    width: 225px;
    vertical-align: top;
    border-bottom: 1px solid gray;
    display: block;
    padding: 5px;
}

.dtagger-popup th {
    padding-right: 10px !important;
}

.dtagger-popup .dt-popup-color-content {
    margin-bottom: 2px;
}

.dtagger-popup .domain-name {
    width: 150px;
    margin-left: 2px;
    margin-right: 7px;
}

.dtagger-popup .clear-domain {
    margin-left: 4px;
}

body.mod-toolbox-rd .dtagger-popup .clear-domain:hover {
    background-color: #ffd4cf !important;
}

/* Tag styles */

.tb-dt-little-dot {
    margin-right: 3px;
    font-size: 25px;
    line-height: 0;
}
