.mod-toolbox-rd .rts-report,
.mod-toolbox-rd .rts-report-clicked,
.mod-toolbox-rd .markdown-report,
.mod-toolbox-rd .comment-report,
.mod-toolbox-rd .account-report {
    font-weight: bold;
    font-size: x-small;
    padding: 0 5px 0 5px;
    /*border-left: solid 1px #369;*/
    float: right;
    margin-left: 3px;
}

td.url-td {
    background-color: #fff;
}

body.mod-toolbox-rd.mod-toolbox-rd-new-modmail .tb-history-button {
    vertical-align: middle;
    margin-right: 3px;
    margin-left: 2px;
    font-size: x-small;
    color: rgb(136, 136, 136);
}

.mod-toolbox-rd .history-button-popup div.table.domain-table,
.mod-toolbox-rd .history-button-popup div.table.subreddit-table,
.mod-toolbox-rd .history-button-popup div.table.comment-table,
.mod-toolbox-rd .history-button-popup div.table.account-table {
    display: inline-block;
    width: 310px;
}
.mod-toolbox-rd .history-button-popup div.tb-popup-content {
    min-width: 650px;
}

.mod-toolbox-rd .history-button-popup {
    padding: 0 !important;
}



.mod-toolbox-rd .history-button-popup td {
    border: 1px dotted lightgray;
    border-bottom: none;
    word-wrap: break-word;
}

.mod-toolbox-rd .history-button-popup th {
    border: 1px solid lightgray;
    border-top: none;
    font-weight: bold;
    word-wrap: break-word;
}

.mod-toolbox-rd .history-button-popup td.count-td,
.mod-toolbox-rd .history-button-popup td.percentage-td {
    min-width: 30px !important;
}

.mod-toolbox-rd .history-button-popup td.url-td {
    max-width: 186px !important;
    word-wrap: break-word;
}


.mod-toolbox-rd .history-button-popup th,.history-button-popup td {
    padding: 5px !important;
    border-right: none;
}

.mod-toolbox-rd .history-button-popup table {
    width: 100%;
}

.mod-toolbox-rd .tb-history-button .tb-button-active {
    background-color: #b1d0ef;
}

.mod-toolbox-rd .history-button-popup .table {
    margin: 10px;
    max-height: 200px;
    max-width: 300px;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.mod-toolbox-rd .history-button-popup .submission-markdown-text {
    width: 97% !important;
    min-height: 100px;
}

.mod-toolbox-rd .history-button-popup .submission-markdown {
    margin: 0 10px;
}

.mod-toolbox-rd .history-button-popup .table .error {
    text-align: center;
}

.mod-toolbox-rd .tb-history-disclaimer {
    margin: 5px;
    max-width: 500px;
    background: #e6e6e6;
    padding: 5px;
}

.mod-toolbox-rd .tb-history-disclaimer strong{
    font-weight: bold;
}

/* Highlight for the current subreddit */
.mod-toolbox-rd .tb-history-row-current-subreddit,
.mod-toolbox-rd .tb-history-row-current-subreddit .url-td {
    background: #EEE;
    font-weight: bold;
}
/* Colors for severity levels */
.mod-toolbox-rd .tb-history-row-warning {
    background: #FFFC7F;/* TBui.standardColors.softyellow */
}
.mod-toolbox-rd .tb-history-row-danger {
    background: #ED4337; /* TBui.standardColors.softred */
}
