/* console stuff */
.mod-toolbox .tb-debug-content .CodeMirror {
    width: 800px;
    height: 600px;
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}

.mod-toolbox  #tb-toolbar-mysubs:hover, .mod-toolbox  #tb-personal-notes-button:hover {
    background: #9FBAD6;

}

.mod-toolbox  #tb-toolbar-mysubs {
    background: rgba(199, 214, 230, 0.8);
    border-left: 1px dotted #A8B5C2;
    border-right: 1px dotted #A8B5C2;
    padding: 7px 3px 3px 3px;
}


.mod-toolbox  #tb-personal-notes-button {
    background: rgba(199, 214, 230, 0.8);
    border-left: 1px dotted #A8B5C2;
    border-right: 1px dotted #A8B5C2;
    padding: 7px 3px 3px 3px;
}

.backup-warning {
    margin-left: 6px;
    color: #EAC117;
}

.backup-warning.happy {
    color: #54c355;
}

.backup-warning.sad {
    color: #FF0000;
}

.edit-settings {
    width: 99%;
    font: normal small verdana,arial,helvetica,sans-serif;
    -webkit-appearance: textarea;
    background-color: white;
    border: 1px solid;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-flex-direction: column;
    cursor: auto;
    padding: 2px !important;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: white;
}

.mod-toolbox span.tb-settings-display {
    max-width: 59em;
}


/* not really sure if it belongs here, but about tab styling */
.mod-toolbox  .tb-window-tab.about .tb-window-content {
    text-align: center;
}

.mod-toolbox  table.tb-about-credits {

    border-collapse: separate;
    border-spacing: 10px;
    display: inline-block;
}

.mod-toolbox  table.tb-about-credits td {
    border-bottom: solid 1px #F3F3F3;
    width: 33.3%;
    min-width: 140px;
    text-align: center;
    padding: 2px;
}

.mod-toolbox  .tb-window-tab.about h1#tb-random-about-quote {
    font-style: italic;
    font-family: non-serif;
    font-size: 25px
}

.mod-toolbox  .tb-window-tab.about h3{
    margin-top: 10px;
    margin-bottom: 4px;
    border-top: solid 1px #DCDCDC;
    padding-top: 5px;
}
