/* footer block element that makes sure modbar never is in the way of content lower on the page */
#tb-footer-block {
    height: 200px;
}

/* The toolbar itself */
.mod-toolbox-rd #tb-bottombar,
.mod-toolbox-rd #tb-bottombar-hidden {
    position: fixed;
    z-index: 2147483646 !important;
    bottom: 0;
    left: 0;
    right: 0;
    /* These two rules control height for the whole toolbar */
    line-height: 30px;

    display: flex;
    align-items: center;

    font-size: 12px;
    text-align: left;
    background-color: rgba(206, 227, 248, 0.86);
    color: #696969;
    border-top: solid 1px #9FBAD6;

    /* Rules to work with subreddit styles */
    box-sizing: content-box !important;
    padding: 0 !important;
    margin-left: 0;
    margin-right: 0;
}
.mod-toolbox-rd #tb-bottombar-hidden {
    right: unset;
    border-right: 1px solid #9FBAD6;
}
/* Compact mode: Unhide button is much smaller */
.mod-toolbox-rd .tb-bottombar-compact .tb-bottombar-unhide {
    margin: -4px -8px;
}

/* Icons in the bottom bar */
.mod-toolbox-rd #tb-bottombar .tb-bottombar-hide,
.mod-toolbox-rd #tb-bottombar-hidden .tb-bottombar-unhide,
.mod-toolbox-rd #tb-bottombar .tb-toolbar-new-settings,
.mod-toolbox-rd #tb-toggle-console,
.mod-toolbox-rd #tb-reload-link {
    flex: 0 0 auto;
    padding: 0 3px;
}
.mod-toolbox-rd #tb-bottombar-hidden .tb-icons,
.mod-toolbox-rd #tb-bottombar .tb-icons {
    line-height: inherit;
    color: #46596d;
}

/* Content on the left of the bar */
.mod-toolbox-rd #tb-bottombar-contentleft {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.mod-toolbox-rd #tb-bottombar-contentright {
    display: flex;
    align-items: center;
}

/* Buttons for personal notes, mod subs */
.mod-toolbox-rd .tb-modbar-button {
    background: rgba(199, 214, 230, 0.8);
    border-left: 1px solid #9FBAD6;
    border-right: 1px solid #9FBAD6;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-left: 3px;
    padding: 0 3px;
}
.mod-toolbox-rd .tb-modbar-button:hover {
    background: #9FBAD6;
}

/* User-defined shortcut list */
.mod-toolbox-rd #tb-toolbarshortcuts {
    display: flex;
    align-items: center;
    margin-left: 6px;
}
.mod-toolbox-rd #tb-toolbarshortcuts a {
    margin-right: 3px;
}
.mod-toolbox-rd #tb-toolbarshortcuts a + a:before {
    content: "\2013"; /* En dash (slightly larger than hyphen) */
    margin-right: 3px;
    color: #46596d;
}


/* Message counters */
.mod-toolbox-rd #tb-toolbarcounters {
    display: flex;
    margin-right: 10px;
    font-weight: bold;
    order: 1;
}
.mod-toolbox-rd #tb-toolbarcounters .tb-icons {
    margin-left: 5px;
    padding: 0 2px;
}

/* Custom colors for unread things */
.mod-toolbox-rd #tb-modmail.havemail,
.mod-toolbox-rd #tb-new_modmail.havemail {
    color: #65d260;
}
.mod-toolbox-rd #tb-mail.havemail {
    color: #ff4500;
}

/* Tooltip for new modmail categories */
.mod-toolbox-rd #tb-new-modmail-tooltip {
    display:none;
    z-index: 9999;
    position: fixed;
    height: initial;
    width: initial;
    right: 55px;
    margin-bottom: 11px;
    bottom: 30px;
    background-color: #FFF;
    box-shadow: rgba(160, 177, 193, 0.4) 0px 1px 3px 1px;
    border: solid 10px rgb(206, 227, 248);
    padding: 5px;
}
.mod-toolbox-rd #tb-new-modmail-tooltip tr:nth-child(2n) {
    background: rgba(162, 162, 162, 0.2);
}
.mod-toolbox-rd #tb-new-modmail-tooltip td {
    padding: 3px;
}
.mod-toolbox-rd #tb-new-modmail-tooltip td.tb-new-mm-count {
    font-weight: bold;
}

/* TODO:*/
.mod-toolbox-rd #tb-toggle-console {
    order: 2;
}
.mod-toolbox-rd #tb-reload-link {
    /* TODO: untested */
    order: 3;
    display: inline-block;
    margin-right: 5px;
}

/* My subreddits list */
.mod-toolbox-rd #tb-my-subreddits {
    max-height: 65vh;
    width: 265px;
    padding: 0;
    overflow: auto;
    /* font-size: 11px; */
    color: #696969;
    text-align: center;
}
.mod-toolbox-rd .subreddits-you-mod-popup .tb-popup-footer {
    height: 10px;
}
.mod-toolbox-rd #tb-my-subreddit-list {
    text-align: left;
}
.mod-toolbox-rd #tb-my-subreddit-list tr {
    display: flex;
}

.mod-toolbox-rd #tb-my-subreddit-list .tb-my-subreddits-name {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    max-width: 111px;
    overflow: hidden;
}

.mod-toolbox-rd #tb-my-subreddits h1 {
    margin: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}
.mod-toolbox-rd #tb-my-subreddits table {
    width: 100%;
}
.mod-toolbox-rd #tb-my-subreddits table td {
    padding: 3px;
}
.mod-toolbox-rd #tb-my-subreddits tr:nth-child(even) {
    background: rgba(162, 162, 162, 0.2);
}
.mod-toolbox-rd #tb-my-subreddits tr:nth-child(even):hover,
.mod-toolbox-rd #tb-my-subreddits tr:hover {
    background-color: rgba(80, 123, 167, 0.2);
}

/* Mail/queue icons for sub list */
/* TODO: Icon font stuff */
.mod-toolbox-rd #tb-my-subreddits .generic-modqueue,
.mod-toolbox-rd #tb-my-subreddits .generic-unmoderated,
.mod-toolbox-rd #tb-my-subreddits .generic-mail {
    margin-right: 3px;
}
.mod-toolbox-rd .generic-modqueue {
    background-image: url("https://s3.amazonaws.com/b.thumbs.redditmedia.com/woYtFG4lfF5h5VMhKJ-b-djnzdr5_sR2aNqdZfd7RmI.png");
    background-position: -102px -595px;
    background-repeat: no-repeat;
    line-height: 8px;
    position: relative;
    top: 2px;
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    width: 16px;
    height: 16px;
}
.mod-toolbox-rd .generic-unmoderated {
    background-image: url("https://s3.amazonaws.com/b.thumbs.redditmedia.com/woYtFG4lfF5h5VMhKJ-b-djnzdr5_sR2aNqdZfd7RmI.png");
    background-position: -51px -612px;
    background-repeat: no-repeat;
    line-height: 8px;
    position: relative;
    top: 2px;
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    width: 17px;
    height: 15px;
}
.mod-toolbox-rd .generic-mail {
    background-image: url("https://s3.amazonaws.com/b.thumbs.redditmedia.com/woYtFG4lfF5h5VMhKJ-b-djnzdr5_sR2aNqdZfd7RmI.png");
    background-position: -102px -577px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    width: 16px;
}

/* Update alert */
.mod-toolbox-rd #tb-notification-alert {
    left: 5px;
    bottom: 41px;
    z-index: 10001;
    position: fixed;
    text-align: left;
    width: 500px;
    height: 70px;
    background-color: rgba(206, 227, 248, 1);
    font-size: 14px;
    color: #000;
    padding: 2px !important;
    border: solid 2px #B83E3E;
    top: auto;
    box-shadow: rgba(209, 209, 209, 0.47) 0 1px 3px 1px;
    cursor: pointer;
}
.mod-toolbox-rd #tb-notification-alert span {
    position: relative;
    display: inline-block;
    padding: 10px;
}

/* TODO: where is this used? */
.mod-toolbox-rd #tb-tooltip {
    z-index: 9999;
    position: fixed;
    text-align: left;
    background-color: rgba(206, 227, 248, 0.86);
    font-size: 11px;
    color: #000;
    padding: 2px !important;
    border: solid 1px #B6C9DD;
    top: auto;
    box-shadow: rgba(209, 209, 209, 0.47) 0 1px 3px 1px;
}

/* First run text (pointing out the settings button) */
.mod-toolbox-rd .tb-first-run {
    display: none;
    color: red;
    vertical-align: top;
    height: 22px;
    line-height: 22px;
    margin-right: 6px;
}

/* Settings links get an icon after them indicating they're internal links */
a[href*="#?tbsettings"]:not(.tb-no-gustavobc):after {
    height:16px;
    width:16px;
    display:inline-block;
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAoJJREFUeNqkU01oE1EQnk02iTFQE7QihUKRkKTF1iU9+FdQCoWYgAcPegkIeiiIWiHgwUvpQXs1Ggo99OYlFwUhWAhYhZJWUmhMxJbYYk1LFDcmJraSv911vjQbevPgg9kZ5vu+eW9n3hM0TaP/WSI+gUCADAYDmUwmEgSBUNRoNJ5jaKjNSyuKsqRjjUaDVFWlWCy2X0BfDJ5nd5r9KxZI0Wh0BuRgMHibcznGrrD/wD6hawwHxBdcLte12dnZGYfDcYOFhkJBpnL5F3Y0IAcMHHB1nYAj+Xw+xHeZ8FSWf1BPTw+trqY2JElyAkilUhsej8dZKhWpu/s4jY+P3+P0s/n5+f0TVCoVqlarL0Oh0KTZbCZZlmlgoN+pqgrBEO/u/iZg4IALTecX+BQX6/X69Xw+v8e7bYqiSMvLy+t+f2AGhhg5YOCAC43+7+T1eh+srCS1hYU32tJSQkun09rg4NA0TwLTIMTIAQMHXGigbU2hVqsZq9UaNZsKKYrKoxRZKDYwKizEyAEDB1xoOk3kzo6xP4PExMT9WyMjl/q2t7+npqYevkBucvLx1d7eE9Li4tutcPjJXEsoCO+z2WxcP0GcC3zmDt8ZHj7bVyyWyO32SLHYOwl4ufyTdna+ELCuriN2nlSEC2x1mshdRZGbkchcSJaLfCOtFI+//prLbRIMMXLAwAEXmk4T+ZLALo+Ojj1PJtc1t7s/bLfbHyUSGQ2GGDlg4IALTesd6Y8JY7JarX6bzTZtsVhOwq+tfdMymZx2MAcOuPrmrSYKaDHRUbZjbIcA8sM6xQ9sADFP4xNf54/t21tnk9kKrG3qBdCLw20T//GCFbY9tj+sVf8KMAACOoVxz9PPRwAAAABJRU5ErkJggg==") 0px 0px no-repeat;
    margin-left:3px;
    content: "";
}

/* console stuff */
.mod-toolbox-rd .tb-debug-window .CodeMirror {
    width: 800px;
    height: 600px;
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}

/* Backup warnings in settings dialog */
/* TODO: put these in toolbox.css? Don't strictly pertain to the modbar... */
.mod-toolbox-rd .backup-warning {
    margin-left: 6px;
    color: #EAC117;
}
.mod-toolbox-rd .backup-warning.happy {
    color: #54c355;
}
.mod-toolbox-rd .backup-warning.sad {
    color: #FF0000;
}

.mod-toolbox-rd .edit-settings {
    width: 99%;
    font: normal small verdana,arial,helvetica,sans-serif;
    -webkit-appearance: textarea;
    background-color: white;
    border: 1px solid;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-flex-direction: column;
    cursor: auto;
    padding: 2px !important;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: white;
}

.mod-toolbox-rd span.tb-settings-display {
    max-width: 59em;
}


/* not really sure if it belongs here, but about tab styling */
.mod-toolbox-rd  .tb-window-tab.about .tb-window-content {
    text-align: center;
}

.mod-toolbox-rd  table.tb-about-credits {

    border-collapse: separate;
    border-spacing: 10px;
    display: inline-block;
}

.mod-toolbox-rd  table.tb-about-credits td {
    border-bottom: solid 1px #F3F3F3;
    width: 33.3%;
    min-width: 140px;
    text-align: center;
    padding: 2px;
}

.mod-toolbox-rd  .tb-window-tab.about h1#tb-random-about-quote {
    font-style: italic;
    font-family: non-serif;
    font-size: 25px
}

.mod-toolbox-rd  .tb-window-tab.about h3{
    margin-top: 10px;
    margin-bottom: 4px;
    border-top: solid 1px #DCDCDC;
    padding-top: 5px;
}
