/* Subject area */

.tb-modmail-pro .message.message-parent.mmp-collapsed .subject {
    margin-bottom: 0;
}

.tb-modmail-pro .message .subject .correspondent {
    line-height: 17px;
}

.tb-modmail-pro .message .subject .correspondent:first-child {
    margin-right: 0;

    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.tb-modmail-pro .message .subject .subreddit-name:hover {
    color: rgba(51, 102, 153, 0.7);
}

.tb-modmail-pro .message .subject .expand-btn:hover {
    text-decoration: underline;
}

/* Collapsing thing */

.message .subject .tb-collapse-link {
    display: none;
}

.tb-collapse .message .subject .tb-collapse-link {
    display: inline-block;
    margin-right: 6px;
}

.tb-collapse .message .tb-collapse-link::before {
    content: "[";
    position: relative;
}

.tb-collapse .message .tb-collapse-link:hover::before {
    right: 1px;
}

.tb-collapse .message  .tb-collapse-link::after {
    content: "]";
    position: relative;
}

.tb-collapse .message .tb-collapse-link:hover::after {
    left: 1px;
}

/* Info area */

.message-parent > .subject .info-area {
    display: none !important;
}

.tb-modmail-pro .message-parent > .subject .info-area {
    display: inline-block !important;
    height: 17px;
    padding: 2px 4px;

    border-bottom-right-radius: 7px;
    border-left: medium none !important;
    border-top-right-radius: 7px;
}

.tb-modmail-pro .message-parent.has-replies > .subject .info-area {
    padding-left: 8px;
    padding-right: 8px;
}

/* Message count */

.tb-modmail-pro .message-parent:not(.has-replies) .tb-message-count {
    font-size: 12px;
    font-weight: normal;
}

.tb-modmail-pro .message-parent .tb-replied-tag {
    font-size: 12px;
    font-weight: normal;
}

/* New messages */

.tb-modmail-pro .message.new-messages .new-highlight {
    background-color: lightgreen;
}

.tb-modmail-pro .message.new-message > .entry > .tagline > .head::before {
    content: "[NEW]";
    display: inline;
    margin-right: 4px;
    padding: 1px;

    background-color: lightgreen;
    color: black;
}

.tb-modmail-pro .message.most-recent > .entry > .tagline > .head::before {
    content: "[LATEST]";
    display: inline;
    margin-right: 4px;
}

/* No red mod mail! */

.tb-no-red-modmail .message.spam,
.tb-no-red-modmail .message.spam .entry {
    background-color: transparent !important;
}

.tb-no-red-modmail .message.spam p.subject,
.tb-no-red-modmail .message.spam > div.entry > .tagline > .head {
    color: red !important;
}

/* Recipient fading */

.tb-fade-recipient .message .entry .tb-recipient {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #888 !important;
    font-weight: bold;
}

.tb-fade-recipient .message .entry .tb-recipient.moderator {
    color: #588858 !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.tb-fade-recipient .message .entry .tb-recipient.admin {
    color: #B20606 !important;
    background-color: rgba(0, 0, 0, 0) !important;
}


/* MMP remove res stuff if needed */
/* I give up on this shit.  CSS is a fucking joke. */
.tb-fade-recipient .recipient .RESUserTag,
.tb-fade-recipient .recipient .voteWeight,
{
    display: none !important;
}

.tb-separator {
    margin-left: 3px;
}
