/* START OF NEW MODMAIL CSS
---------------------------
*/

.mod-toolbox-rd div#tb-search-result {
    position: fixed;
    left: 283px;
    right: 0;
    background-color: #efefee;
    overflow: auto;
    bottom: 0;
    padding-bottom: 50px;
    top: 122px;
    display:none;
}

.mod-toolbox-rd div#tb-search-header {
    margin-left: 10px;
    float: left;
}

/* nightmode for regular browser
*/
html.tb-nightmode,
.tb-nightmode img,
.tb-nightmode video,
.tb-nightmode .ThreadTitle__communityImage
{
    -webkit-filter: invert(1)hue-rotate(180deg);
    filter: invert(90%)hue-rotate(180deg);
}
.tb-nightmode body {
    background: #000000
}

/* nightmode for firefox. Thanks to /u/tizorres
*/

.tb-nightmode-firefox .ThreadListing__threads,
.tb-nightmode-firefox body {
    background: #000000
}
.tb-nightmode-firefox .App__header {
    border-bottom: 1px solid #353535;
    background-color: #000;
}
.tb-nightmode-firefox .Sidebar__title {
    color: #9E9E9E;
    border-bottom: 1px solid #000;
}
.tb-nightmode-firefox .App__sidebar {
    border-right: 1px solid #353535;
    background-color: #000;
}
.tb-nightmode-firefox .Sidebar__communities {
    border-top: 1px solid #353535;
}
.tb-nightmode-firefox .SidebarNav__top {
    border-bottom: 1px solid #353535;
}
.tb-nightmode-firefox .SidebarCommunity__name.tb-nightmode-firefox .m-selected {
    color: #00BCD4;
}
.tb-nightmode-firefox .SidebarCommunity__name {
    color: #2196f3;
}
.tb-nightmode-firefox .App__sidebarFooter {
    background-color: #000;
    border-top: 1px solid #353535;
}
.tb-nightmode-firefox .App__sidebarFooterLink~.tb-nightmode-firefox .App__sidebarFooterLink {
    border-left: 1px solid #353535;
}
.tb-nightmode-firefox .ThreadPreviewViewer__header {
    background-color: #000;
    border-bottom: 1px solid #353535;
}
.tb-nightmode-firefox .ThreadPreviewViewer__threads {
    background-color: #191919;
}


.tb-nightmode-firefox .ThreadListing__thread {
    background-color: #191919;
}


.tb-nightmode-firefox .ThreadPreviewViewer__thread.tb-nightmode-firefox .m-read {
    background-color: #323232;
}

.tb-nightmode-firefox .ThreadPreview__headerRight,
.tb-nightmode-firefox .ThreadPreview__headerRight a,
.tb-nightmode-firefox .ThreadPreview__headerRight div,
.tb-nightmode-firefox .ThreadPreviewViewerHeader__select {
    color: #9E9E9E;
}
.tb-nightmode-firefox .ThreadPreviewViewerHeader__iconLabel {
    color: #9E9E9E;
}

.tb-nightmode-firefox .ThreadPreviewViewer__thread {
    background-color: #4c4c4c;
}
.tb-nightmode-firefox .ThreadViewer__header {
    background-color: #000;
    border-bottom: 1px solid #353535;
}
.tb-nightmode-firefox .ThreadViewerHeader__back,
.tb-nightmode-firefox .ThreadViewerHeader__back:visited,
.tb-nightmode-firefox .ThreadViewerHeader__controlText,
.tb-nightmode-firefox .ThreadViewerHeader__controlText:visited {
    color: #9E9E9E;
}
.tb-nightmode-firefox .Thread__title {
    border-bottom: 1px solid #353535;
    background: #000;
}
.tb-nightmode-firefox .ThreadTitle__community,
.tb-nightmode-firefox .ThreadTitle__title {
    color: #9E9E9E;
}


.tb-nightmode-firefox .Thread__message ~ .Thread__message,
.tb-nightmode-firefox .Thread__message ~ .Thread__modAction,
.tb-nightmode-firefox .Thread__modAction ~ .Thread__message,
.tb-nightmode-firefox .Thread__modAction ~ .Thread__modAction {
    border-top: 1px solid #353535;
    background: #191919;
}

.tb-nightmode-firefox .Thread__message {
    background: #191919;
}
.tb-nightmode-firefox .ThreadViewer__replyContainer {
    background: #000;
    border-top: 1px solid #353535;
}
.tb-nightmode-firefox .FancySelect__value.tb-nightmode-firefox .m-nocolor,
.tb-nightmode-firefox .FancySelect__value.tb-nightmode-firefox .m-nocolor .tb-nightmode-firefox .FancySelect__valueIcon,
.tb-nightmode-firefox .FancySelect__value.tb-nightmode-firefox .m-nocolor .tb-nightmode-firefox .FancySelect__valueText {
    color: #9E9E9E;
}
.tb-nightmode-firefox .Textarea,
.tb-nightmode-firefox textarea {
    border: 1px solid #353535;
    background: #191919!important;
    color: #9E9E9E;
}
.tb-nightmode-firefox .ThreadViewer__infobarContainer {
    background: #000;
    border-left: 1px solid #353535;
}
.tb-nightmode-firefox .InfoBar__controlText {
    color: #9E9E9E;
}
.tb-nightmode-firefox .InfoBar__username,
.tb-nightmode-firefox .InfoBar__username:visited {
    color: #9E9E9E;
}
.tb-nightmode-firefox .StyledHtml {
    color: #cfd0ca;
}
.tb-nightmode-firefox .ThreadPreview__author,
.tb-nightmode-firefox .ThreadPreview__author:visited,
.tb-nightmode-firefox .Message__author,
.tb-nightmode-firefox .Message__author:visited {
    color: #9E9E9E;
}
.tb-nightmode-firefox .ThreadPreview__time,
.tb-nightmode-firefox .ThreadPreview__time:visited,
.tb-nightmode-firefox .ThreadPreview__replyCount {
    color: #000;
}
.tb-nightmode-firefox .StyledHtml a {
    color: #24a0ed;
}
.tb-nightmode-firefox .Thread__grouped {
    background-color: #000;
    border-top: 1px solid #353535;
}
.tb-nightmode-firefox .Thread__groupedDivider {
    border-top: 1px solid #353535;
}
.tb-nightmode-firefox .Thread__groupedText {
    background-color: #000;
}
.tb-nightmode-firefox .Thread__groupedTextActions,
.tb-nightmode-firefox .Thread__groupedTextMessages {
    color: #353535;
}
.tb-nightmode-firefox .StyledHtml blockquote,
.tb-nightmode-firefox .StyledHtml code,
.tb-nightmode-firefox .StyledHtml pre,
.tb-nightmode-firefox .StyledHtml pre code {
    background-color: #000;
}
.tb-nightmode-firefox .ThreadPreviewViewer__noMessages {
    background-color: #000;
    border-bottom: 1px solid #191919;
}
.tb-nightmode-firefox .ThreadViewer__threadContainer {
    background: #000;
}


.tb-nightmode-firefox .Search {
    border-color: #353535;
}


.tb-nightmode-firefox .Search__inputContainer {
    background-color: #191919;
}

.tb-nightmode-firefox .Search__input {
    color: #cfd0ca;
}


.tb-nightmode-firefox .Search__button {
    background-color: #949494;
    color: #eaeaea;
}


.tb-nightmode-firefox .Search.m-no-query.m-focused .Search__button,
.tb-nightmode-firefox .Search:hover .Search__button {
    background-color: #6a8293;
}

/* Below is also nightmode but for toolbox specific stuff, exactly the same css we use for res nightmode. */
.tb-nightmode-firefox .mod-toolbox #tb-toolbar-mysubs,
.tb-nightmode-firefox .mod-toolbox #tb-personal-notes-button {
    background-color: #1a1a1a
}

.mod-toolbox-rd.tb-nightmode-firefox #tb-my-subreddits {
    background-color: #6E7A86;
    color: #B5B5B5;
    border: 1px solid #A8B5C2;
    box-shadow: rgba(214, 214, 214, 0.47) 0 1px 3px 1px;
}


.mod-toolbox-rd.tb-nightmode-firefox #tb-my-subreddits td a {
    color: #2C4C6C;
}

.mod-toolbox-rd.tb-nightmode-firefox .thing.spam, .mod-toolbox-rd.tb-nightmode-firefox .thing.spam {
    background-color: #621c1c;
}

.mod-toolbox-rd.tb-nightmode-firefox .comment.spam>.child, .mod-toolbox-rd.tb-nightmode-firefox .message.spam>.child {
    background-color: #1f1f1f;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-page-overlay select,
.mod-toolbox-rd.tb-nightmode-firefox .tb-page-overlay input,
.mod-toolbox-rd.tb-nightmode-firefox .tb-page-overlay textarea {
    background: #969696 !important;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-highlight {
    background-color: #97971b;
}

.mod-toolbox-rd.tb-nightmode-firefox #tb-bottombar {
    background-color: rgba(7, 7, 7, 0.89);
    color: #696969;
    border-top: solid 1px #111;

}

.mod-toolbox-rd.tb-nightmode-firefox #tb-bottombar-hidden {
    background-color: rgba(7, 7, 7, 0.89);
    border-top: solid 1px #111;
    border-right: solid 1px #111;
}


.mod-toolbox-rd.tb-nightmode-firefox .articleFrame {
    border: solid 1px #808080;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-page-overlay {
    background-color: rgba(135, 135, 135, 0.84);
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-overlay-label {

    text-shadow: 0 0 4px #878787;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-window-wrapper {
    background-color: #878787;
    border: solid 1px #808080;
    box-shadow: 0 1px 3px 1px rgba(83, 83, 83, 0.61);
    font-size: small;
}

.tb-nightmode-firefox .tb-window-wrapper-two {
    background-color: #878787;
    border: solid 1px #808080;
    box-shadow: 0 1px 3px 1px rgba(83, 83, 83, 0.61);
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-window-wrapper a:hover,
.mod-toolbox-rd.tb-nightmode-firefox .tb-window-tabs a.active,
.mod-toolbox-rd.tb-nightmode-firefox .tb-window-tabs a:hover {
    color: #000 !important;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-window-header {
    background-color: #6E7A86;
    border-bottom: solid 1px #111;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-window-header-options a,
.mod-toolbox-rd.tb-nightmode-firefox .buttons a,
.mod-toolbox-rd.tb-nightmode-firefox .tb-debug-header a {
    color: #393E44;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-window-tabs {
    border-bottom: solid 1px #39526b;
    background-color: #828B96;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-window-tabs a {
    background-color: #828B96;
    border-right: dotted 1px #39526b;
    color: #393E44;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-window-spacer {
    background-color: #8d9caa;
    border-right: dotted 1px #39526b;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-window-tabs a.active,
.mod-toolbox-rd.tb-nightmode-firefox .tb-window-tabs a:hover {
    background-color: #5D7186;
}

.tb-nightmode-firefox .tb-window-footer {
    background-color: #6e7a86;
    border-top: solid 1px #39526b;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-window-content p {
    border-bottom: 1px dotted #E0E0E0;
}
.mod-toolbox-rd.tb-nightmode-firefox .tb-mark-unread {
    color: #369;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-settings .tb-window-content {
    background-color: #878787;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-window-tab span.tb-module-disabled {
    background-color: #B8B8B8;
}

div.sticky {
    background-color: rgba(206, 227, 248, 0.86);
    color: #696969;
}

.mod-toolbox-rd.tb-nightmode-firefox #tb-notification-alert {
    background-color: rgba(206, 227, 248, 1);
    color: #000;
    padding: 2px !important;
    border: solid 2px #B83E3E;
    box-shadow: rgba(209, 209, 209, 0.47) 0 1px 3px 1px;
}

.mod-toolbox-rd.tb-nightmode-firefox #tb-tooltip {
    background-color: rgba(206, 227, 248, 0.86);
    color: #000;
    border: solid 1px #39526b;
    box-shadow: rgba(209, 209, 209, 0.47) 0 1px 3px 1px;
}

.tb-nightmode-firefox .tb-first-run {
    color: red;
}

.tb-nightmode-firefox .dtagger-popup {
    background-color: #878787;
    border: solid 1px #808080;
    box-shadow: 0 1px 3px 1px rgba(83, 83, 83, 0.61);
}

.tb-nightmode-firefox .dtagger-popup-header {
    background-color: #6e7a86;
    border-bottom: solid 1px #39526b;
}

.tb-nightmode-firefox .dtagger-popup-footer {
    background-color: #6e7a86;
    border-top: solid 1px #39526b;
}

.tb-nightmode-firefox .dtagger-popup tbody tr {
    border-bottom: 1px solid gray;
}


.tb-nightmode-firefox .utagger-notes td {
    border: solid 1px #C1BFBF;
}

.tb-nightmode-firefox .utagger-notes-td3 a {
    color: #C92A2A;
}
.tb-nightmode-firefox .utagger-type {
    border-top: 1px dotted #C1BFBF;
}

.mod-toolbox-rd.tb-nightmode-firefox .mod-popup {
    background-color: #878787;
    border: solid 1px #808080;
    box-shadow: 0 1px 3px 1px rgba(83, 83, 83, 0.61);
}

.mod-toolbox-rd.tb-nightmode-firefox .mod-popup-header {
    background-color: #6e7a86;
    border-bottom: solid 1px #39526b;
}

.mod-toolbox-rd.tb-nightmode-firefox .mod-popup-tabs {
    border-bottom: 1px solid #39526b;
    background-color: #828B96;
}

.mod-toolbox-rd.tb-nightmode-firefox .mod-popup-tabs a {
    background-color: #828B96;
    border-right: 1px dotted #39526b;
    color: #393E44;
}

.mod-toolbox-rd.tb-nightmode-firefox .mod-popup-tabs a:hover,
.mod-toolbox-rd.tb-nightmode-firefox .mod-popup-tabs a.active {
    background-color: #5D7186;
}

.mod-toolbox-rd.tb-nightmode-firefox .mod-popup-footer {
    background-color: #6e7a86;
    border-top: solid 1px #39526b;
}

.mod-toolbox-rd.tb-nightmode-firefox .mod-popup .add-sub-link {
    text-decoration: none;
}

.mod-toolbox-rd.tb-nightmode-firefox .mod-popup .remove-sub-link {
    text-decoration: none;
}

.mod-toolbox-rd.tb-nightmode-firefox .mod-popup .global-button {
    color: red;
}

.mod-toolbox-rd.tb-nightmode-firefox .mod-popup .current-sub,
.mod-toolbox-rd.tb-nightmode-firefox .mod-popup .saved-subs div,
.mod-toolbox-rd.tb-nightmode-firefox .mod-popup div.other-sub,
.mod-toolbox-rd.tb-nightmode-firefox .mod-popup .ban-note-container {
    border-bottom: 1px dotted gray;
    padding: 5px;
}


.mod-toolbox-rd.tb-nightmode-firefox .tb-popup-header {
    background-color: #6e7a86;
    border-bottom: solid 1px #39526b;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-popup-tabs {
    border-bottom: 1px solid #39526b;
    background-color: #828B96;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-popup-tabs a {
    background-color: #828B96;
    border-right: 1px dotted #39526b;
    color: #393E44;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-popup-footer {
    background-color: #6e7a86;
    border-top: solid 1px #39526b;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-popup {
    background-color: #878787;
}

.mod-toolbox-rd.tb-nightmode-firefox #tb-personal-notes-button, .mod-toolbox-rd.tb-nightmode-firefox #tb-personal-notes-button:hover {
    background: none;
}

.mod-toolbox-rd.tb-nightmode-firefox #tb-search-suggest tr {
    background: #A3A3A3;
}

.mod-toolbox-rd.tb-nightmode-firefox .menuarea.modtools {
    background-color: rgba(110, 122, 134, 0.86);
    border-color: #808080;
}

.mod-toolbox-rd.tb-nightmode-firefox .mod-popup .current-sub {
    border-bottom: 1px solid gray;
}


.mod-toolbox-rd.tb-nightmode-firefox .mod-action-positive {
    background-color: #E5F0E1;
}

.mod-toolbox-rd.tb-nightmode-firefox .mod-action-negative {
    background-color: #FA8072;
}


.mod-toolbox-rd.tb-nightmode-firefox .tb-debug-window {
    background-color: #878787;
    border: solid 1px #808080;
    box-shadow: 0 1px 3px 1px rgba(83, 83, 83, 0.61);

}

.mod-toolbox-rd.tb-nightmode-firefox .tb-debug-header {
    background-color: #6e7a86;
    border-bottom: solid 1px #39526b;
}

.mod-toolbox-rd.tb-nightmode-firefox .tb-debug-footer {
    background-color: #6e7a86;
    border-top: solid 1px #39526b;
}




/* misc fixes.
*/

.mod-toolbox-rd.tb-new-modmail.tb-modbar-shown .App {
    bottom: 20px;
}

.mod-toolbox-rd.tb-new-modmail .tb-settings .tb-window-tabs {
    display: inline-block;
    width: 135px;
    height: inherit;
    border-bottom: 0px;
}

.mod-toolbox-rd.tb-new-modmail .tb-settings a {
    text-decoration: none;
}


/* END OF NEW MODMAIL CSS
-------------------------
*/
