/* START OF NEW MODMAIL CSS
---------------------------
*/

.mod-toolbox-rd div#tb-search-result {
    position: fixed;
    left: 283px;
    right: 0;
    background-color: #efefee;
    overflow: auto;
    bottom: 0;
    padding-bottom: 50px;
    top: 122px;
    display:none;
}

.mod-toolbox-rd .tb-search-help.tb-bracket-button {
    top: 15px;
    position: absolute;
}

/* preview
*/
.NewThread #tb-modmail-preview {
    margin: 5px 15px 0 15px;
}

#tb-modmail-preview {
    background: #ffffffd1;
    padding: 10px;
    box-shadow: 0 1px 4px #efefed;
}

#tb-modmail-preview h3.tb-preview-heading {
    border-bottom: solid 1px #c8c7c7;
    margin-bottom: 15px;
}

/* source button
*/
.tb-source-button {
    margin-left: 16px;
    display: inline-block;
    color: #595959;
    cursor: pointer;
    font-size: 12px;
    vertical-align: middle;
}

.tb-source-button:hover {
    color: #24a0ed;
    text-decoration: underline;
}

.tb-source-field {
    padding-top: 10px;
}

.tb-source-field textarea {
    height: 125px;
    width: 400px;
}

/* reason link styling
*/
.mod-toolbox-rd .InfoBar__banText a {
    text-decoration: underline;
    color: #ea0027;
}

.mod-toolbox-rd .InfoBar__muteText a {
    text-decoration: underline;
    color: #0dd3bb;
}


/* nightmode
*/
html.tb-nightmode,
.tb-nightmode img,
.tb-nightmode .Header__icon,
.tb-nightmode video,
.tb-nightmode .ThreadTitle__communityImage
{
    -webkit-filter: invert(1)hue-rotate(180deg);
    filter: invert(90%)hue-rotate(180deg);
}
.tb-nightmode body {
    background: #000000;
    height: 100vh;
}

/* new modmail activity
*/
.new-modmail-activity-popup .tb-popup-content {
    padding: 0 !important;
}

.new-modmail-activity-popup .header {
    font-weight: bold;
    max-width: 600px;
    padding: 5px;
    border-bottom: 1px solid black;
}

.new-modmail-activity-popup .activity {
    background-color: #fafafa;
    padding: 5px 10px;
}

.new-modmail-activity-popup .new-message,
.new-modmail-activity-popup .new-action {
    padding: 10px 0;
}

.new-modmail-activity-popup .new-message:not(:last-child),
.new-modmail-activity-popup .new-action:not(:last-child) {
    border-bottom: 1px solid darkgray;
}

.new-modmail-activity-popup .content {
    margin-top: 4px;
    max-width: 580px;
    word-wrap: break-word;
}

.new-modmail-activity-popup a.mod {
    color: #46d160 !important;
}

.new-modmail-activity-popup .new-action {
    font-style: italic;
}

.new-modmail-activity-popup .tb-action-button.submit {
    margin-left: 5px;
}

/* misc fixes.
*/

/* Give room for the modbar since this is a full-height layout */
.mod-toolbox-rd.tb-new-modmail.tb-modbar-shown .App {
    bottom: 31px !important;
}

/* END OF NEW MODMAIL CSS
-------------------------
*/
