/* START OF NEW MODMAIL CSS
---------------------------
*/

.mod-toolbox-rd div#tb-search-result {
    position: fixed;
    left: 283px;
    right: 0;
    background-color: #efefee;
    overflow: auto;
    bottom: 0;
    padding-bottom: 50px;
    top: 122px;
    display:none;
}

.mod-toolbox-rd .tb-search-help.tb-bracket-button {
    top: 15px;
    position: absolute;
}

/* preview
*/
.NewThread  #tb-modmail-preview {
    margin: 5px 15px 0 15px;
}
  
#tb-modmail-preview {
    background: #ffffffd1;
    padding: 10px;
    box-shadow: 0 1px 4px #efefed;
}

#tb-modmail-preview h3.tb-preview-heading {
    border-bottom: solid 1px #c8c7c7;
    margin-bottom: 15px;
}


/* nightmode
*/
html.tb-nightmode,
.tb-nightmode img,
.tb-nightmode .Header__icon,
.tb-nightmode video,
.tb-nightmode .ThreadTitle__communityImage
{
    -webkit-filter: invert(1)hue-rotate(180deg);
    filter: invert(90%)hue-rotate(180deg);
}
.tb-nightmode body {
    background: #000000;
    height: 100vh;
}



/* misc fixes.
*/

/* Give room for the modbar since this is a full-height layout */
.mod-toolbox-rd.tb-new-modmail.tb-modbar-shown .App {
    bottom: 31px !important;
}

/* END OF NEW MODMAIL CSS
-------------------------
*/
