/* START OF NEW MODMAIL CSS
---------------------------
*/

.mod-toolbox-rd div#tb-search-result {
    position: fixed;
    left: 283px;
    right: 0;
    background-color: #efefee;
    overflow: auto;
    bottom: 0;
    padding-bottom: 50px;
    top: 122px;
    display:none;
}

.mod-toolbox-rd .tb-search-help.tb-bracket-button {
    top: 15px;
    position: absolute;
}

/* preview
*/
.NewThread #tb-modmail-preview {
    margin: 5px 15px 0 15px;
}

#tb-modmail-preview {
    background: #ffffffd1;
    padding: 10px;
    box-shadow: 0 1px 4px #efefed;
}

#tb-modmail-preview h3.tb-preview-heading {
    border-bottom: solid 1px #c8c7c7;
    margin-bottom: 15px;
}

/* source textarea
*/

.tb-source-button {
    margin-top: 10px;
}

.tb-source-field {
    padding-top: 10px;
}

.tb-source-field textarea {
    height: 125px;
    width: 100%;
}

body.mod-toolbox-rd .tb-source-button {
    margin-left: 16px;
}

/* reason link styling
*/
.mod-toolbox-rd .InfoBar__banText a {
    text-decoration: underline;
    color: #ea0027;
}

.mod-toolbox-rd .InfoBar__muteText a {
    text-decoration: underline;
    color: #0dd3bb;
}


/* nightmode
*/
html.tb-nightmode,
.tb-nightmode img,
.tb-nightmode .Header__icon,
.tb-nightmode video,
.tb-nightmode .ThreadTitle__communityImage
{
    -webkit-filter: invert(1)hue-rotate(180deg);
    filter: invert(90%)hue-rotate(180deg);
}

.tb-nightmode body {
    background: #000000;
    height: 100vh;
}

/* Color code "reply as"
*/

.mod-toolbox-rd .FancySelect__option:nth-child(2) {
  color: #0079d3;
}

.mod-toolbox-rd .FancySelect__option:nth-child(2):hover {
  color: #fff;
  background: #0079d3;
}

.mod-toolbox-rd .FancySelect__option:nth-child(3) {
  color: #46d160;
}

.mod-toolbox-rd .FancySelect__option:nth-child(3):hover {
  color: #fff;
  background: #46d160;
}

.mod-toolbox-rd .ThreadViewerReplyForm__replyButton.m-internal {
  background: #46d160;
}

.mod-toolbox-rd .m-internal .FancySelect__value {
  color: #46d160;
}

/* new modmail activity
*/
.new-modmail-activity-popup .tb-window-content {
    padding: 0 !important;
}

.new-modmail-activity-popup .header {
    font-weight: bold;
    max-width: 600px;
    padding: 5px;
    border-bottom: 1px solid black;
}

.new-modmail-activity-popup .activity {
    background-color: #fafafa;
    padding: 5px 10px;
}

.new-modmail-activity-popup .new-message,
.new-modmail-activity-popup .new-action {
    padding: 10px 0;
}

.new-modmail-activity-popup .new-message:not(:last-child),
.new-modmail-activity-popup .new-action:not(:last-child) {
    border-bottom: 1px solid darkgray;
}

.new-modmail-activity-popup .content {
    margin-top: 4px;
    max-width: 580px;
    word-wrap: break-word;
}

.new-modmail-activity-popup a.mod {
    color: #46d160 !important;
}

.new-modmail-activity-popup .new-action {
    font-style: italic;
}

.new-modmail-activity-popup .tb-action-button.submit {
    margin-left: 5px;
}


/* Typing indicators and new message indicators
*/

.ThreadViewer__typingIndicator .ThreadTypingIndicator
{
    outline: solid #46d160 2px;
    padding: 2px;
}

.Thread__newMessageIndicatorBubble {
    border: solid #46d160 2px;
}

/* Sidebar avatar styling - compact
*/
.tb-new-modmail.tb-modmail-sidebar-avatar-compact .NewInfoBar__idCard .tb-jsapi-container {
    margin-top: 10px;
}

.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard {
    width: unset;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    padding-left: 85px;
}

.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard:has(.ModIdCard__icon) {
    height: 80px;
}

.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard__snoovatarContainer {
    position: absolute;
    top: 0;
    left: 15px;
    width: unset;
    padding: 0;
}

.tb-new-modmail.tb-modmail-sidebar-avatar-compact .particleWrapper {
    top: -20px;
}

.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard__UserNameContainer {
    z-index: 1;
}

.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard__topGlow,
.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard__bottomGlow {
        display: none;
}

.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard__bannerImage {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: calc(100% + 20px);
    margin: 0;
    padding: 0;
    opacity: 0.8;
}

.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard__snoovatar {
    height: 100px;
}

.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard__icon {
    margin-top: calc((100px - 60px - (1px * 2)) / 2);
    width: unset;
    height: 60px;
}

/* banner shenanigans */
.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard__UserNameLink,
.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard__UserNameMetaData{
    justify-content: initial;
}

.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard__UserProfileLink {
    text-align: initial;
}


.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard__bannerImage ~ .ModIdCard__UserNameContainer .ModIdCard__admin,
.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard__bannerImage ~ .ModIdCard__UserNameContainer .ModIdCard__UserNameLink,
.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard__bannerImage ~ .ModIdCard__UserNameMetaData,
.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard__bannerImage ~ .ModIdCard__UserProfileLink {
    color: #000000;
    position: relative;
    text-shadow:
        2px 2px rgba(255, 255, 255, .5),
        2px 1px rgba(255, 255, 255, .5),
        2px 0 rgba(255, 255, 255, .5),
        2px -1px rgba(255, 255, 255, .5),
        2px -2px rgba(255, 255, 255, .5),
        1px -2px rgba(255, 255, 255, .5),
        0 -2px rgba(255, 255, 255, .5),
        -1px -2px rgba(255, 255, 255, .5),
        -2px -2px rgba(255, 255, 255, .5),
        -2px -1px rgba(255, 255, 255, .5),
        -2px 0 rgba(255, 255, 255, .5),
        -2px 1px rgba(255, 255, 255, .5),
        -2px 2px rgba(255, 255, 255, .5),
        -1px 2px rgba(255, 255, 255, .5),
        0 2px rgba(255, 255, 255, .5),
        1px 2px rgba(255, 255, 255, .5);
}

.tb-new-modmail.tb-modmail-sidebar-avatar-compact .ModIdCard__bannerImage ~ .ModIdCard__UserNameContainer .ModIdCard__admin.ModIdCard__admin {
    display: inline;
    color: #ff4500;
}

/* Sidebar avatar styling - hidden
*/

.tb-new-modmail.tb-modmail-sidebar-avatar-hidden .ModIdCard__snoovatarContainer,
.tb-new-modmail.tb-modmail-sidebar-avatar-hidden .ModIdCard__bannerImage {
   display: none;
}

.tb-new-modmail.tb-modmail-sidebar-avatar-hidden .ModIdCard {
   padding-top: 20px;
}

/* Sidebar avatar styling - clickable profile links
*/
.tb-new-modmail a.tb-sidebar-profile-link {
    color: #006dc6
}


.tb-new-modmail.tb-modmail-sidebar-no-animation .particleWrapper {
    display: none;
}

/* misc fixes.
*/

/* Give room for the modbar since this is a full-height layout */
.mod-toolbox-rd.tb-new-modmail.tb-modbar-shown .App {
    bottom: 31px !important;
}

/* END OF NEW MODMAIL CSS
-------------------------
*/
