img.note-close {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 14px;
    width: 14px;
    cursor: pointer;
    z-index: 9999;
}

.mod-toolbox-rd .top-right {
    right: 20px;
    z-index: 5000;
}

.mod-toolbox-rd .top-left {
    left: 20px;
    z-index: 5000;
}

.mod-toolbox-rd .top-right, .top-left {
    top: -2px;
    z-index: 5000;
}

.mod-toolbox-rd .bottom-right {
    right: 20px;
    z-index: 5000;
}

.mod-toolbox-rd .bottom-left {
    left: 20px;
    z-index: 5000;
}

.mod-toolbox-rd .bottom-right, .bottom-left {
    bottom: 41px;
    z-index: 5000;
}

.mod-toolbox-rd .border-top-right, .border-top-left {
    border-top: 0;
}

.mod-toolbox-rd .border-bottom-right, .border-bottom-left {
    border-bottom: 0;
}
