.mod-toolbox-rd .nuke-button-popup .tb-retry-nuke,
.mod-toolbox-rd .nuke-button-popup .tb-execute-nuke {
    display: none;
}

.mod-toolbox-rd .tb-nuke-feedback {
    padding: 3px;
    border-bottom: solid 1px var(--tb-global-header--BackgroundColor);
    margin-bottom: 5px;
}

.mod-toolbox-rd .tb-nuke-details {
    padding: 3px;
    margin-bottom: 5px;
}

.mod-toolbox-rd .tb-nuke-details p {
    margin-bottom: 5px;
}

.mod-toolbox-rd [data-tb-type="TBcommentAuthor"] .tb-nuke-button {
    order: 5;
}
