.mod-toolbox-rd .personal-notes-popup {
    left: 305px;
    bottom: 41px;
    display: block;
    position: fixed;
    /* Remove the max-width definition set for normal popups - we set our own max-width from the textarea */
    max-width: initial;
}

/* Box layout */
.mod-toolbox-rd .tb-popup.personal-notes-popup table {
    height: 100%;
    position: relative; /* To help with absolute positioning of the sidebar */
}
.mod-toolbox-rd #tb-personal-notes-listing,
.mod-toolbox-rd #tb-personal-notes-content {
    overflow: hidden;
    vertical-align: top;
}

/* Note selection sidebar */
.mod-toolbox-rd #tb-personal-notes-listing {
    height: 100%;
    margin-left: -5px;
    min-width: 175px;
}
.mod-toolbox-rd .personal-notes-popup input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 2px;
}
.mod-toolbox-rd #tb-new-personal-note-div {
    position: absolute;
    bottom: 0;
    width: 165px;
    height: 70px;
    padding: 5px;
    background: #C7D6E6;
    box-shadow: 0 -1px #FFF;
    overflow: hidden;
}
/* Hack to get background on the list */
.mod-toolbox-rd .tb-popup.personal-notes-popup .tb-popup-content {
    box-shadow: inset 175px 0 #C7D6E6;
    padding: 0 !important;
    height: 100%;
}
/* Actual list */
.mod-toolbox-rd #tb-personal-notes-list {
    width: 175px;
    position: absolute;
    top: 0;
    bottom: 76px;
    overflow: auto;
}
.mod-toolbox-rd #tb-personal-notes-ul li {
    background: #C7D6E6;
    border-bottom: 1px solid #FFF;
    padding: 5px 5px 5px 25px;
    position: relative;
    word-wrap: break-word;
}
.mod-toolbox-rd #tb-personal-notes-ul .tb-personal-notes-active {
    background: #9FBAD6
}
.mod-toolbox-rd #tb-personal-notes-ul .tb-personal-notes-active .tb-personal-note-link {
    color: #000;
}
.mod-toolbox-rd .tb-personal-note-delete {
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
}
.mod-toolbox-rd .tb-personal-note-delete img {
    width: 13px;
    opacity: 0.8;
    margin-top: 7px;
}

.mod-toolbox-rd .tb-personal-note-link {
    font-size: 14px;
}

/* Main edit view */
.mod-toolbox-rd #tb-personal-notes-content {
    margin-right: -5px;
    position: relative;
}
.mod-toolbox-rd #tb-personal-notes-editarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    border: 0;

    /* Since the textarea is the thing with the resize handle, we set constraints here */
    min-width: 450px;
    min-height: 300px;
    max-width: calc(100vw - 215px); /* 195px = width of sidebar + some padding */
    max-height: calc(100vh - 120px); /* 100px = popup header + footer + modbar + some padding */
}
/* Landing content */
.mod-toolbox-rd #tb-personal-notes-landing {
    width: 410px; /* 450 minus padding */
    height: 260px; /* 300 minus padding */
    padding: 20px;
    font-size: 14px;
    line-height: 2;
    /* Centering */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mod-toolbox-rd .tb-personal-notes-landing-subtitle {
    opacity: 0.7;
}

/* Save button in footer */
.mod-toolbox-rd #save-personal-note {
    display: none;
    width: initial;
}
