.mod-toolbox-rd .tb-searchuser input[type="submit"] {
    padding: 0 !important;
    margin-left: 4px;
}

.mod-toolbox-rd .tb-searchuser .tb-input.tb-search-input {
    width: 150px;
}

.mod-toolbox-rd #tb-search-suggest {
    z-index: 2147483645;
}

.mod-toolbox-rd form.tb-searchuser {
    margin-left: 10px;
    display: inline-block;
}

.mod-toolbox-rd .tb-mod-hidden,
.mod-toolbox-rd .tb-mod-filtered {
    display: none;
}
.mod-toolbox-rd .tb-filter-options {
    margin: 10px 0;
    padding: 1px;
}

.mod-toolbox-rd .tb-profile-options {
    margin-left: 5px;
}

.mod-toolbox-rd .tb-load-more {
    background-color: #f7fafd;
    color: #696969;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-width: 0px 3px 0px 3px;
    border-color: #b6c9dd;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

.mod-toolbox-rd .tb-load-more:hover {
    border-color: #f7fafd;
    background-color: #b6c9dd;
    color: #ffffff;
}


.mod-toolbox-rd img.tb-user-thumbnail {
    width: 70px;
    display: block;
    margin: auto;
    background-color: #fff;
    padding: 3px;
    border: solid 5px #f1f1f1;
}

.mod-toolbox-rd  ul.tb-user-detail-ul {
    margin-top: 10px;
    max-width: 170px;
    vertical-align: middle;
    display: inline-block;
    list-style-type: disc;
    line-height: 15px;
    padding-left: 16px;
}

/* In addition to the tabbed content, we have a sidebar for user info */
.mod-toolbox-rd .tb-profile-overlay .tb-window-tabs-wrapper {
    display: inline-block;
    width: calc(100% - 235px);
}
.mod-toolbox-rd .tb-profile-sidebar {
    display: inline-block;
    width: 225px;
    vertical-align: top;
    margin: 10px;
    margin-left: 0;
}

.mod-toolbox-rd .tb-profile-overlay .tb-window-wrapper {
    max-width: 1350px;
}

.mod-toolbox-rd .tb-profile-sidebar  h3 {
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.mod-toolbox-rd ul.tb-user-modsubs-expand-ul {
    display: none;
}

.mod-toolbox-rd ul.tb-user-modsubs-expand-ul,
.mod-toolbox-rd ul.tb-user-modsubs-ul {
    list-style-type: none;
    line-height: 25px;
    padding-left: 3px;
    overflow: hidden;
}

.mod-toolbox-rd ul.tb-user-modsubs-expand-ul li,
.mod-toolbox-rd ul.tb-user-modsubs-ul li {
    border-bottom: solid 1px #f1f1f1;
}

.mod-toolbox-rd ul.tb-user-modsubs-expand-ul li a,
.mod-toolbox-rd ul.tb-user-modsubs-ul li a {
    vertical-align: middle;
}

.mod-toolbox-rd ul.tb-user-modsubs-expand-ul li img,
.mod-toolbox-rd ul.tb-user-modsubs-ul li img {
    vertical-align: middle;
    float: right

}

.mod-toolbox-rd .tb-subreddit-icon {
    width: 25px;
}

.mod-toolbox-rd.mod-toolbox-extra .tb-general-button.tb-sidebar-loadmod {
    margin-top: 3px;
}

.mod-toolbox-rd.mod-toolbox-extra .tb-general-button.tb-sidebar-loadmod.tb-less {
    display: none;
}

.mod-toolbox-rd .tb-user-trophies {
    margin-top: 15px;
}

.mod-toolbox-rd .tb-trophy-info{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 105px;
    text-align: center;
    vertical-align: top;
    padding: 15px 0 15px
}

.mod-toolbox-rd .tb-trophy-icon {
    margin-bottom: 2px;
    width: 40px;
    height: 40px
}

.mod-toolbox-rd .tb-trophy-name {
    color: #000 !important
}

.mod-toolbox-rd .tb-trophy-description {
    color: #555555;
    font-size: 10px;
}
