
/* queue creater */
.mod-toolbox-rd #queueCreatureWrapper {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 230px;
    display: none;
    z-index: 2147483646 !important;
  }

.mod-toolbox-rd .tb-kitteh {
    display: inline-block;
    width: 330px;
    height: 351px;
    background-image: url("https://b.thumbs.redditmedia.com/7uBqTsML9Y-sksmfvCrKrHvoUANP6ZCOw9UOVIV6aXQ.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.mod-toolbox-rd .tb-puppy {
    display: inline-block;
    width: 360px;
    height: 460px;
    background-image: url("https://a.thumbs.redditmedia.com/L8eKqhvo2mcjB0E8t87nOlu1_oMoSQ8F8LzqbFHumK8.png");
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -1000px;
    overflow: hidden;
}

.mod-toolbox-rd .tb-begifs {
    display: inline-block;
    width: 360px;
    height: 460px;
    background-image: url("https://toolbox-team.github.io/reddit-moderator-toolbox/hosted_images/begifs.gif");
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -1000px;
    overflow: hidden;
}

.mod-toolbox-rd .tb-spiders {
    display: inline-block;
    width: 360px;
    height: 460px;
    background-image: url("https://b.thumbs.redditmedia.com/AgVm8q7yNxjcklDntkpH4hc6UoYrBUcwU8SXcZWgBJA.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.mod-toolbox-rd .tb-piggy {
    display: inline-block;
    width: 360px;
    height: 460px;
    background-image: url("https://b.thumbs.redditmedia.com/FMheFSik2oy58sq7qWASounTkW2H0u0F0gtGorsu3cc.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.mod-toolbox-rd .tb-begifs:after {
    content: "baby elephant is pleased!";
}


/* Action reason stuff */


.mod-toolbox-rd .tb-action-table {
    font-size: 11px;
    text-align: left;
    color: rgb(105, 105, 105);
    margin: 5px 0;
    display: none;
 }




 .mod-toolbox-rd.tb-show-actions .tb-action-table {
    display: table;
}

.mod-toolbox-rd .tb-action-table th {
    font-weight: bold;
    background-color: #cee3f8;
    color: #000000;
}

.mod-toolbox-rd .tb-action-table th,
.mod-toolbox-rd .tb-action-table td {
    padding: 3px;
}

.mod-toolbox-rd .tb-action-table td:not(:first-child) {
    border-left: solid 1px #c7d6e7;
}

.mod-toolbox-rd .tb-action-table tr {
    background: #fff
}

