.mod-toolbox-rd .tb-queue-overlay .tb-window-wrapper {
    max-width: 1750px;
    margin-bottom: auto;
    top: 0;
}

.mod-toolbox-rd .tb-queue-overlay .tb-queue-options {
    margin-bottom: 3px;
}

.mod-toolbox-rd .tb-queue-overlay input.tb-input.tb-queue-url {
    width: calc(100% - 40px);
}

.mod-toolbox-rd .tb-queue-overlay .tb-icons.tb-queue-reload {
    cursor: pointer;
    background: rgb(199, 214, 230);
    border-radius: 10px;
    vertical-align: middle;
}

.mod-toolbox-rd .tb-queue-overlay .tb-queue-reload:hover {
    color:rgb(199, 214, 230);
    background-color: rgb(51, 102, 153);
}

.mod-toolbox-rd .tb-queue-overlay .tb-queue-reload.loading {
  animation-name: reload-spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes reload-spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.mod-toolbox-rd .tb-queue-overlay iframe.tb-queue-iframe {
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 203px);
    border: 0;
}

.mod-toolbox-rd.tb-embedded-queues .menuarea.modtools {
    margin-right: 5px !important;
}

.embedded-page.moderator  #header .pagename {
    padding: 0;
    font-size: 1em;
}

.embedded-page.moderator #header .tabmenu {
    margin: 0;
}

.embedded-page.moderator .content>.sitetable {
    box-sizing: border-box;
    width: 100%;
}

.embedded-page.moderator .side {
    display: none;
}

/* Make sure RES floater isn't floating in the way of queuetools bar */
.embedded-page.moderator .res-floater-visibleAfterScroll {
    top: 50px !important;
}

/* spam spam delicious spam */
.embedded-page.moderator .thing.spam.spam {
    background-color: #fa8072
}

.embedded-page.moderator .thing.banned-user.banned-user {
    overflow: hidden;
    background-color: rgba(250,128,114,0.5)
}
