.mod-toolbox-rd .reason-popup {
    padding: 10px 15px !important;
    background-color: rgba(250, 250, 250, 0.84);
    border: 0;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 2147483647 !important;
    font-size: 11px;
}

.mod-toolbox-rd .reason-popup-header {
    right: 0;
    left: 0;
    display: block;
    background-color: var(--tb-global-header--BackgroundColor);
    text-align: center;
    font-weight: bold;
    padding: 4px !important;
    font-size: small;
}

.mod-toolbox-rd .reason-popup-innercontent {
    overflow: auto;
    left: 0;
    right: 0;
    padding: 5px !important;
}

.mod-toolbox-rd .reason-popup-footer {
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: block;
    background-color: var(--tb-global-header--BackgroundColor);
    text-align: center;
}

.mod-toolbox-rd .reason-popup input,.reason-popup select,.reason-popup textarea {
    font-size: x-small;
    border: 1px solid #ccc;
    background-color: #fafafa;
}

.mod-toolbox-rd .reason-popup input[type="checkbox"],.reason-popup input[type="radio"] {
    /* CENTER DAT SHIT */
    vertical-align: text-bottom;
    margin-right: 2px;
    margin-top: 0;
}

.mod-toolbox-rd .reason-popup textarea {
    min-width: 400px;
}

.mod-toolbox-rd .reason-popup #reason-table {
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
}

.mod-toolbox-rd .reason-popup #reason-table.error-highlight {
    border: solid 1px red;
}

.mod-toolbox-rd .reason-popup thead th {
    padding: 3px;
    white-space: nowrap;
    font-weight: bold;
    border-bottom: 1px dotted rgb(187, 187, 187);
}

.mod-toolbox-rd .reason-popup tbody {
    border-bottom: 1px dotted #BBBBBB;
}

.mod-toolbox-rd .reason-popup tbody tr {
    margin-top: 2px;
    vertical-align: top;
}

.mod-toolbox-rd .reason-popup tbody td p {
    margin-top: 2px;
}

.mod-toolbox-rd .reason-popup .reason-check {
    margin: 4px 6px 6px 6px !important;
}

.mod-toolbox-rd .reason-popup .reason-num {
    width: 15px;
    height: 15px;
    margin-left: 2px;
    margin-bottom: 6px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    color: #D3D3D3;
}

.mod-toolbox-rd .reason-popup .selectable-reason.reason-selected .reason-num {
    color: black;
}

.mod-toolbox-rd .reason-popup select {
    max-width: 200px;
}

.mod-toolbox-rd .reason-popup .styled-reason {
    margin-top: 4px;
    padding: 1px 3px 3px 3px;
    border: 0;
}

.mod-toolbox-rd .reason-popup .selectable-reason:last-child .styled-reason {
    margin-bottom: 4px;
}

.mod-toolbox-rd tr.removal-reason {
    border-bottom: solid 5px #F0F0F0;
}

.mod-toolbox-rd .reason-popup tr.selectable-reason {
    border-bottom: solid 1px #D3D3D3;
}

.mod-toolbox-rd .reason-popup tr.selectable-reason td:nth-child(1) {
    padding-top: 5px !important;
}

.mod-toolbox-rd .reason-popup .selectable-reason.reason-selected .styled-reason {
    background: #B1DDAA;
}

.mod-toolbox-rd .removal-reason-title {
    margin-top: 9px;
    margin-left: 6px;
    font-size: 14px;
    font-family: "Lucida Console", Monaco, monospace;
}

.mod-toolbox-rd #tb-removal-reason-settings h3 {
    margin-top: 8px;
    margin-bottom: 3px;
}

.mod-toolbox-rd #tb-removal-reason-settings #buttons ul, .mod-toolbox-rd .reason-popup #buttons ul {
    list-style-type: none;
    margin: 5px;
}

.mod-toolbox-rd #tb-removal-reason-settings #buttons ul li, .mod-toolbox-rd .reason-popup #buttons ul li {
     margin-top: 5px;
 }

.mod-toolbox-rd #tb-removal-reason-settings #buttons ul li ul, .mod-toolbox-rd .reason-popup #buttons ul li ul {
    margin-left: 15px;
    margin-bottom: 5px;
}

.mod-toolbox-rd .reason-popup .reason-content {
    padding-left: 8px;
}

.mod-toolbox-rd .reason-popup #header-reason, .reason-popup #footer-reason {
    border: 0;
    padding: 3px;
}

.mod-toolbox-rd .reason-popup #buttons {
    margin-top: 2px;
    padding: 6px 0 6px 2px;
    vertical-align: middle;
    border: solid 1px transparent;
}

.mod-toolbox-rd .reason-popup #buttons.error-highlight {
    border-color: red;
}

.mod-toolbox-rd .reason-popup #log-reason {
    border-top: 1px dotted #BBBBBB;
    padding-top: 6px;
}

.mod-toolbox-rd .reason-popup #log-reason-input {
    padding-left: 1px;
    min-width: 365px;
}

.mod-toolbox-rd .reason-popup #log-reason-input.error-highlight {
    border-color: red;
}

.mod-toolbox-rd .reason-popup #log-reason p {
    margin-bottom: 4px;
}

.mod-toolbox-rd .reason-popup .reason-popup-content {
    position: relative;
    top: 40px;
    max-width: 1000px;
    padding: 0 !important;
    background-color: #FFF;
    box-shadow: 0 1px 3px 1px #D6D6D6;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 50px;
    font-size: 11px;
}

.mod-toolbox-rd .reason-popup .reason-popup-content span p {
    padding: 3px !important;
}

.mod-toolbox-rd .reason-popup strong {
    font-weight: bold;
}

.mod-toolbox-rd .reason-popup em {
    font-style: oblique;
}

/* 3.0 fixes */

.mod-toolbox-rd #removal-reasons-table {
    width: 99%;
}

.mod-toolbox-rd .removal-toggle {
    width: 40px;
}

.mod-toolbox-rd .flair-text {
    width: 75px;
}

.mod-toolbox-rd .flair-css {
    width: 50px;
    overflow: hidden;
}

.mod-toolbox-rd td.flair-css,
.mod-toolbox-rd td.flair-text {
    padding-top: 8px;
}

.mod-toolbox-rd .reason-popup .reason-check {
    margin: 4px 0 0 3px !important;
    display: inline;
}
