/** Window/Popup Common **/

/* Box sizing reset for custom sub CSS */
.mod-toolbox-rd .tb-window,
.mod-toolbox-rd .tb-window *,
.mod-toolbox-rd .tb-window *::before,
.mod-toolbox-rd .tb-window *::after,
.mod-toolbox-rd .tb-popup,
.mod-toolbox-rd .tb-popup *,
.mod-toolbox-rd .tb-popup *::before,
.mod-toolbox-rd .tb-popup *::after {
    box-sizing: content-box;
}

/* Headers */
/* TODO: generic classname that windows/popups/notifications can share? */
.mod-toolbox-rd .tb-window-header,
.mod-toolbox-rd .tb-popup-header,
.mod-toolbox-rd .tb-notification-header {
    display: flex;
    background-color: #CEE3F8;
    line-height: 26px;
}
.mod-toolbox-rd .tb-window-header {
    /* Windows get bigger headers */
    line-height: 36px;
    font-size: 14px;
    /* They also have the title in the absolute center */
    /* TODO: not all windows have two buttons */
    padding-left: 74px; /* size of the two buttons */
}

.mod-toolbox-rd .tb-window-title,
.mod-toolbox-rd .tb-popup-title,
.mod-toolbox-rd .tb-notification-title {
    text-align: center;
    font-weight: bold;
    flex-grow: 1;
    padding: 0;
}
.mod-toolbox-rd .tb-popup-title {
    margin: 0 5px; /* TODO: is this the right amount of margin? */
}

.mod-toolbox-rd .tb-window-header .buttons,
.mod-toolbox-rd .tb-popup-header .buttons,
.mod-toolbox-rd .tb-notification-header .buttons {
    display: flex;
}

.mod-toolbox-rd .tb-window-header .buttons a,
.mod-toolbox-rd .tb-popup-header .buttons a,
.mod-toolbox-rd .tb-notification-header .buttons a {
    display: flex;
    background-color: #C7D6E6;
    width: 36px;
    margin-left: 1px;
    text-align: center;
    /* center inner icons */
    justify-content: center;
    align-items: center;
}
.mod-toolbox-rd .tb-window-header .buttons a:hover,
.mod-toolbox-rd .tb-popup-header .buttons a:hover,
.mod-toolbox-rd .tb-notification-header .buttons a:hover {
    background-color: #9FBAD6;
}

/* Content resets */
.mod-toolbox-rd .tb-window-wrapper,
.mod-toolbox-rd .tb-popup-content,
.mod-toolbox-rd .tb-notification-content {
    line-height: normal; /* Reset for new Reddit, fixes lots of stupid things */
}
.mod-toolbox-rd .tb-popup-content,
.mod-toolbox-rd .tb-notification-content {
    overflow: auto;
    padding: 5px !important;
}

/* Footer stuff */
.mod-toolbox-rd .tb-popup-footer,
.mod-toolbox-rd .tb-window-footer {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CEE3F8;
}
/* Window footers are slightly larger */
.mod-toolbox-rd .tb-window-footer {
    height: 40px;
}

/** Window-specific stuff **/

/* Window tabs */
.mod-toolbox-rd .tb-window-tabs {
    display: inline-block;
    width: 135px;
    height: 100%;
}

.mod-toolbox-rd .tb-window-tabs a {
    background-color: #C7D6E6;
    display: block;
    padding: 7px;
    box-sizing: border-box !important;
    font-size: 11px;
}
.mod-toolbox-rd .tb-window-tabs a.active,
.mod-toolbox-rd .tb-window-tabs a:hover {
    background-color: #9FBAD6;
}
.mod-toolbox-rd .tb-window-tabs-header {
    padding: 7px 0;
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
}
.mod-toolbox-rd .tb-window-tabs-category {
    background-color: #C7D6E6;
    padding-left: 7px;
}
.mod-toolbox-rd .tb-window-tabs-category a {
    border-left: 1px solid #FFF;
}
.mod-toolbox-rd .tb-window-tabs * + * {
    border-top: 1px solid #FFF;
}

/* Window tab content */
.mod-toolbox-rd .tb-window-tabs-wrapper { /* Bad name - this element wraps the tab content */
    display: inline-block;
    vertical-align: top;
    /* Leave space for the tabs on the left */
    width: calc(100% - 135px);
}

/* TODO: why? */
.mod-toolbox-rd .tb-window-wrapper a:not(.tb-comment-author):hover {
    color: #000 !important;
}

/* Horizontal tabs for stuff like the profile */
.mod-toolbox-rd .tb-overlay-horizontal-tabs .tb-window-tabs {
    display: flex;
    width: 100%;
    flex-direction: row;
    background: #c7d6e6;
    /*
     * just to be safe, though if the tabs need multiple lines you should
     * probably not be using horizontal tabs
     */
    flex-wrap: wrap;
}
.mod-toolbox-rd .tb-overlay-horizontal-tabs .tb-window-tabs a {
    border-right: solid 1px #FFF;
}
.mod-toolbox-rd .tb-overlay-horizontal-tabs .tb-window-tabs a + a {
    border-top: 0;
}
.mod-toolbox-rd .tb-overlay-horizontal-tabs .tb-window-tabs-wrapper {
    /* No tabs on the left, so content gets full width */
    width: 100%;
}

/* Pager for displaying paginated content */
.mod-toolbox-rd .tb-pager .tb-pager-controls {
    text-align: center;
    margin-bottom: 5px;
}
.mod-toolbox-rd .tb-pager .tb-pager-control-active {
    background-color: #B6C9DD;
}

/* In-page notifications */
.mod-toolbox-rd #tb-notifications-wrapper {
    position: fixed;
    bottom: 42px;
    right: 10px;
    width: 300px;
}
/* Leave space for the context menu handle when it's on the right side */
.mod-toolbox-rd.tb-has-context-right #tb-notifications-wrapper {
    right: 30px;
}
.mod-toolbox-rd .tb-notification {
    background: #FFF;
    margin-top: 5px;
    cursor: default;
    box-shadow: rgba(160, 177, 193, 0.4) 0px 1px 3px 1px;
}
.mod-toolbox-rd .tb-notification-content {
    font-size: 11px;
}
.mod-toolbox-rd .tb-notification-content p + p {
    margin-top: 0.5em;
}
