/** Windows **/

/* Box sizing reset for custom sub CSS */
.mod-toolbox-rd .tb-window,
.mod-toolbox-rd .tb-window *,
.mod-toolbox-rd .tb-window *::before,
.mod-toolbox-rd .tb-window *::after {
    box-sizing: content-box;
}

/* Header/titlebar */
.mod-toolbox-rd .tb-window-header {
    display: flex;
    background-color: #CEE3F8;
    line-height: 26px;
    white-space: nowrap;
}
.mod-toolbox-rd .tb-window-header::before {
    /* Pseudo-element added to the beginning of the window to help center titles */
    content: "";
    flex: 1;
}
.mod-toolbox-rd .tb-window-title {
    flex: 1;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 0;
    margin: 0 10px;
}
/* Close/help buttons */
.mod-toolbox-rd .tb-window-header .buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.mod-toolbox-rd .tb-window-header .buttons a {
    display: flex;
    background-color: #C7D6E6;
    width: 36px;
    margin-left: 1px;
    text-align: center;
    /* center inner icons */
    justify-content: center;
    align-items: center;
}
.mod-toolbox-rd .tb-window-header .buttons a:hover {
    background-color: #9FBAD6;
}

/* Tabs */
.mod-toolbox-rd .tb-window-tabs {
    background-color: #C7D6E6;
}
.mod-toolbox-rd .tb-window-tabs a {
    background-color: #C7D6E6;
    border-style: dotted;
    border-color: #A8B5C2;
    border-width: 0;
    border-right-width: 1px;
    font-size: 11px;
    display: inline-block;
    padding: 4px;
    cursor: pointer;
}
.mod-toolbox-rd .tb-window-tabs a:hover,
.mod-toolbox-rd .tb-window-tabs a.active {
    background-color: #9FBAD6;
    border-style: solid;
    border-color: #9FBAD6;
}
.mod-toolbox-rd .tb-window-tabs a:not(:first-child):hover,
.mod-toolbox-rd .tb-window-tabs a:not(:first-child).active {
    box-shadow: -1px 0 #9FBAD6;
}

/* Content resets */
.mod-toolbox-rd .tb-window,
.mod-toolbox-rd .tb-window-content {
    line-height: normal; /* Reset for new Reddit, fixes lots of stupid things */
}
.mod-toolbox-rd .tb-window-content:not(.tb-window-large) {
    overflow: auto;
    padding: 5px !important;
}

/* Footer stuff */
.mod-toolbox-rd .tb-window-footer {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CEE3F8;
}

/* Vertical tabs modifier*/

/* Move tab bar next to the content pane */
.mod-toolbox-rd .tb-window-vertical-tabs .tb-window-tabs {
    display: inline-block;
    width: 135px;
}
.mod-toolbox-rd .tb-window-vertical-tabs .tb-window-tabs-wrapper { /* Bad name - this element wraps the tab content */
    display: inline-block;
    vertical-align: top;
    /* Leave space for the tabs on the left */
    width: calc(100% - 135px);
}

/* Restyle the tab buttons to be vertical */
.mod-toolbox-rd .tb-window-vertical-tabs .tb-window-tabs a {
    border-right-width: 0;
    border-bottom-width: 1px;
    display: block;
}
.mod-toolbox-rd .tb-window-vertical-tabs .tb-window-tabs a:not(:first-child):hover,
.mod-toolbox-rd .tb-window-vertical-tabs .tb-window-tabs a:not(:first-child).active {
    box-shadow: 0 -1px #9FBAD6;
}

/* Vertical tab bars can also have categories and getting them to look nice is a pain */
.mod-toolbox-rd .tb-window-vertical-tabs .tb-window-tabs-header {
    padding: 4px 0 !important;
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
}
.mod-toolbox-rd .tb-window-vertical-tabs .tb-window-tabs-category {
    background-color: #C7D6E6;
    padding-left: 4px;
    border-bottom: 1px dotted #A8B5C2;
}
.mod-toolbox-rd .tb-window-vertical-tabs .tb-window-tabs-category a {
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
}
.mod-toolbox-rd .tb-window-vertical-tabs .tb-window-tabs-category a + a {
    border-top-width: 0;
}
.mod-toolbox-rd .tb-window-vertical-tabs a:last-child {
    border-bottom-width: 0;
}
.mod-toolbox-rd .tb-window-vertical-tabs .tb-window-tabs-header + a:hover,
.mod-toolbox-rd .tb-window-vertical-tabs .tb-window-tabs-header + a.active {
    /* !important to override specificity of above box-shadow rule */
    box-shadow: none !important;
}
.mod-toolbox-rd .tb-window-vertical-tabs .tb-window-tabs-category a:last-child:hover,
.mod-toolbox-rd .tb-window-vertical-tabs .tb-window-tabs-category a:last-child.active {
    box-shadow: 0 -1px #9FBAD6, 0 1px #9FBAD6;
}


/* Large windows get bigger headers, tabs, and footers */
.mod-toolbox-rd .tb-window-large .tb-window-header {
    line-height: 36px;
    font-size: 14px;
}
.mod-toolbox-rd .tb-window-large .tb-window-tabs a {
    padding: 7px;
}
.mod-toolbox-rd .tb-window-vertical-tabs .tb-window-tabs-header {
    padding: 7px 0;
}
.mod-toolbox-rd .tb-window-large .tb-window-tabs-category {
    padding-left: 7px;
}
.mod-toolbox-rd .tb-window-large .tb-window-footer {
    height: 40px;
}

/* TODO: why? */
.mod-toolbox-rd .tb-window-large a:not(.tb-comment-author):hover {
    color: #000 !important;
}

/* In-page notifications */
.mod-toolbox-rd #tb-notifications-wrapper {
    position: fixed;
    bottom: 42px;
    right: 10px;
    width: 300px;
}
/* Leave space for the context menu handle when it's on the right side */
.mod-toolbox-rd.tb-has-context-right #tb-notifications-wrapper {
    right: 30px;
}
.mod-toolbox-rd #tb-notifications-wrapper > .tb-window {
    margin-top: 5px;
}