div#tb-snoo-footer {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 50px auto auto auto;
}

/*
========================

    TB warning

========================
*/

body.mod-toolbox[toolbox-warning]::before {
    position: fixed;
    content: attr(toolbox-warning);
    right: 40px;
    bottom: 50px;
    z-index: 2147483644;
    color: #ec1313d6;
    background-color: rgba(206, 227, 248, 0.86);
    padding: 5px;
    font-size: 14px;
}

/*
========================

    TB reddit css fixes

========================
*/

.mod-toolbox-new-modmail a,
.mod-toolbox-profile a {
    text-decoration: none;
}

.mod-toolbox-rd .tb-frontend-container[data-tb-type="post"] {
    display: block;
    margin-bottom: 3px;
}

.mod-toolbox-rd .tb-frontend-container[data-tb-type="TBpostAuthor"],
.mod-toolbox-rd .tb-frontend-container[data-tb-type="TBcommentAuthor"] {
    /* Spacing fix for user buttons on old Reddit (why is whitespace significant in HTML reeeee) */
    display: inline-flex;
    margin-right: 0.5em;
}

/* Set the order of author buttons */
.mod-toolbox-rd .tb-modnote-badge {order: 1}
.mod-toolbox-rd .tb-usernote-button {order: 2}
.mod-toolbox-rd .global-mod-button {order: 3}
.mod-toolbox-rd .user-history-button {order: 4}
.mod-toolbox-rd .tb-user-profile {order: 5}

.mod-toolbox-rd.tb-modbar-shown .jowVts,
.mod-toolbox-rd.tb-modbar-shown .pinned-to-bottom {
    bottom: 31px
}

/*
========================

    TB Font stuff
    TODO: Move a bunch of general font sizing stuff here for overview

========================
*/

/* Let's use verdana for toolbox stuff. Can't get used to the reddit font */
.mod-toolbox-rd.mod-toolbox-extra .tb-window,
.mod-toolbox-rd #tb-bottombar,
.mod-toolbox-rd #tb-context-menu,
.mod-toolbox-rd #tb-notifications-wrapper,
.mod-toolbox-rd .tb-input {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px !important;
}



/*
========================

    TB Icons

========================
*/

html body.mod-toolbox-rd .tb-icons {
    font-family: 'Material Icons' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 19px;  /* Preferred icon size */
    color: #46596d;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

html body.mod-toolbox-rd .tb-icons-negative {
    color: #d6393c;
}
html body.mod-toolbox-rd.mod-toolbox-extra .tb-icons.tb-icons-negative:hover {
    color: #9b292b !important;
}

html body.mod-toolbox-rd .tb-icons-positive {
    color: #36a74a;
}
html body.mod-toolbox-rd.mod-toolbox-extra .tb-icons.tb-icons-positive:hover {
    color: #247533 !important;;
}


html body.mod-toolbox-rd .tb-icons-align-middle {
    vertical-align: middle;
}


/*
========================

    TB UI: Overlays, pop-ups

========================
*/


/*
------------
    Consistent styling for inputs
------------
*/

body.mod-toolbox-rd.mod-toolbox-extra .tb-input {
    border: solid 1px #c7d6e7;
    font-size: 1em;
    padding: 5px;
    line-height: 1.4;
    background-color: #fff;
    color: #000;
    color-scheme: none;
}

body.mod-toolbox-rd.mod-toolbox-extra .tb-input:focus-visible {
    outline-color: #9fbad7;
    border-color: #9fbad7;
    color-scheme: none;
}

/*
------------
    Context menu
------------
*/
/* TODO: this could be CSS only tbh */
.mod-toolbox-rd #tb-context-menu {
    align-items: center;
    min-height: 30px;
    display: none;
    position: fixed;
    bottom: 60px;
    z-index: 6000;
    padding: 0;
    background-color: rgba(226, 238, 250, 1);
    font-size: 11px;
    color: #696969;
    border: 1px solid #B6C9DD;
    text-align: left;
    background-repeat: no-repeat;
    background-position-y: 3px;
}

.mod-toolbox-rd #tb-context-menu.show-context-left {
    left: 0px;
    border-left: 0;
}
.mod-toolbox-rd #tb-context-menu.show-context-right {
    right: 0px;
    border-right: 0;
    flex-direction: row-reverse; /* So the arrow shows up on the other side */
}


.mod-toolbox-rd #tb-context-menu.show-tb-context {
    display: flex;
}
.mod-toolbox-rd #tb-context-menu #tb-context-header {
    font-weight: bold;
    padding: 5px;
    display: block;
    line-height: normal;
}
.mod-toolbox-rd #tb-context-menu-list {
    width: 100%;
}
.mod-toolbox-rd #tb-context-menu-wrap {
    width: 0;
    height: 0;
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: 300ms;
}

.mod-toolbox-rd #tb-context-menu.click-activated {
    cursor: pointer;
}

.mod-toolbox-rd #tb-context-menu.hover-activated:hover #tb-context-menu-wrap,
.mod-toolbox-rd #tb-context-menu.open #tb-context-menu-wrap {
    width: auto;
    height: auto;
    opacity: 1;
}

.mod-toolbox-rd #tb-context-menu.fade:not(:hover) {
    animation: tb-context-fade 3s;
    animation-iteration-count: infinite;
}

@keyframes tb-context-fade {
    0% {opacity: 0.2}
    50% {opacity: 1}
    100%{opacity: 0.2}
}

/* When the menu is opened on click, flip the arrow around to indicate clicking it again closes it */
.mod-toolbox-rd #tb-context-menu .tb-context-arrow {
    transition: 300ms;
}
.mod-toolbox-rd #tb-context-menu.open .tb-context-arrow {
    transform: rotate(180deg);
    transform-origin: center;
}



.mod-toolbox-rd #tb-context-menu-list li {
    background: rgba(247, 250, 253, 1);
    border-top: 1px solid #CCD1D7;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    cursor: pointer;
    font-size: 12px;
}

.mod-toolbox-rd #tb-context-menu-list li:hover {
    background-color: rgba(174, 212, 250, 0.5);
}

.mod-toolbox-rd #tb-context-menu-list .tb-icons {
    margin-right: 5px;
}

.mod-toolbox-rd .show-context-left #tb-context-menu-list li {
    border-right: 1px solid #CCD1D7;
}
.mod-toolbox-rd .show-context-right #tb-context-menu-list li {
    border-left: 1px solid #CCD1D7;
}


/*
------------
    Overlay windows.
    TODO: Clean up css and remove duplicate code.
------------
*/

.mod-toolbox-rd .tb-page-overlay {
    padding: 10px 15px !important;
    background-color: rgba(35, 41, 47, 0.84);
    border: 0;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 2147483644 !important;
}

.mod-toolbox-rd.tb-modbar-shown .tb-page-overlay {
    margin-bottom: 31px;
}

.mod-toolbox-rd .tb-page-overlay .tb-window {
    position: relative;
    top: 40px;
    max-width: 1100px;
    margin-right: auto !important;
    margin-left: auto !important;
    padding: 0 !important;
    background-color: #FFF;
    border: 0;
    margin-bottom: 150px;
}

/*
 config and settings need a slightly higher z-index so popups don't go over them but do go over other overlays.
*/
.mod-toolbox-rd .tb-page-overlay.tb-personal-settings,
.mod-toolbox-rd .tb-page-overlay.tb-config {
    z-index: 2147483646 !important;
}

.mod-toolbox-rd .tb-oldreddit-settings {
    background-color: #f3f3f3;
}

.mod-toolbox-rd .tb-oldreddit-settings h1 {
    font-size: 18px;
    font-weight: bold;
}
.mod-toolbox-rd ul.inline-list { display: inline; }
.mod-toolbox-rd ul.inline-list li { display: inline; }
.mod-toolbox-rd ul.inline-list li:after { content: ','; }
.mod-toolbox-rd ul.inline-list li:last-child:after { content: ''; }
.mod-toolbox-rd ul.inline-list li:nth-last-child(2):after { content: ', and';}

.mod-toolbox-rd .tb-settings .tb-window {
    max-width: 845px;
}

.mod-toolbox-rd .tb-window-two {
    position: relative;
    top: 60px;
    max-width: 1000px;
    margin-right: auto !important;
    margin-left: 50px !important;
    padding: 0 !important;
    background-color: #FFF;
    border: solid 1px #A2BAD3;
    box-shadow: 0 1px 3px 1px rgba(214, 214, 214, 0.47);
}


.mod-toolbox-rd .tb-window-footer.tb-footer-save-warning {
    height: 60px;
}

.mod-toolbox-rd .tb-save-warning {
    background: #f7fafd;
    color: #ef420b;
    height: 25px;
    line-height: 25px;
    margin-bottom: 5px;
}

.mod-toolbox-rd .tb-window-spacer {
    background-color: #8d9caa;
    display: inline-block;
    border-right: 1px dotted #A8B5C2;
    height: 34px;
    line-height: 34px;
}

.mod-toolbox-rd .tb-window-content:not([class^="CodeMirror"]) {
    overflow: auto;
    left: 0;
    right: 0;
    padding: 5px !important;
    font-size: 12px !important;
}

.mod-toolbox-rd .tb-window-content input {
    padding: 2px;
    margin: 2px;
}

.mod-toolbox-rd .tb-window-content  a.tb-setting-link,
.mod-toolbox-rd.mod-toolbox-rd .tb-gen-setting-link,
.mod-toolbox-rd.mod-toolbox-rd .tb-module-setting-link {
    color: rgb(70 89 109 / 50%);
    display: inline-block;
    vertical-align: middle;
}

.mod-toolbox-rd .tb-window-content  a.tb-setting-link.active-link,
.mod-toolbox-rd .tb-gen-setting-link.active-link,
.mod-toolbox-rd .tb-module-setting-link.active-link {
    color: rgb(70, 89, 109);
}

.mod-toolbox-rd .tb-window-content  input.tb-setting-input {
    font-style: italic;
}


.mod-toolbox-rd .tb-close {
    cursor: pointer;
}

.mod-toolbox-rd .tb-help,.mod-toolbox-rd .tb-help-main {
    cursor: pointer;
}

.mod-toolbox-rd .tb-help-content, .mod-toolbox-rd .tb-help-config-content,  .mod-toolbox-rd .tb-help-main-content {
    display: none;
}

/* tbsettings paragraph */
.mod-toolbox-rd .tb-window-content p.tb-settings-p {
    padding-top: 6px !important;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    border-bottom: 1px dotted #E0E0E0;
}

.mod-toolbox-rd .tb-window-content .tb-input[type="text"],
.mod-toolbox-rd .tb-window-content textarea.tb-input {
    width: calc(100% - 16px); /* 16px = margin + border + padding */
}

/* TODO: what's this for? */
.mod-toolbox-rd .tb-mark-unread {
    width: 100%;
    cursor: pointer;
    padding: 5px;
    color: #369;
    font-size: 200%;
    font-weight: bold;
}
.mod-toolbox-rd .tb-mark-unread:hover {
    text-decoration: underline;
}

/* Settings tables */
.mod-toolbox-rd .tb-window-content-shortcuts-table td,
.mod-toolbox-rd .tb-map-input-table td {
    width: 50%;
    padding: 3px;
}
.mod-toolbox-rd .tb-window-content-shortcuts-td-remove,
.mod-toolbox-rd .tb-map-input-td-remove {
    width: 25px;
}


.mod-toolbox-rd .tb-form td {
    padding: 2px;
}

.mod-toolbox-rd .tb-form td:first-child {
    width: 10%;
}

.mod-toolbox-rd .tb-form td:last-child {
    width: 90%;
}

.mod-toolbox-rd .tb-form .edit-header, .mod-toolbox-rd .tb-form .edit-footer {
    width: 98%;
    height: 100px;
}

/* Module settings stuff */

.mod-toolbox-rd .tb-oldReddit-module {
    color: rgb(70, 89, 109);
    font-size: 0.8em;
}

.mod-toolbox-rd .tb-window-tabs .tb-module-disabled {
    background-color: #D6D9DD;
    color: #808080;
}

.mod-toolbox-rd .tb-window-tab .tb-module-disabled {
    font-size: 14px;
    display: block;
    padding: 4px;
    background-color: #F7F7F7;
    color: #808080;
    font-weight: bold;
}

.mod-toolbox-rd .tb-window-content a.tb-help-toggle {
    font-weight: bold;
}





/*
------------
    Pop-ups
    TODO: Remove duplicate css and make sure all our popups use the same classes. This is currently NOT the case.
------------
*/

.mod-toolbox-rd .tb-window {
    max-width: 1000px;
    padding: 0 !important;
    background-color: #FFF;
    border: 0;
    box-shadow: rgba(160, 177, 193, 0.4) 0px 1px 3px 1px;
}

.mod-toolbox-rd .tb-window.tb-window-draggable {
    position: absolute;
    z-index: 2147483645 !important;
}

.mod-toolbox-rd .mod-popup .other-subs {
    padding: 5px;
}

.mod-toolbox-rd .mod-popup .ban-note,
.mod-toolbox-rd .mod-popup .ban-message {
    margin-bottom: 3px;
}

.mod-toolbox-rd .mod-popup-flair-label {
    display: inline-block;
    min-width: 35px;
}

.mod-toolbox-rd .mod-popup-flair-input {
    padding: 3px;
}

.mod-toolbox-rd .mod-popup .flair-text,
.mod-toolbox-rd .mod-popup .flair-class {
    width: initial !important;
}

.mod-toolbox-rd .mod-popup .mod-popup-flair-input label[for="flair-template-id"] {
    vertical-align: super !important;
}

.mod-toolbox-rd .tb-window-error {
    color: red;
}

.mod-toolbox-rd .mod-popup .subreddit-message {
    min-width: 235px;
    min-height: 65px;
}

.mod-toolbox-rd .mod-popup .subreddit-message-subject {
    min-width: 235px;
    margin-bottom: 3px;
    padding: 1px;
}

.mod-toolbox-rd .mod-popup .add-sub-link {
    text-decoration: none;
}

.mod-toolbox-rd .mod-popup .remove-sub-link {
    text-decoration: none;
}

body.mod-toolbox-rd .mod-popup .tb-action-button.global-button.action-hidden {
    display: none !important;
}

body.mod-toolbox-rd .mod-popup .tb-action-button.global-button {
    text-decoration: none !important;
    color: red !important;
}

.mod-toolbox-rd .mod-popup .current-sub,
.mod-toolbox-rd .mod-popup .saved-subs div,
.mod-toolbox-rd .mod-popup div.other-sub,
.mod-toolbox-rd .mod-popup .ban-note-container {
    width: 225px;
    border-bottom: 1px dotted gray;
    padding: 5px;
}

.mod-toolbox-rd .mod-popup .current-sub {
    border-bottom: 1px solid gray;
}

.mod-toolbox-rd .mod-popup .ban-note-container {
    width: auto;
    border: none;
}

.mod-toolbox-rd .mod-popup .ban-note {
    width: calc(100% - 10px);
}

.mod-toolbox-rd .mod-popup .ban-message {
    width: calc(100% - 10px);
    margin-top: 0;
}

.mod-toolbox-rd .mod-popup .ban-duration {
    width: 100px;
}

.mod-toolbox-rd .mod-popup .edit-subreddits {
    width: 260px;
}

.mod-toolbox-rd .mod-popup .edit-dropdown {
    width: 190px;
}

/*
------------
    Debug window
    TODO: Determine if this belongs here or in modbar.css
    TODO: Determine what of this needs to be its own css and what can be converted to make use of overlay css.
------------
*/

.mod-toolbox-rd .tb-debug-window {
    position: fixed;
    bottom: 41px;
    right: 20px;
    min-width: 700px;
    max-width: none;
    min-height: 286px;
}

.mod-toolbox-rd .tb-debug-header {
    right: 0;
    left: 0;
    display: block;
    background-color: #CEE3F8;
    text-align: center;
    font-weight: bold;
    padding: 0 !important;
    font-size: small;
    border-bottom: solid 1px #B6C9DD;
    position: relative;
    height: 20px;
    line-height: 20px;
}

.mod-toolbox-rd .tb-debug-window .tb-window-content {
    box-sizing: content-box;
}

.mod-toolbox-rd .tb-debug-footer {
    width: 100%;
    height: 25px;
    line-height: 25px;
    display: block;
    background-color: #CEE3F8;
    text-align: center;
    border-top: solid 1px #B6C9DD;
}

.mod-toolbox-rd .tb-debug-header-options {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #C7D6E6;
    line-height: 20px;
    border-left: 1px solid #B6C9DD;
}

.mod-toolbox-rd .tb-debug-header-options:hover {
    background-color: #9FBAD6;
}


.mod-toolbox-rd .tb-debug-console {
    width: 100%;
    height: 220px;
    font: normal small CONSOLAS, COURIER,"COURIER NEW", Monospace;
    -webkit-appearance: textarea;
    background-color: white;
    border: 1px solid;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    user-select: text;
    -webkit-flex-direction: column;
    flex-direction: column;
    cursor: auto;
    padding: 2px !important;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
}

.mod-toolbox-rd .tb-debug-input {
    width: 100%;
    box-sizing: border-box;
}


.mod-toolbox-rd #tb-debug-header-handle {
    left: 0;
    top: 0;
    display: inline-block;
    right: 20px;
}


/*
========================

    TB UI: Buttons

========================
*/


/*
------------
    General buttons, are used for blending in with reddit but still making it clear they are there for toolbox functionality.
    Do NOT use in cases where you would normally use button elements. That is what the action button css is for.
------------
*/

body.mod-toolbox-rd .tb-usernote-button,
body.mod-toolbox-rd .tb-history-button {
    display: inline-block;
}

body.mod-toolbox-rd .tb-general-button,
body.mod-toolbox-rd li a.tb-general-button,
body.mod-toolbox-rd .tb-bracket-button {
    background-color: rgba(182, 201, 221, 0.23);
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 0 2px;
    font-variant: normal;
    color: #696969;
    font-size: 11px;
    font-weight: normal;
    border-width: 0 0 0 3px;
    border-color: #B6C9DD;
    border-style: solid;
    box-shadow: none;
    padding: 1px 5px;
    cursor: pointer;
    display: inline-block;
    box-sizing: content-box;
    height: 15px;
    line-height: 15px;
    vertical-align: baseline;
    text-shadow: none;
    text-align: center;
    text-indent: 0px;
    text-transform: none;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    outline: none;
}

body.mod-toolbox-rd .tb-bracket-button {
    padding: 1px 1px 0 1px;
    font-size: 10px;
    line-height: 10px;
    height: 12px;
}

body.mod-toolbox-rd .tb-general-button:hover,
body.mod-toolbox-rd li a.tb-general-button:hover {
    background-color: #E2EEFA;
    text-decoration: none;
}

body.mod-toolbox-rd .tb-general-button img {
    vertical-align: top;
}

/* Handle icons within buttons */
body.mod-toolbox-rd .tb-general-button .tb-icons,
body.mod-toolbox-rd li a.tb-general-button .tb-icons,
body.mod-toolbox-rd .tb-bracket-button .tb-icons {
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
}

/* handle bracket buttons within the hovercard api container */
body.mod-toolbox-rd .tb-frontend-container[data-tb-type="TBuserHovercard"] {
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
body.mod-toolbox-rd .tb-frontend-container[data-tb-type="userHovercard"] {
    margin: 3px 0 3px 8px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

body.mod-toolbox-rd .tb-frontend-container[data-tb-type="TBuserHovercard"] .tb-bracket-button.tb-history-button,
body.mod-toolbox-rd .tb-frontend-container[data-tb-type="TBuserHovercard"] .tb-bracket-button,
body.mod-toolbox-rd .tb-frontend-container[data-tb-type="userHovercard"] .tb-bracket-button.tb-history-button,
body.mod-toolbox-rd .tb-frontend-container[data-tb-type="userHovercard"] .tb-bracket-button {
    display: block;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    font-size: 12px;
    height: 17px;
    line-height: 17px;
}


/* New modmail sidebar toolbox buttons styling */
.mod-toolbox-rd .tb-modmail-sidebar-container {
    margin-block-start: 0.5rem;
    padding-inline: 1rem;
}





/*
-----------
    Comment rebuilding css
-----------
*/

.mod-toolbox-rd .tb-comment-children:not(:first-of-type) {
    margin-left: 10px;

}

.mod-toolbox-rd .tb-comment-entry {
    margin-left: 7px;
}

.mod-toolbox-rd .tb-comment {
    margin: 5px;
    padding: 5px;
}

.mod-toolbox-rd .tb-comment.tb-comment-even {
    background-color: #f1f1f1;
}

.mod-toolbox-rd .tb-comment.tb-comment-odd {
    background-color: #fff;
}

.mod-toolbox-rd .tb-comment-body {
    margin-left: 10px;
    margin-top: 5px;
}


.mod-toolbox-rd .tb-parent {
    font-size: 10px;
    margin-bottom: 5px;
    line-height: 15px;
}

.mod-toolbox-rd .tb-parent .tb-link-title {
    font-size: 13px;
}

.mod-toolbox-rd .tb-more-comments {
    margin: 5px;
    padding: 5px;
    display: block;
    font-size: 10px;
}

.mod-toolbox-rd .tb-more-comments a {
    font-weight: bold;
}

/*
-----------
    Submission entry rebuilding css
-----------
*/
.mod-toolbox-rd .tb-submission-entry {
    width: 100%;
    margin-top: 5px;
}

.mod-toolbox-rd .tb-pinned-tagline,
.mod-toolbox-rd .tb-page-overlay .tb-submission.pinned .tb-submission-title a.tb-title {
    font-weight: bold;
    color: #008985;
}


.mod-toolbox-rd .tb-submission-score {
    margin: 20px 0;
    color: #c6c6c6;
    font-weight: bold;
    width: 4em;
    text-align: center;
}

.mod-toolbox-rd .tb-submission-score.liked {
    color: #FF8B60;
}

.mod-toolbox-rd .tb-submission-score.disliked {
    color: #9494FF;
}
.mod-toolbox-rd .tb-submission {
    display: flex;
    margin: 5px;
    padding: 5px;
    background-color: #f1f1f1;
}

.mod-toolbox-rd .tb-submission-title a {
    font-size: 16px;
}

.mod-toolbox-rd .tb-submission-title span.tb-domain,
.mod-toolbox-rd .tb-submission-title span.tb-domain a {
    font-size: 10px;
}

.mod-toolbox-rd .tb-self-expando-button {
    float: left;
    color: #808080;
    background: #d8d8d8;
    height: 25px;
    width: 25px;
    margin: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mod-toolbox-rd .tb-self-expando-button:hover {
    background: #808080;
    color: #d8d8d8;
}

.mod-toolbox-rd .tb-self-expando {
    margin-top: 5px;
    display: none;
}


.mod-toolbox-rd .tb-noImage-thumbnail {
    height: 40px;
    width: 70px;
    background: #d8d8d8;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    text-decoration: none !important;
    color: #808080;
}

.mod-toolbox-rd  a.tb-submission-thumbnail {
    margin: 5px;
}

.mod-toolbox-rd .tb-submission-thumbnail.nsfw .tb-noImage-thumbnail {
    color: #d10023;
    border: solid 1px #d10023;
}

/*
-----------
    Comment & submission entry rebuilding css (shared)
-----------
*/

.mod-toolbox-rd .tb-nsfw-stamp {
    color: #d10023;
}

.mod-toolbox-rd .tb-stamp {
    border: 1px solid;
    display: inline-block;
    font-size: 10px;
    line-height: 14px;
    padding: 0 4px;
}

.mod-toolbox-rd .tb-stamp acronym {
    text-decoration: none;
}

.mod-toolbox-rd .tb-tagline {
    font-size: 10px;
    padding: 3px;
}


.mod-toolbox-rd .tb-submission-buttons,
.mod-toolbox-rd .tb-comment-buttons {
    font-size: 11px;
    margin-left: 8px;
    margin-bottom: 8px;
}



.mod-toolbox-rd .tb-actioned-button,
.mod-toolbox-rd .tb-submission-button,
.mod-toolbox-rd .tb-comment-button {
    margin-right: 10px;
}

.mod-toolbox-rd .tb-replacement .tb-thing-button
.mod-toolbox-rd .tb-replacement .tb-actioned-button,
.mod-toolbox-rd .tb-replacement .tb-submission-button,
.mod-toolbox-rd .tb-replacement .tb-comment-button {
    margin: inherit;
}


.mod-toolbox-rd .tb-actioned-button.tb-actioned-error {
    color: #d10023;
}

.mod-toolbox-rd .tb-submission-button
.mod-toolbox-rd .tb-comment-button {
    text-decoration: underline;
}

.mod-toolbox-rd .tb-self-expando .md,
.mod-toolbox-rd .tb-comment-body .md {
    color: #222222;
    max-width: 60em;
}

.mod-toolbox-rd .tb-submission .tb-self-expando .md p,
.mod-toolbox-rd .tb-comment .tb-comment-body .md p {
    border: none;
    padding: 0;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 1.32;
}

.mod-toolbox-rd .tb-submission .tb-self-expando .md s,
.mod-toolbox-rd .tb-comment .tb-comment-body .md s
.mod-toolbox-rd .tb-submission .tb-self-expando .md strike,
.mod-toolbox-rd .tb-comment .tb-comment-body .md strike
.mod-toolbox-rd .tb-submission .tb-self-expando .md del,
.mod-toolbox-rd .tb-comment .tb-comment-body .md del {
    text-decoration: line-through;
    font-weight: inherit;
}

.mod-toolbox-rd .tb-submission .tb-self-expando .md em,
.mod-toolbox-rd .tb-comment .tb-comment-body .md em {
    font-style: italic;
    font-weight: inherit;
}

.mod-toolbox-rd .tb-submission .tb-self-expando .md strong,
.mod-toolbox-rd .tb-comment .tb-comment-body .md strong {
    font-weight: 600;
    font-style: inherit;
}

.mod-toolbox-rd .tb-comment .tb-self-expando .md code,
.mod-toolbox-rd .tb-comment .tb-comment-body .md code {
    margin: 0 2px;
    padding: 0 4px;
    white-space: nowrap;
    word-break: normal;
    font-style: normal;
    font-weight: normal;
    font-family: monospace,monospace;
}

.mod-toolbox-rd .tb-comment .tb-self-expando .md pre,
.mod-toolbox-rd .tb-comment .tb-comment-body .md pre,
.mod-toolbox-rd .tb-comment .tb-self-expando .md code,
.mod-toolbox-rd .tb-comment .tb-comment-body .md code {
    border: 1px solid #e6e6de;
    background-color: #fcfcfb;
}

.mod-toolbox-rd .tb-comment .tb-self-expando .md pre code,
.mod-toolbox-rd .tb-comment .tb-comment-body .md pre code {
    white-space: pre;
    background-color: transparent;
    border: 0;
    display: block;
    padding: 0!important;
}

.mod-toolbox-rd .tb-comment .tb-self-expando .md pre,
.mod-toolbox-rd .tb-comment .tb-comment-body .md pre {
    padding: 4px 9px;
    overflow: auto;
    margin-bottom: 5px;
}

.mod-toolbox-rd .tb-submission .tb-self-expando .md ol,
.mod-toolbox-rd .tb-comment .tb-comment-body .md ol {
    font-size: 13px;
    list-style-type: decimal;
    padding-left: 40px;
}

.mod-toolbox-rd .tb-submission .tb-self-expando .md ul,
.mod-toolbox-rd .tb-comment .tb-comment-body .md ul {
    font-size: 13px;
    list-style-type: disc;
    padding-left: 40px;
}

.mod-toolbox-rd .tb-submission .tb-self-expando .md ul li,
.mod-toolbox-rd .tb-comment .tb-comment-body .md ul li {
    line-height: 1.32;
    margin-bottom: 3px;
}

.mod-toolbox-rd .tb-submission .tb-self-expando .md h1,
.mod-toolbox-rd .tb-comment .tb-comment-body .md h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 3px;
}

.mod-toolbox-rd .tb-submission .tb-self-expando .md h2,
.mod-toolbox-rd .tb-comment .tb-comment-body .md h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 3px;
}

.mod-toolbox-rd .tb-submission .tb-self-expando .md h3,
.mod-toolbox-rd .tb-comment .tb-comment-body .md h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 3px;
}

.mod-toolbox-rd .tb-submission .tb-self-expando  table,
.mod-toolbox-rd .tb-comment .tb-comment-body table {
    margin-bottom: 5px;
}


.mod-toolbox-rd .tb-submission .tb-self-expando  table td,
.mod-toolbox-rd .tb-comment .tb-comment-body table td {
    border: solid 1px #d0d0d0;
    padding: 3px;
    text-align: left;
}

.mod-toolbox-rd .tb-submission .tb-self-expando  table th,
.mod-toolbox-rd .tb-comment .tb-comment-body table th {
    font-weight: bold;
    border: solid 1px #d0d0d0;
    padding: 3px;

}

.mod-toolbox-rd .tb-submission .tb-self-expando blockquote,
.mod-toolbox-rd .tb-comment .tb-comment-body blockquote {
    background: #eae5e5;
    padding: 3px;
    margin: 10px;
    color: #4c4c4c
}

.mod-toolbox-rd .tb-submission-flair,
.mod-toolbox-rd .tb-comment-flair {
    background-color: #d8d8d8;
    padding: 2px;
}

.mod-toolbox-rd .tb-award-silver {
    color: #7e7e7e;
}
.mod-toolbox-rd .tb-award-gold {
    color: #f78a17;
}
.mod-toolbox-rd .tb-award-platinum {
    color: #48a59a;
}

.mod-toolbox-rd .tb-submission-edited,
.mod-toolbox-rd .tb-comment-edited {
    font-style: italic;
}

.mod-toolbox-rd  .tb-submission.removed,
.mod-toolbox-rd  .tb-comment-entry.removed {
    border: solid 2px #ff0000;
}

.mod-toolbox-rd  .tb-submission.spammed,
.mod-toolbox-rd  .tb-comment-entry.spammed {
    border: solid 2px #a03030;
}


body.mod-toolbox-rd .tb-comment-entry.filtered a.tb-comment-button-remove,
body.mod-toolbox-rd .tb-submission.filtered a.tb-submission-button-remove,
body.mod-toolbox-rd a.tb-big-button.tb-comment-button-remove,
body.mod-toolbox-rd a.tb-big-button.tb-submission-button-remove {
    border: 1px solid #666;
    color: #000;
    padding: 1px 6px;
    background: rgb(191, 207, 224);

}

body.mod-toolbox-rd .tb-comment-entry.filtered a.tb-comment-button-spam,
body.mod-toolbox-rd .tb-submission.filtered a.tb-submission-button-spam,
body.mod-toolbox-rd a.tb-big-button.tb-comment-button-spam,
body.mod-toolbox-rd a.tb-big-button.tb-comment-button-spam,
body.mod-toolbox-rd a.tb-big-button.tb-submission-button-spam {
    border: 1px solid #666;
    color: #000;
    padding: 1px 6px;
    background: rgb(237, 189, 190);
}

body.mod-toolbox-rd .tb-comment-entry.filtered a.tb-comment-button-approve,
body.mod-toolbox-rd .tb-submission.filtered a.tb-submission-button-approve,
body.mod-toolbox-rd a.tb-big-button.tb-comment-button-approve,
body.mod-toolbox-rd a.tb-big-button.tb-comment-button-approve,
body.mod-toolbox-rd a.tb-big-button.tb-submission-button-approve {
    border: 1px solid #666;
    color: #000;
    padding: 1px 6px;
    background: rgb(209, 234, 191);
}

.mod-toolbox-rd a.tb-moderator {
    color: #228822;
}

.mod-toolbox-rd a.tb-submitter {
    color: #0055df;
}

.mod-toolbox-rd .tb-parent .tb-author,
.mod-toolbox-rd .tb-parent .tb-link-author,
.mod-toolbox-rd .tb-tagline .tb-comment-author {
    font-weight: bold;
}

.mod-toolbox-rd ul.tb-user-reports {
    width: 80%;
    background-color: #f6e69f;
    border: thin solid black;
    padding: 5px;
}

.mod-toolbox-rd ul.tb-user-reports li:first-of-type {
    margin-bottom: 5px;
    font-weight: bold;
}

.mod-toolbox-rd .tb-tagline .tb-submission-author:hover,
.mod-toolbox-rd .tb-tagline .tb-comment-author:hover {
    text-decoration: underline;
}

.mod-toolbox-rd.mod-toolbox-extra .tb-tagline .tb-submission-author.tb-submitter,
.mod-toolbox-rd.mod-toolbox-extra .tb-tagline .tb-comment-author.tb-submitter {
	color: #fff;
	background-color: #0055df;
	font-weight: bold;
	border-radius: 0px;
	padding: 0px 2px;
}

.mod-toolbox-rd.mod-toolbox-extra  .tb-tagline .tb-submission-author.tb-moderator,
.mod-toolbox-rd.mod-toolbox-extra  .tb-tagline .tb-comment-author.tb-moderator {
	color: #fff;
	background-color: #228822;
	font-weight: bold;
	border-radius: 0px;
	padding: 0px 2px;
}

.mod-toolbox-rd.mod-toolbox-extra  .tb-tagline .tb-submission-author.tb-admin,
.mod-toolbox-rd.mod-toolbox-extra  .tb-tagline .tb-comment-author.tb-admin {
	color: #fff;
	background-color: #e91e1e;
	font-weight: bold;
	border-radius: 0px;
	padding: 0px 2px;
}

.mod-toolbox-rd.mod-toolbox-extra  .tb-tagline .tb-submission-author.tb-unknown,
.mod-toolbox-rd.mod-toolbox-extra  .tb-tagline .tb-comment-author.tb-unknown {
	color: #fff;
	background-color: #ff8d64;
	font-weight: bold;
	border-radius: 0px;
	padding: 0px 2px;
}
.mod-toolbox-rd .tb-tagline .tb-submission-author.tb-submitter:hover,
.mod-toolbox-rd .tb-tagline .tb-submission-author.tb-moderator:hover,
.mod-toolbox-rd .tb-tagline .tb-submission-author.tb-admin:hover,
.mod-toolbox-rd .tb-tagline .tb-submission-author.tb-unknown:hover,
.mod-toolbox-rd .tb-tagline .tb-comment-author.tb-submitter:hover,
.mod-toolbox-rd .tb-tagline .tb-comment-author.tb-moderator:hover,
.mod-toolbox-rd .tb-tagline .tb-comment-author.tb-admin:hover,
.mod-toolbox-rd .tb-tagline .tb-comment-author.tb-unknown:hover {
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.mod-toolbox-rd .tb-submission-data,
.mod-toolbox-rd .tb-comment-data {
    margin: 5px;
    font-size: 10px;
}
/*
------------
    Action buttons, are used where you normally would use actual button elements and where you need to be absolutely certain they always show in the same way.
    This is ridiculously locked down because subreddit styles WON'T STOP TOUCHING NATIVE TOOLBOX STUFF - as always, toolbox loves you!
------------
*/


body.mod-toolbox-rd .tb-action-button.action-hidden {
    display: none;
}

/*
Because they are so locked down you cannot easily show or hide these buttons.
Apply the "tb-button-hidden" class to be able to hide them anyway.
*/
body.mod-toolbox-rd .tb-action-button.tb-button-hidden {
    display: none !important;
}

body.mod-toolbox-rd .tb-action-button {
    display: inline-block;
    height: 25px !important;
    vertical-align: bottom !important;
    padding: 2px 6px 3px 6px !important;
    font-family: verdana,arial,helvetica,sans-serif !important;
    font-size: 12px !important;
    line-height: 12px !important;
    text-shadow: none !important;
    text-decoration: none !important;
    text-align: left !important;
    text-indent: 0 !important;
    text-transform: none !important;
    font-stretch: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    background-color: #F7FAFD !important;
    border-radius: 1px !important;
    border-width: 1px 1px 2px 2px !important;
    border-color: #72869A !important;
    border-style: solid !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
    color: #17324E !important;
    transition: all 0.15s ease-in-out !important;
    outline: none !important;
}

body.mod-toolbox-rd .tb-action-button:active {
    border-width: 1px !important;
    border-color: #9FBAD6 !important;
    padding: 2px 6px 3px 6px !important;
    box-shadow: none !important;
    outline: none !important;
}

.mod-toolbox-rd select.tb-action-button {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFBAMAAACOSmBbAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAMFBMVEUAAAByhppyhppyhppyhppyhppyhppyhppyhppyhppyhppyhppyhppyhppyhpoAAAAzyklRAAAADnRSTlMAg+bd3+d6pqKNlZOkqEeC9h4AAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAJklEQVQI12OQU3YxfcbA/u7duwYGhnnvXjEwMHC/OwAkGfYyMAAApLAJ3r+t9WUAAAAASUVORK5CYII=');    background-repeat: no-repeat;
    background-position: right 5px center;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    padding: 1px 20px 2px 6px !important;
}


.mod-toolbox-rd select.tb-action-button:active {
    border-width: 1px 1px 2px 2px !important;
    padding: 1px 20px 2px 6px !important;
}

/* inline action buttons */

.mod-toolbox-rd .tb-action-button.inline-button {
    font-size: 11px !important;
    line-height: 11px !important;
    height: 20px !important;
}
.mod-toolbox-rd select.tb-action-button.inline-button {
    padding: 1px 15px 1px 5px !important;
    font-size: 11px !important;
    line-height: 11px !important;
    height: 20px !important;
}

.mod-toolbox-rd .tb-action-button.inline-button:active {
    padding: 2px 6px 4px 7px !important;
}

.mod-toolbox-rd select.tb-action-button.inline-button:active {
    border-width: 1px 1px 2px 2px !important;
    padding: 1px 15px 1px 5px !important;

}

.mod-toolbox-rd button.save-mod.tb-action-button,
.mod-toolbox-rd button.save-sticky.tb-action-button {
    box-sizing: border-box !important;
    height: 26px !important;
}

body.mod-toolbox-rd .tb-usertext-buttons .tb-action-button {
    vertical-align: initial !important
}

/* Hack to make mod sticky + save button only show up where it's supposed to -
   doing this via JS is hard because Reddit clones the reply field from the top-
   level one, and the button should be visible on top-level comments but not on
   replies to other comments. */
button.save-sticky.tb-action-button { display: none !important }
.mod-toolbox-rd .commentarea > form button.save-sticky.tb-action-button { display: inline-block !important; }


body.mod-toolbox-rd .tb-action-button:focus {
    outline: none !important;
}

body.mod-toolbox-rd .tb-action-button:hover {
    background-color: #E2EEFA !important;
    text-decoration: none !important;
    outline: none !important;
}



/*
========================

    TB UI: various

========================
*/

/* link colors (for those themes that change all the link colors */
body.mod-toolbox-rd .tb-page-overlay a:not(.tb-action-button):not(.tb-bracket-button):not(.tb-icons):not(.tb-submitter):not(.tb-comment-author):not(.tb-submission-author),
body.mod-toolbox-rd .tb-window a:not(.tb-action-button):not(.tb-bracket-button):not(.tb-icons):not(.tb-submitter):not(.tb-comment-author):not(.tb-submission-author),
body.mod-toolbox-rd #tb-bottombar a:not(.tb-action-button):not(.tb-bracket-button):not(.tb-icons) {
    color: #369;
}

/*
------------
    Feedback window
------------
*/

.mod-toolbox-rd #tb-feedback-window {
    max-width: 400px;
    position: fixed;
    z-index: 2147483647;
    top: 50%;
    left: 50%;
    padding: 10px;
    min-width: 150px;
    text-align: center;
    background-color: #CEE3F8;
    box-shadow: rgba(214, 214, 214, 0.47) 0 1px 3px 1px;
}

.mod-toolbox-rd #tb-feedback-window .tb-feedback-text {
    background-color: #FFF;
    margin: 0;
    display: block;
    padding: 5px;
    font-size: 12px;
}

.mod-toolbox-rd #tb-feedback-window.positive {
    background: #69d47d;
}

.mod-toolbox-rd #tb-feedback-window.negative {
    background: #ff7f4f;
}


/*
------------
    Highlighting plugin related css
------------
*/
.mod-toolbox-rd .tb-highlight {
    background-color: #ffff16;
}

.mod-toolbox-rd .tb-highlight-action-reason {
    background-color: #ffd016;
}

/*
------------
    Toolbox rate limit countdown.
------------
*/
span#ratelimit-counter {
    position: fixed;
    padding: 10px;
    left: 0;
    right: 0;
    text-align: center;
    top: 150px;
    background: rgba(206, 227, 248, 0.9);
    border-style: solid;
    border-width: 1px 0;
    border-color: rgba(95, 153, 207, 0.49);
    font-size: 20px;
    display: none;
}

span.rate-limit-explain {
    font-size: 12px;
    max-width: 800px;
    display: block;
    margin: auto;
}

/*
------------
    Toolbox long load css
------------
*/

/*
    Common loader CSS. The persistent version is blue in color.
*/
.mod-toolbox-rd #tb-loading,
.mod-toolbox-rd #tb-loading-non-persistent {
    left:0;
    right: 0;
    bottom: 0;
    display: block;
    position: fixed;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    height: 10px;
    z-index: 2147483645;
    color: #1d4b7a;
    /* currentcolor hack to make the non-persistent color easier */
    background-image: linear-gradient(to right,
        currentcolor,
        currentcolor 30%,
        white 40%,
        currentcolor 50%,
        currentcolor 80%,
        white 90%,
        currentcolor);
    /* background-size hack so we can actually animate the image because apparently you can't otherwise */
    background-size: 200% 100%;
    animation: 2s tb-loading linear infinite;
}
@keyframes tb-loading {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -100% 0;
    }
}
/*
    The non-persistent loadbar css, red in color.
*/
.mod-toolbox-rd #tb-loading-non-persistent {
    color: #b14848;
}

/*
    People kept missing the big animated bar, so we added additional stuff and animations. It is great!
*/
.mod-toolbox-rd #tb-loading-stuff .tb-loading-content,
.mod-toolbox-rd #tb-loading-stuff-non-persistent .tb-loading-content{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    display: block;
    padding: 5px;
    font-size: 12px;
}

.mod-toolbox-rd #tb-loading-stuff .tb-loading-content img,
.mod-toolbox-rd #tb-loading-stuff-non-persistent .tb-loading-content img {
    vertical-align: middle;
    height: 75px;
}

.mod-toolbox-rd #tb-loading-stuff .tb-loading-content .tb-loading-text,
.mod-toolbox-rd #tb-loading-stuff-non-persistent .tb-loading-content .tb-loading-text{
    display: inline-block;
    vertical-align: middle;
}

.mod-toolbox-rd #tb-loading-stuff,
.mod-toolbox-rd #tb-loading-stuff-non-persistent {
    max-width: 500px;
    position: fixed;
    z-index: 2147483647;
    bottom: 50px;
    left: 50%;
    padding: 10px;
    min-width: 150px;
    text-align: center;
    background-color: rgb(206, 227, 248);
    border: 1px solid rgb(182, 201, 221);
    box-shadow: rgba(214, 214, 214, 0.470588) 0 1px 3px 1px;
}

/*
========================

    TB Modules: some modules have very little specific css, not enough to warrant their own css file.

========================
*/

/*
------------
    ModButton
------------
*/

.mod-toolbox-rd .mod-action {
    max-width: 70px;
}

.mod-toolbox-rd .mod-action-positive {
    background-color: #E5F0E1;
}

.mod-toolbox-rd .mod-action-negative {
    background-color: #FA8072;
}

/*
------------
    ModMacros
------------
*/
.mod-toolbox-rd .tb-macro-newmm {
    float: right;
    margin-right: 10px;
}

.mod-toolbox-rd select.tb-macro-select.tb-action-button,
.mod-toolbox-rd select.tb-top-macro-select.tb-action-button
{
    max-width: 90px;
    box-sizing: border-box !important;
    height: 26px !important;
}

.mod-toolbox-rd .macro-popup .tb-window-content {
    margin-bottom: 30px;
}

.mod-toolbox-rd .macro-popup .tb-window-footer {
    position: absolute;
    bottom: 0;
}


/*
------------
    Syntax highlighter
------------
*/

.mod-toolbox-rd #stylesheet_contents_div,
.mod-toolbox-rd #json_contents_div,
.mod-toolbox-rd #wiki_contents_div {
    height: 500px;
    border: solid 1px #E4E4E4;
}

.mod-toolbox-rd.mod-syntax .sheets .buttons .btn,
.mod-toolbox-rd.mod-syntax  #wiki_save_button{
    display: none;
}

.mod-toolbox-rd.mod-syntax #tb-syntax-buttons,
.mod-toolbox-rd.mod-syntax .sheets .buttons {
    display: inline-block;
    margin-left: 5px;
}

/*
------------
    Banlist
------------
/*

/* css fix for banlist module
TODO: Find out what this is supposed to fix and put that in the comment instead.
*/
.mod-toolbox-rd .moderator-table.filtered tr, .banned-table.filtered tr, .contributor-table.filtered tr {
    background: inherit;
}

.mod-toolbox-rd .moderator-table.filtered tr.visible.even, .banned-table.filtered tr.visible.even, .contributor-table.filtered tr.visible.even {
    background: rgba(162, 162, 162, 0.2) !important;
}

.mod-toolbox-rd .moderator-table.filtered tr.visible.even:hover , .banned-table.filtered tr.visible.even:hover, .contributor-table.filtered tr.visible.even:hover {
    background-color: rgba(80, 123, 167, 0.2)  !important;
}


/*
------------
    comment.js
------------
*/

.mod-toolbox-rd  .comment-nest-info {
    font-size: 11px;
    margin-top: -10px;
    color: #888;
}

.mod-toolbox-rd  #tb-search-suggest-list td {
    cursor: pointer;
}

/* Comment search */
.mod-toolbox-rd #tb-search-suggest {
    display: none;
    max-height: 65%;
    position: absolute;
    width: 171px;
    padding: 0;
    overflow: auto;
    background-color: rgba(226, 238, 250, 1);
    font-size: 11px;
    color: #696969;
    border: 1px solid #B6C9DD;
    text-align: left;
    z-index: 501;
}

.mod-toolbox-rd #tb-search-suggest table {
    width: 100%;
}

.mod-toolbox-rd #tb-search-suggest table td {
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px;

}

.mod-toolbox-rd #tb-search-suggest tr {
    background: rgba(247, 250, 253, 1);
    border-bottom: solid 1px #CCD1D7;
}

.mod-toolbox-rd #tb-search-suggest tr:hover {
    background-color: rgba(174, 212, 250, 0.5);
}


/*
------------
    config.js
------------
*/

.mod-toolbox-rd span.tb-config-intro {
    max-width: 59em;
}

.mod-toolbox-rd #tb-removal-reasons-list,
.mod-toolbox-rd #tb-mod-macros-list {
    border-top: solid 2px gray;
    margin-top: 5px;
    width: 99%;
}

.mod-toolbox-rd #tb-removal-reasons-list td,
.mod-toolbox-rd #tb-mod-macros-list td {
    padding: 5px;
    vertical-align: top;
}
.mod-toolbox-rd .removal-reasons-buttons,
.mod-toolbox-rd .mod-macros-buttons {
    width: 25px;
}

.mod-toolbox-rd .removal-reason-edit,
.mod-toolbox-rd #tb-add-removal-reason-form,
.mod-toolbox-rd .mod-macro-edit,
.mod-toolbox-rd #tb-add-mod-macro-form
{
    display: none;
}

.mod-toolbox-rd .edit_removal_reasons tr.removal-reason,
.mod-toolbox-rd .edit_mod_macros tr.mod-macro {
    border-bottom: solid 5px #F0F0F0;
}

.mod-toolbox-rd .edit_removal_reasons .edit-area,
.mod-toolbox-rd .edit_mod_macros .edit-area {
    width: 600px;
    height: 150px;
    margin: 2px;
}

.mod-toolbox-rd .removal_reasons_settings .tb-window-content .edit-header,
.mod-toolbox-rd .removal_reasons_settings .tb-window-content .edit-footer {
    width: 600px;
    height: 100px;
    margin: 2px;
}

.mod-toolbox-rd h3.macro-title,
.mod-toolbox-rd h3.removal-title {
    font-size: 12px;
    border-bottom: dotted 1px #D2D2D2;
}

.mod-toolbox-rd .toolbox-edit:hover {
    text-decoration: underline;
}

.mod-toolbox-rd .edit-wikidata {
    width: 99%;
    font: normal small verdana,arial,helvetica,sans-serif;
    -webkit-appearance: textarea;
    background-color: white;
    border: 1px solid;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    flex-direction: column;
    -webkit-flex-direction: column;
    cursor: auto;
    padding: 2px !important;
    white-space: pre-wrap;
    word-wrap: break-word;
}


.mod-toolbox-rd #tb-config-help {
    float: right;
    margin-right: 10px;
}

.mod-toolbox-rd .rr-advanced {
    display: none;
}


/*
Icons in the sidebar
*/

.mod-toolbox-rd .tb-moderation-tools-icons {
    margin-bottom: -3px;
}

.mod-toolbox-rd #moderation_tools .tb-moderation-tools-icons {
    margin: 0 5px 0 1px;
    vertical-align: bottom;
}

/*
========================

    Various css things that do not belong anywhere specifically.

========================
*/


/* You're killing me, new Reddit... */
.tb-window b {
    font-weight: bold;
}

/*
------------
Livedocs css in case someone disabled css on reddit
------------
*/

body[class*="wiki-page-livedocs"] * {
    font-size: 14px !important;
}

body[class*="wiki-page-livedocs"] .md.wiki pre {
    margin-right: 0 !important;
}

body[class*="wiki-page-livedocs"]  div#header,
body[class*="wiki-page-livedocs"] div.side,
body[class*="wiki-page-livedocs"] a[name=content],
body[class*="wiki-page-livedocs"] .pageactions,
body[class*="wiki-page-livedocs"] .footer-parent,
body[class*="wiki-page-livedocs"] #tb-bottombar
{
    display: none !important;
}

body[class*="wiki-page-livedocs"]  .content {
    margin: 0 !important;
    padding: 0 !important;
}


body[class*="wiki-page-livedocs"] .wiki-page-content,
body[class*="wiki-page-livedocs"] h1.wikititle {
    margin: 5px !important;
}


/*
------------
    Unclear cases
    TODO: Find out if the below css is still needed and put it at the proper place.
------------
*/

.mod-toolbox-rd .debuginfo {
    height: 40px;
}

.mod-toolbox-rd .articleFrame {
    border: solid 1px #A2BAD3;
    position: relative;
    width: 70%;
    margin-left: 60px;
    resize: both;
    display: none;
}

.mod-toolbox-rd .choice.dashed {
    border-top: 1px dashed;
}

.mod-toolbox-rd .thing.approved {
    background-color: paleGreen;
}

.mod-toolbox-rd .thing.removed {
    background-color: lightgray;
}

.mod-toolbox-rd .thing.spammed {
    background-color: Tomato;
}

.mod-toolbox-rd .thing.flaired {
    background-color: PaleTurquoise;
}

.mod-toolbox-rd .pretty-button.inoffensive {
    background-position: 0px -105px;
    background-image: url(http://a.thumbs.redditmedia.com/Ec85AWdAyumYZeFVgEaxwSr6Go8NZyCgGmtTVQsQqc8.png);
    background-repeat: repeat;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.mod-toolbox-rd .pretty-button.inoffensive.pressed {
    background-position: 0 -82px!important;
}

.mod-toolbox-rd .thing+input[type="checkbox"]:focus {
    outline: blue solid 1px;
}


/*
------------
    Nightmode
------------
*/


.res-nightmode .mod-toolbox-rd .tb-general-button,
.res-nightmode .mod-toolbox-rd .tb-general-button:hover,
.res-nightmode .mod-toolbox-rd .tb-action-button,
.res-nightmode .mod-toolbox-rd #tb-loading-stuff,
.res-nightmode .mod-toolbox-rd .tb-feedback-text,
.res-nightmode .mod-toolbox-rd .tb-bracket-button,
.res-nightmode .mod-toolbox-rd .tb-bracket-button:hover,
.res-nightmode .mod-toolbox-rd .tb-action-table,
.res-nightmode .mod-toolbox-rd .tb-window,
.res-nightmode .mod-toolbox-rd .reason-popup,
.res-nightmode .mod-toolbox-rd #tb-bottombar,
.res-nightmode .mod-toolbox-rd #tb-bottombar-hidden,
.res-nightmode .mod-toolbox-rd #tb-modbar-hide-tooltip,
.res-nightmode .mod-toolbox-rd #tb-context-menu,
.res-nightmode .mod-toolbox-rd .tb-input,
.res-nightmode .mod-toolbox-rd .menuarea.modtools,
.res-nightmode .mod-toolbox-rd #tb-notification-alert,
.theme-dark.mod-toolbox-rd .tb-general-button,
.theme-dark.mod-toolbox-rd .tb-general-button:hover,
.theme-dark.mod-toolbox-rd .tb-action-button,
.theme-dark.mod-toolbox-rd #tb-loading-stuff,
.theme-dark.mod-toolbox-rd .tb-feedback-text,
.theme-dark.mod-toolbox-rd .tb-bracket-button,
.theme-dark.mod-toolbox-rd .tb-bracket-button:hover,
.theme-dark.mod-toolbox-rd .tb-action-table,
.theme-dark.mod-toolbox-rd .tb-window,
.theme-dark.mod-toolbox-rd .reason-popup,
.theme-dark.mod-toolbox-rd #tb-bottombar,
.theme-dark.mod-toolbox-rd #tb-bottombar-hidden,
.theme-dark.mod-toolbox-rd #tb-modbar-hide-tooltip,
.theme-dark.mod-toolbox-rd #tb-context-menu,
.theme-dark.mod-toolbox-rd .tb-input,
.theme-dark.mod-toolbox-rd .menuarea.modtools,
.theme-dark.mod-toolbox-rd #tb-notification-alert,
.theme-dark.mod-toolbox-rd #tb-modmail-preview
{
    filter: invert(90%)hue-rotate(180deg);
}

.res-nightmode .mod-toolbox-rd .tb-loading-content img,
.res-nightmode .mod-toolbox-rd .tb-trophy-icon,
.res-nightmode .mod-toolbox-rd ul.tb-user-modsubs-expand-ul li img,
.res-nightmode .mod-toolbox-rd ul.tb-user-modsubs-ul li img,
.res-nightmode .mod-toolbox-rd .tb-user-thumbnail,
.res-nightmode .mod-toolbox-rd a.tb-submission-thumbnail,
.theme-dark.mod-toolbox-rd .tb-loading-content img,
.theme-dark.mod-toolbox-rd .tb-trophy-icon,
.theme-dark.mod-toolbox-rd ul.tb-user-modsubs-expand-ul li img,
.theme-dark.mod-toolbox-rd ul.tb-user-modsubs-ul li img,
.theme-dark.mod-toolbox-rd .tb-user-thumbnail,
.theme-dark.mod-toolbox-rd a.tb-submission-thumbnail
{
    filter: invert(90%)hue-rotate(180deg);
}

/* exceptions*/
.res-nightmode .mod-toolbox-rd .menuarea.modtools .tb-general-button,
.res-nightmode .mod-toolbox-rd .menuarea.modtools .tb-general-button:hover,
.res-nightmode .mod-toolbox-rd .tb-window .tb-general-button,
.res-nightmode .mod-toolbox-rd .tb-window .tb-general-button:hover,
.res-nightmode .mod-toolbox-rd .tb-window .tb-action-button,
.res-nightmode .mod-toolbox-rd .tb-window .tb-bracket-button,
.res-nightmode .mod-toolbox-rd .tb-window .tb-action-table,
.theme-dark.mod-toolbox-rd .menuarea.modtools .tb-general-button,
.theme-dark.mod-toolbox-rd .menuarea.modtools .tb-general-button:hover,
.theme-dark.mod-toolbox-rd .tb-window .tb-general-button,
.theme-dark.mod-toolbox-rd .tb-window .tb-general-button:hover,
.theme-dark.mod-toolbox-rd .tb-window .tb-action-button,
.theme-dark.mod-toolbox-rd .tb-window .tb-bracket-button,
.theme-dark.mod-toolbox-rd .tb-window .tb-action-table
{
    filter: invert(0%);
}

/* Do some text and background colors in a more fine grained and controlled manner */
.res-nightmode .mod-toolbox-rd .menuarea.modtools [for="modtab-threshold"],
.res-nightmode .mod-toolbox-rd #tb-modbar-hide-tooltip,
.res-nightmode .mod-toolbox-rd .tb-feedback-text,
.res-nightmode .mod-toolbox-rd .tb-window,
.res-nightmode .mod-toolbox-rd .reason-popup,
.res-nightmode .mod-toolbox-rd #tb-bottombar,
.res-nightmode .mod-toolbox-rd #tb-context-menu,
.res-nightmode .mod-toolbox-rd .menuarea.modtools,
.theme-dark.mod-toolbox-rd .menuarea.modtools [for="modtab-threshold"],
.theme-dark.mod-toolbox-rd #tb-modbar-hide-tooltip,
.theme-dark.mod-toolbox-rd .tb-feedback-text,
.theme-dark.mod-toolbox-rd .tb-window,
.theme-dark.mod-toolbox-rd .reason-popup,
.theme-dark.mod-toolbox-rd #tb-bottombar,
.theme-dark.mod-toolbox-rd #tb-context-menu,
.theme-dark.mod-toolbox-rd .menuarea.modtools
{
    color: #2f2f2f
}

.theme-dark.mod-toolbox-rd #tb-modmail-preview {
    color: #353131;
}


.res-nightmode .mod-toolbox-rd .tb-bracket-button,
.theme-dark.mod-toolbox-rd .tb-bracket-button
{
    color: #353131;
    background-color: #d3dae2;
}


.res-nightmode .mod-toolbox-rd .tb-input.tb-input,
.theme-dark.mod-toolbox-rd .tb-input.tb-input
{
    color: #ffffff;
    background-color: #000;
}

.res-nightmode .mod-toolbox-rd .tb-highlight-action-reason,
.theme-dark.mod-toolbox-rd .tb-highlight-action-reason
{
    background-color: rgb(113, 68, 30);
    color: #fff;
}

.res-nightmode .mod-toolbox-rd .tb-highlight,
.theme-dark.mod-toolbox-rd .tb-highlight
{
    background-color: rgb(156, 156, 65);
    color: #fff;
}

.res-nightmode .mod-toolbox-rd .action-reason,
.theme-dark.mod-toolbox-rd .action-reason
{
    background-color: #56565680;
}

.res-nightmode .mod-toolbox-rd #mod-matrix-wrapper,
.res-nightmode .mod-toolbox-rd #mod-matrix-wrapper,
.theme-dark.mod-toolbox-rd #mod-matrix-settings input,
.theme-dark.mod-toolbox-rd #mod-matrix .action-number
{
    background-color: #262626;
}

.res-nightmode .mod-toolbox-rd #mod-matrix-settings input,
.res-nightmode .mod-toolbox-rd #mod-matrix .action-number,
.theme-dark.mod-toolbox-rd #mod-matrix-settings input,
.theme-dark.mod-toolbox-rd #mod-matrix .action-number
{
    color: #CCCCCC;
}
