/* 
========================

    TB UI: Overlays, pop-ups

======================== 
*/

/* 
------------
    Overlay windows.
    TODO: Clean up css and remove duplicate code. 
------------
*/

.mod-toolbox .tb-page-overlay {
    padding: 10px 15px !important;
    background-color: rgba(250, 250, 250, 0.84);
    border: 0;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 2147483646 !important;
    font: normal x-small verdana,arial,helvetica,sans-serif !important;
}

.mod-toolbox ul.inline-list { display: inline; }
.mod-toolbox ul.inline-list li { display: inline; }
.mod-toolbox ul.inline-list li:after { content: ','; }
.mod-toolbox ul.inline-list li:last-child:after { content: ''; }
.mod-toolbox ul.inline-list li:nth-last-child(2):after { content: ', and';}

.mod-toolbox .tb-overlay-label {
    width: auto;
    padding: 40px 5px 5px 5px;
    font-weight: bold;
    text-shadow: 0 0 4px #FFF;
    left: 0;
    right: 0;
    text-align: center;
}

.mod-toolbox .tb-window-wrapper {
    position: relative;
    top: 40px;
    max-width: 1100px;
    margin-right: auto !important;
    margin-left: auto !important;
    padding: 0 !important;
    background-color: #FFF;
    border: 0;
    box-shadow: rgba(214, 214, 214, 0.47) 0px 1px 3px 1px;
    font-size: small;
}

.mod-toolbox .tb-settings .tb-window-wrapper {
    width: 845px;
}

.tb-window-wrapper-two {
    position: relative;
    top: 60px;
    max-width: 1000px;
    margin-right: auto !important;
    margin-left: 50px !important;
    padding: 0 !important;
    background-color: #FFF;
    border: solid 1px #A2BAD3;
    box-shadow: 0 1px 3px 1px rgba(214, 214, 214, 0.47);
}

.mod-toolbox .tb-window-wrapper a:hover,
.mod-toolbox .tb-window-tabs a.active,
.mod-toolbox .tb-window-tabs a:hover {
    color: #000 !important;
}

.mod-toolbox .tb-window-header {
    right: 0;
    left: 0;
    display: block;
    background-color: #CEE3F8;
    text-align: center;
    font-weight: bold;
    padding: 10px !important;
    font-size: small;
    border-bottom: 0;
}

.mod-toolbox .tb-window-tabs {
    border-bottom: solid 1px #B6C9DD;
    background-color: #C7D6E6;
    font-size: 11px !important;
}

.mod-toolbox .tb-settings .tb-window-tabs {
    display: inline-block;
    width: 135px;
    height: 100%;
    border-bottom: 0;
}

.mod-toolbox .tb-window-tabs a {
    background-color: #C7D6E6;
    border-right: dotted 1px #A8B5C2;
    display: inline-block;
    padding: 10px !important;
}

.mod-toolbox .tb-personal-settings .tb-window-tabs a {
    padding: 7px !important;
}

.mod-toolbox .tb-settings .tb-window-tabs a {
    box-sizing: border-box !important;
    width: 100%;
    border-bottom: solid 1px #eef5fd;
}

.mod-toolbox .tb-settings .tb-window-tabs a:nth-last-of-type(1) {
    border-bottom: 0;
}

.mod-toolbox .tb-window-spacer {
    background-color: #8d9caa;
    display: inline-block;
    border-right: 1px dotted #A8B5C2;
    height: 34px;
    line-height: 34px;
}

.mod-toolbox .tb-window-tabs a.active,
.mod-toolbox .tb-window-tabs a:hover {
    background-color: #9FBAD6;
}

.mod-toolbox .tb-window-content:not([class^="CodeMirror"]) {
    overflow: auto;
    left: 0;
    right: 0;
    padding: 5px !important;
    font-size: 12px !important;
}

.mod-toolbox .tb-settings .tb-window-tabs-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 705px;
}

.mod-toolbox .tb-window-content input {
    padding: 2px;
    margin: 2px;
}

.mod-toolbox .tb-window-content  a.tb-setting-link, .tb-gen-setting-link, .tb-module-setting-link {
    opacity: 0.5;
    display: inline-block;
}

.mod-toolbox .tb-window-content  a.tb-setting-link, .tb-gen-setting-link, .tb-module-setting-link img {
    vertical-align: middle;
}

.mod-toolbox .tb-window-content  input.tb-setting-input {
    font-style: italic;
}


/* Can be child or sibling of .tb-window-tab/.tb-window-tabs */
.tb-window-footer {
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: block;
    background-color: #CEE3F8;
    text-align: center;
    border-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}


.mod-toolbox .tb-close {
    cursor: pointer;
}

.mod-toolbox .tb-help,.mod-toolbox .tb-help-main {
    cursor: pointer;
}

.mod-toolbox .tb-help-content, .mod-toolbox .tb-help-config-content,  .mod-toolbox .tb-help-main-content {
    display: none;
}

.mod-toolbox .tb-window-content p:not([class^="codemirror"]){
    padding-top: 6px !important;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    border-bottom: 1px dotted #E0E0E0;
}

.mod-toolbox .tb-window-content input[type="text"] {
    width: 94%;
}

.mod-toolbox .tb-mark-unread {
    width: 100%;
    cursor: pointer;
    padding: 5px;
    color: #369;
    font-size: 200%;
    font-weight: bold;
}

.mod-toolbox .tb-mark-unread:hover {
    text-decoration: underline;
}

.mod-toolbox .tb-window-content-shortcuts-table td {
    width: 50%;
    padding: 3px;
}

.mod-toolbox .tb-window-content-shortcuts-table td input {
    width: 98%;
}

.mod-toolbox .tb-window-content-shortcuts-td-remove {
    width: 25px;
}

.mod-toolbox .tb-map-input-table td {
    width: 50%;
    padding: 3px;
}

.mod-toolbox .tb-map-input-table td input {
    width: 98%;
}

.mod-toolbox .tb-map-input-td-remove {
    width: 25px;
}


.mod-toolbox .tb-form td {
    padding: 2px;
}

.mod-toolbox .tb-form td:first-child {
    width: 10%;
}

.mod-toolbox .tb-form td:last-child {
    width: 90%;
}

.mod-toolbox .tb-form .edit-header, .mod-toolbox .tb-form .edit-footer {
    width: 98%;
    height: 100px;
}

/* Module settings stuff */

.mod-toolbox  .tb-window-tabs a.tb-module-disabled {
    background-color: #D6D9DD;
    color: #808080;
}

.mod-toolbox .tb-window-tab span.tb-module-disabled {
    font-size: 14px;
    display: block;
    padding: 4px;
    background-color: #F7F7F7;
    color: #808080;
    font-weight: bold;
}

.mod-toolbox .tb-window-content a.tb-help-toggle {
    font-weight: bold;
}





/* 
------------
    Pop-ups
    TODO: Remove duplicate css and make sure all our popups use the same classes. This is currently NOT the case.
------------
*/

.mod-toolbox .tb-popup .tb-popup-header .buttons {
    display: inline-block;
    position: absolute;
    right: 0 !important;
    top: 0 !important;
    background-color: #C7D6E6;
    line-height: 26px;
    border: 0;
    margin-left: 1px;
}

.mod-toolbox .tb-popup {
    font-size:11px;
    max-width: 1000px;
    padding: 0 !important;
    background-color: #FFF;
    border: 0;
    box-shadow: rgba(160, 177, 193, 0.4) 0px 1px 3px 1px;
    position: absolute;
    z-index: 2147483640;
}


.tb-popup-header {
    right: 0;
    left: 0;
    text-align: left;
    position: relative;
    height: 20px;
    line-height: 20px;
    display: block;
    background-color: #CEE3F8;
    font-weight: bold;
    box-sizing: content-box;
    font-size: small;
    border: 0;
    padding: 3px;
}
.tb-popup-header .tb-popup-title {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 0px 33px 0px 5px;
}


.mod-toolbox .tb-popup .tb-popup-header .buttons {
    display: inline-block;
    position: absolute;
    right: 0 !important;
    top: 0 !important;
    background-color: #C7D6E6;
    line-height: 26px;
    border: 0;
    margin-left: 1px;
}

.mod-toolbox .tb-popup .tb-popup-header .buttons:hover {
    background-color: #9FBAD6;
}

.mod-toolbox .tb-popup .tb-popup-header .buttons a.close {
    padding: 0px 11px;
    display: inline-block;
    height: 100%;
}

.tb-popup-tabs {
    border-bottom: 1px solid #B6C9DD;
    background-color: #C7D6E6;
}

.tb-popup-tabs a {
    background-color: #C7D6E6;
    border-right: 1px dotted #A8B5C2;
    display: inline-block;
    padding: 4px;
    cursor: pointer;
}

.tb-popup-tabs a:hover,
.tb-popup-tabs a.active {
    background-color: #9FBAD6;
    border-right: 1px solid #9FBAD6;
}
.tb-popup-tabs a:not(:first-child):hover,
.tb-popup-tabs a:not(:first-child).active {
    box-shadow: -1px 0 #9FBAD6;
}

.tb-popup-content {
    overflow: auto;
    left: 0;
    right: 0;
    padding: 5px !important;
}

.mod-popup .other-subs {
    padding: 5px;
}

.mod-popup .ban-note {
    margin-bottom: 3px;
}

.mod-popup-flair-label {
    display: inline-block;
    min-width: 35px;
}

.mod-popup-flair-input {
    padding: 3px;
}

.mod-popup .flair-text {
    width: initial !important;
}

.tb-popup-footer {
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: block;
    background-color: #CEE3F8;
    text-align: center;
    border: 0;
    padding: 3px 0px 3px;
}

.tb-popup-error {
    color: red;
}

.mod-popup .subreddit-message {
    min-width: 235px;
    min-height: 65px;
}

.mod-popup .subreddit-message-subject {
    min-width: 235px;
    margin-bottom: 3px;
    padding: 1px;
}

.mod-popup .add-sub-link {
    text-decoration: none;
}

.mod-popup .remove-sub-link {
    text-decoration: none;
}

body.mod-toolbox .mod-popup .tb-action-button.global-button.action-hidden {
    display: none !important;
}

body.mod-toolbox .mod-popup .tb-action-button.global-button {
    text-decoration: none !important;
    color: red !important;
}

.mod-popup .current-sub,
.mod-popup .saved-subs div,
.mod-popup div.other-sub,
.mod-popup .ban-note-container {
    width: 225px;
    border-bottom: 1px dotted gray;
    padding: 5px;
}

.mod-popup .current-sub {
    border-bottom: 1px solid gray;
}

.mod-popup .ban-note-container {
    width: auto;
    border: none;
}

.mod-popup .ban-note {
    width: 100%;
}

.mod-popup .ban-message {
    padding: 1px;
    width: 100%;
}

.mod-popup .ban-duration {
    padding: 2px;
    width: 82px;
}

.mod-popup .edit-subreddits {
    width: 260px;
}

.mod-popup .edit-dropdown {
    width: 190px;
}

/* 
------------
    Debug window
    TODO: Determine if this belongs here or in modbar.css 
    TODO: Determine what of this needs to be its own css and what can be converted to make use of overlay css.
------------
*/

.mod-toolbox .tb-debug-window {
    position: fixed;
    bottom: 30px;
    right: 20px;
    min-width: 700px;
    max-width: none;
    min-height: 286px;
}

.mod-toolbox .tb-debug-header {
    right: 0;
    left: 0;
    display: block;
    background-color: #CEE3F8;
    text-align: center;
    font-weight: bold;
    padding: 0 !important;
    font-size: small;
    border-bottom: solid 1px #B6C9DD;
    position: relative;
    height: 20px;
    line-height: 20px;
}

.mod-toolbox .tb-debug-window .tb-popup-content {
    box-sizing: content-box;
}

.mod-toolbox .tb-debug-footer {
    width: 100%;
    height: 25px;
    line-height: 25px;
    display: block;
    background-color: #CEE3F8;
    text-align: center;
    border-top: solid 1px #B6C9DD;
}

.mod-toolbox .tb-debug-header-options {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #C7D6E6;
    line-height: 20px;
    border-left: 1px solid #B6C9DD;
}

.mod-toolbox .tb-debug-header-options:hover {
    background-color: #9FBAD6;
}


.mod-toolbox .tb-debug-console {
    width: 100%;
    height: 220px;
    font: normal small CONSOLAS, COURIER,"COURIER NEW";
    -webkit-appearance: textarea;
    background-color: white;
    border: 1px solid;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-flex-direction: column;
    cursor: auto;
    padding: 2px !important;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
}

.mod-toolbox .tb-debug-input {
    width: 100%;
    box-sizing: border-box;
}


.mod-toolbox #tb-debug-header-handle {
    left: 0;
    top: 0;
    display: inline-block;
    right: 20px;
}


/* 
========================

    TB UI: Buttons
 
======================== 
*/

/* 
------------
    General buttons, are used for blending in with reddit but still making it clear they are there for toolbox functionality.
    Do NOT use in cases where you would normally use button elements. That is what the action button css is for. 
------------
*/
body.mod-toolbox .tb-general-button,
body.mod-toolbox li a.tb-general-button,
body.mod-toolbox .tb-bracket-button {
    background-color: #F7FAFD;
    color: #696969;
    font-size: 11px;
    border-width: 1px 1px 1px 2px;
    border-color: #B6C9DD;
    border-style: solid;
    padding: 1px 5px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
}

body.mod-toolbox .tb-bracket-button {
	padding: 0 1px;
    font-size: 9px;
}

body.mod-toolbox .tb-general-button:hover,
body.mod-toolbox li a.tb-general-button:hover {
    background-color: #E2EEFA;
    text-decoration: none;
}

body.mod-toolbox .tb-general-button img {
	vertical-align: top;
}

/* 
------------
    Action buttons, are used where you normally would use actual button elements and where you need to be absolutely certain they always show in the same way.
    This is ridiculously locked down because subreddit styles WON'T STOP TOUCHING NATIVE TOOLBOX STUFF - as always, toolbox loves you! 
------------
*/


body.mod-toolbox .tb-action-button.action-hidden {
    display: none;
}

/* 
Because they are so locked down you cannot easily show or hide these buttons. 
Apply the "tb-button-hidden" class to be able to hide them anyway.
*/
body.mod-toolbox .tb-action-button.tb-button-hidden {
    display: none !important;
}

body.mod-toolbox .tb-action-button {
    display: inline-block !important;
	height: initial !important;
    padding: 2px 6px 3px 6px !important;
    font-family: verdana,arial,helvetica,sans-serif !important;
    font-size: 13px !important;
    text-shadow: none !important;
    text-decoration: none !important;
    text-align: left !important;
    text-indent: 0 !important;
    text-transform: none !important;
    font-stretch: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    background-color: #F7FAFD !important;
    border-radius: 1px !important;
    border-width: 1px 1px 2px 2px !important;
    border-color: #72869A !important;
    border-style: solid !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
    color: #17324E !important;
    transition: all 0.15s ease-in-out !important;
    outline: none !important;
}

body.mod-toolbox .tb-action-button:active {
    border-width: 1px !important;
    border-color: #9FBAD6 !important;
    padding: 2px 6px 3px 6px !important;
    box-shadow: none !important;
    outline: none !important;
}

.mod-toolbox select.tb-action-button {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFBAMAAACOSmBbAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAMFBMVEUAAAByhppyhppyhppyhppyhppyhppyhppyhppyhppyhppyhppyhppyhppyhpoAAAAzyklRAAAADnRSTlMAg+bd3+d6pqKNlZOkqEeC9h4AAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAJklEQVQI12OQU3YxfcbA/u7duwYGhnnvXjEwMHC/OwAkGfYyMAAApLAJ3r+t9WUAAAAASUVORK5CYII=');    background-repeat: no-repeat;
    background-position: right 5px center;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    padding: 1px 20px 2px 6px !important;
}


.mod-toolbox select.tb-action-button:active {
    border-width: 1px 1px 2px 2px !important;
    padding: 1px 20px 2px 6px !important;
}

/* inline action buttons */

.mod-toolbox .tb-action-button.inline-button {
    font-size: 11px !important;
}
.mod-toolbox select.tb-action-button.inline-button {
    padding: 1px 15px 1px 5px !important;
    font-size: 11px !important;
}

.mod-toolbox .tb-action-button.inline-button:active {
    padding: 2px 6px 4px 7px !important;
}

.mod-toolbox select.tb-action-button.inline-button:active {
    border-width: 1px 1px 2px 2px !important;
    padding: 1px 15px 1px 5px !important;

}

.mod-toolbox button.save-mod.tb-action-button,
.mod-toolbox button.save-sticky.tb-action-button {
    box-sizing: border-box !important;
    height: 26px !important;
}

/* Hack to make mod sticky + save button only show up where it's supposed to -
   doing this via JS is hard because Reddit clones the reply field from the top-
   level one, and the button should be visible on top-level comments but not on
   replies to other comments. */
button.save-sticky.tb-action-button { display: none !important }
.commentarea > form button.save-sticky.tb-action-button { display: inline-block !important; }


body.mod-toolbox .tb-action-button:focus {
    outline: none !important;
}

body.mod-toolbox .tb-action-button:hover {
    background-color: #E2EEFA !important;
    text-decoration: none !important;
    outline: none !important;
}



/* 
========================

    TB UI: various

======================== 
*/

/* link colors (for those themes that change all the link colors */
body.mod-toolbox .tb-page-overlay a,
body.mod-toolbox .tb-popup a,
body.mod-toolbox .tb-toolbar a
{
    color: #369;
    box-sizing: initial !important;
}

/* 
------------
    Feedback window
------------
*/

#tb-feedback-window {
    max-width: 400px;
    position: fixed;
    z-index: 2147483647;
    top: 50%;
    left: 50%;
    padding: 10px;
    min-width: 150px;
    text-align: center;
    background-color: #CEE3F8;
    box-shadow: rgba(214, 214, 214, 0.47) 0 1px 3px 1px;
}

#tb-feedback-window .tb-feedback-text {
    background-color: #FFF;
    margin: 0;
    display: block;
    padding: 5px;
    font-size: 12px;
}

#tb-feedback-window.positive {
    background: #69d47d;
}

#tb-feedback-window.negative {
    background: #ff7f4f;
}


/* 
------------
    Highlighting plugin related css
------------
*/
.mod-toolbox .tb-highlight {
    background-color: #ffff16;
}

.mod-toolbox .tb-highlight-action-reason {
    background-color: #ffd016;
}

/* 
------------
    Toolbox rate limit countdown.
------------
*/
span#ratelimit-counter {
    position: fixed;
    padding: 10px;
    left: 0;
    right: 0;
    text-align: center;
    top: 150px;
    background: rgba(206, 227, 248, 0.9);
    border-style: solid;
    border-width: 1px 0;
    border-color: rgba(95, 153, 207, 0.49);
    font-size: 20px;
    display: none;
}

span.rate-limit-explain {
    font-size: 12px;
    max-width: 800px;
    display: block;
    margin: auto;
}

/* 
------------
    Toolbox long load css
------------
*/

/*
    The persistent loadbar css, blue in color.
*/
#tb-loading {
    left:0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 6000;
    position: fixed;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    height: 10px;
    background: url("https://creesch.github.io/reddit-moderator-toolbox/hosted_images/long_load_bar.gif") center center fixed;
}

/*
    The non-persistent loadbar css, red in color.
*/
#tb-loading-non-persistent {
    left:0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 6000;
    position: fixed;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    height: 10px;
    background: url("https://creesch.github.io/reddit-moderator-toolbox/hosted_images/long_load_bar_non_persistant.gif") center center fixed;
}

/*
    People kept missing the big animated bar, so we added additional stuff and animations. It is great!
*/
#tb-loading-stuff .tb-loading-content,
#tb-loading-stuff-non-persistent .tb-loading-content{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    display: block;
    padding: 5px;
    font-size: 12px;
}

#tb-loading-stuff .tb-loading-content img,
#tb-loading-stuff-non-persistent .tb-loading-content img{
    vertical-align: middle;
}

#tb-loading-stuff .tb-loading-content .tb-loading-text,
#tb-loading-stuff-non-persistent .tb-loading-content .tb-loading-text{
    display: inline-block;
    vertical-align: middle;
}

#tb-loading-stuff,
#tb-loading-stuff-non-persistent {
    max-width: 500px;
    position: fixed;
    z-index: 2147483647;
    bottom: 40px;
    left: 50%;
    padding: 10px;
    min-width: 150px;
    text-align: center;
    background-color: rgb(206, 227, 248);
    border: 1px solid rgb(182, 201, 221);
    box-shadow: rgba(214, 214, 214, 0.470588) 0 1px 3px 1px;
}

/* 
========================

    TB Modules: some modules have very little specific css, not enough to warrant their own css file.

======================== 
*/

/*
------------
    ModButton
------------
*/

.mod-action {
    max-width: 70px;
}

.mod-action-positive {
    background-color: #E5F0E1;
}

.mod-action-negative {
    background-color: #FA8072;
}

/*
------------
    ModMacros
------------
*/
.mod-toolbox .tb-macro-newmm {
    float: right;
    margin-right: 10px;
}

.mod-toolbox select.tb-macro-select.tb-action-button,
.mod-toolbox select.tb-top-macro-select.tb-action-button
{
    max-width: 90px;
    box-sizing: border-box !important;
    height: 26px !important;
}

.macro-popup .tb-popup-content {
    margin-bottom: 30px;
}

.macro-popup .tb-popup-footer {
    position: absolute;
    bottom: 0;
}


/* 
------------
    Syntax highlighter
------------
*/

#stylesheet_contents_div, #json_contents_div, #wiki_contents_div {
    height: 500px;
    border: solid 1px #E4E4E4;
}

.mod-toolbox.mod-syntax .sheets .buttons .btn,
.mod-toolbox.mod-syntax  #wiki_save_button{
    display: none;
}

.mod-toolbox.mod-syntax #tb-syntax-buttons,
.mod-toolbox.mod-syntax .sheets .buttons {
    display: inline-block;
    margin-left: 5px;
}

/*
------------
    Banlist
------------
/*

/* css fix for banlist module 
TODO: Find out what this is supposed to fix and put that in the comment instead. 
*/
.moderator-table.filtered tr, .banned-table.filtered tr, .contributor-table.filtered tr {
    background: inherit;
}

.moderator-table.filtered tr.visible.even, .banned-table.filtered tr.visible.even, .contributor-table.filtered tr.visible.even {
    background: rgba(162, 162, 162, 0.2) !important;
}

.moderator-table.filtered tr.visible.even:hover , .banned-table.filtered tr.visible.even:hover, .contributor-table.filtered tr.visible.even:hover {
    background-color: rgba(80, 123, 167, 0.2)  !important;
}


/*
------------
    comment.js 
------------
*/

.mod-toolbox  .comment-nest-info {
    font-size: 11px;
    margin-top: -10px;
    color: #888;
}

.mod-toolbox  #tb-search-suggest-list td {
    cursor: pointer;
}

/* Comment search */
#tb-search-suggest {
    display: none;
    max-height: 65%;
    position: absolute;
    width: 171px;
    padding: 0;
    overflow: auto;
    background-color: rgba(226, 238, 250, 1);
    font-size: 11px;
    color: #696969;
    border: 1px solid #B6C9DD;
    text-align: left;
    z-index: 501;
}

#tb-search-suggest table {
    width: 100%;
}

#tb-search-suggest table td {
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px;

}

#tb-search-suggest tr {
    background: rgba(247, 250, 253, 1);
    border-bottom: solid 1px #CCD1D7;
}

#tb-search-suggest tr:hover {
    background-color: rgba(174, 212, 250, 0.5);
}


/*
------------
    metrics tab
------------
*/

/* metrics tab/dropdown stuff */
#tb-metrics-expand-list {
    display: none;
    max-height: 65%;
    position: absolute;
    width: 171px;
    padding: 0;
    overflow: auto;
    background-color: rgba(226, 238, 250, 1);
    font-size: 11px;
    color: #696969;
    border: 1px solid #B6C9DD;
    border-bottom: 0;
    text-align: left;
    z-index: 501;
}
#tb-metrics-expand-list li {
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    background: rgb(247, 250, 253);
    border-bottom: 1px solid rgb(204, 209, 215);
}

#tb-metrics-expand-list a:hover {
    text-decoration: underline;
}

/*
------------
    config.js 
------------
*/

.mod-toolbox span.tb-config-intro {
    max-width: 59em;
}

.mod-toolbox .tb-window-tabs a {
    cursor: pointer;
}

.mod-toolbox .tb-window-header .buttons {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}
.mod-toolbox .tb-window-header .buttons a {
    display: inline-block;
    background-color: #C7D6E6;
    border-left: 0;
    height: 36px;
    line-height: 36px;
    width: 36px;
    font-size: small;
    margin-left: 1px;
    text-align: center;
}

.mod-toolbox .tb-page-overlay a.close:hover,
.mod-toolbox .tb-page-overlay a.tb-help-main:hover {
    background-color: #9FBAD6;
}

.mod-toolbox #tb-removal-reasons-list,
.mod-toolbox #tb-mod-macros-list {
    border-top: solid 2px gray;
    margin-top: 5px;
    width: 99%;
}

.mod-toolbox #tb-removal-reasons-list td,
.mod-toolbox #tb-mod-macros-list td {
    padding: 5px;
    vertical-align: top;
}
.mod-toolbox .removal-reasons-buttons,
.mod-toolbox .mod-macros-buttons {
    width: 25px;
}

.mod-toolbox .removal-reason-edit,
.mod-toolbox #tb-add-removal-reason-form,
.mod-toolbox .mod-macro-edit,
.mod-toolbox #tb-add-mod-macro-form
{
    display: none;
}

.mod-toolbox .edit_removal_reasons tr.removal-reason,
.mod-toolbox .edit_mod_macros tr.mod-macro {
    border-bottom: solid 5px #F0F0F0;
}

.mod-toolbox .edit_removal_reasons input[type="text"],
.mod-toolbox .edit_mod_macros input[type="text"]{
    max-width: 600px;
}

.mod-toolbox .edit_removal_reasons .edit-area,
.mod-toolbox .edit_mod_macros .edit-area {
    width: 600px;
    height: 150px;
    margin: 2px;
}

.mod-toolbox .removal_reasons_settings .edit-header,
.mod-toolbox .removal_reasons_settings .edit-footer {
    width: 600px;
    height: 100px;
    margin: 2px;
}

.mod-toolbox h3.macro-title,
.mod-toolbox h3.removal-title {
    font-size: 12px;
    border-bottom: dotted 1px #D2D2D2;
}

.toolbox-edit:hover {
    text-decoration: underline;
}

.edit-wikidata {
    width: 99%;
    font: normal small verdana,arial,helvetica,sans-serif;
    -webkit-appearance: textarea;
    background-color: white;
    border: 1px solid;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-flex-direction: column;
    cursor: auto;
    padding: 2px !important;
    white-space: pre-wrap;
    word-wrap: break-word;
}


#tb-config-help {
    float: right;
    margin-right: 10px;
}

.rr-advanced {
    display: none;
}


/* 
Icons in the sidebar
*/

.mod-toolbox .tb-moderation-tools-icons {
    margin-bottom: -3px;
}

#moderation_tools .tb-moderation-tools-icons {
    margin: 0 5px 0 1px;
    vertical-align: bottom;
}


/* 
========================

    Various css things that do not belong anywhere specifically.

======================== 
*/


/* Make some tables that reddit shows somewhat more userfriendly. */

.moderator-table tr:hover,
.moderator-table tr:nth-child(even):hover,
.banned-table tr:hover, .banned-table tr:nth-child(even):hover,
.contributor-table tr:hover, .contributor-table tr:nth-child(even):hover,
.modactionlisting .generic-table tr:hover,
.modactionlisting .generic-table tr:nth-child(even):hover,
.wikirevisionlisting .generic-table tr:hover,
.wikirevisionlisting .generic-table tr:nth-child(even):hover{
    background-color: rgba(80, 123, 167, 0.2) !important;
}

.moderator-table tr:nth-child(even),
.contributor-table tr:nth-child(even),
.wikirevisionlisting .generic-table tr:nth-child(even),
.modactionlisting .generic-table tr:nth-child(even) {
    background: rgba(162, 162, 162, 0.2) !important;
}

/* 
------------
Livedocs css in case someone disabled css on reddit 
------------
*/

body[class*="wiki-page-livedocs"] * {
    font-size: 14px !important;
}

body[class*="wiki-page-livedocs"] .md.wiki pre {
    margin-right: 0 !important;
}

body[class*="wiki-page-livedocs"]  div#header,
body[class*="wiki-page-livedocs"] div.side,
body[class*="wiki-page-livedocs"] a[name=content],
body[class*="wiki-page-livedocs"] .pageactions,
body[class*="wiki-page-livedocs"] .footer-parent,
body[class*="wiki-page-livedocs"] #tb-bottombar
{
    display: none !important;
}

body[class*="wiki-page-livedocs"]  .content {
    margin: 0 !important;
    padding: 0 !important;
}


body[class*="wiki-page-livedocs"] .wiki-page-content,
body[class*="wiki-page-livedocs"] h1.wikititle {
    margin: 5px !important;
}


/* 
------------
    Unclear cases
    TODO: Find out if the below css is still needed and put it at the proper place.
------------
*/

.debuginfo {
    height: 40px;
}

.mod-toolbox .articleFrame {
    border: solid 1px #A2BAD3;
    position: relative;
    width: 70%;
    margin-left: 60px;
    resize: both;
    display: none;
}

body .choice.dashed {
    border-top: 1px dashed;
}

body .thing.approved {
    background-color: paleGreen;
}

body .thing.removed {
    background-color: lightgray;
}

body .thing.spammed {
    background-color: Tomato;
}

body .thing.flaired {
    background-color: PaleTurquoise;
}

.pretty-button.inoffensive {
    background-position: 0px -105px;
    background-image: url(http://a.thumbs.redditmedia.com/Ec85AWdAyumYZeFVgEaxwSr6Go8NZyCgGmtTVQsQqc8.png);
    background-repeat: repeat;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.pretty-button.inoffensive.pressed {
    background-position: 0 -82px!important;
}

.thing+input[type="checkbox"]:focus {
    outline: blue solid 1px;
}

/*
========================

    RES specific css
    
======================== 
*/

.res #BigEditor {
    margin-bottom: 25px !important;
}

/* 
========================

Night mod "fixes", it is dark alright
TODO: Redo the below mess in a structured manner AFTER the reddit redesign.

======================== 
*/

.mod-toolbox.res-nightmode #tb-my-subreddits {
    background-color: #6E7A86;
    color: #B5B5B5;
    border: 1px solid #A8B5C2;
    box-shadow: rgba(214, 214, 214, 0.47) 0 1px 3px 1px;
}


.mod-toolbox.res-nightmode #tb-my-subreddits td a {
    color: #2C4C6C;
}

.mod-toolbox.res-nightmode .thing.spam, .mod-toolbox.res-nightmode .thing.spam {
    background-color: #621c1c;
}

.mod-toolbox.res-nightmode .comment.spam>.child, .mod-toolbox.res-nightmode .message.spam>.child {
background-color: #1f1f1f;
}

.mod-toolbox.res-nightmode .tb-page-overlay select,
.mod-toolbox.res-nightmode .tb-page-overlay input,
.mod-toolbox.res-nightmode .tb-page-overlay textarea {
background: #969696 !important;
}

.mod-toolbox.res-nightmode .tb-highlight {
    background-color: #97971b;
}

.mod-toolbox.res-nightmode #tb-bottombar {
    background-color: rgba(7, 7, 7, 0.89);
    color: #696969;
    border-top: solid 1px #111;

}

.mod-toolbox.res-nightmode #tb-bottombar-hidden {
    background-color: rgba(7, 7, 7, 0.89);
    border-top: solid 1px #111;
    border-right: solid 1px #111;
}


.mod-toolbox.res-nightmode .articleFrame {
border: solid 1px #808080;
}

.mod-toolbox.res-nightmode .tb-page-overlay {
    background-color: rgba(135, 135, 135, 0.84);
}

.mod-toolbox.res-nightmode .tb-overlay-label {

    text-shadow: 0 0 4px #878787;
}

.mod-toolbox.res-nightmode .tb-window-wrapper {
    background-color: #878787;
    border: solid 1px #808080;
    box-shadow: 0 1px 3px 1px rgba(83, 83, 83, 0.61);
    font-size: small;
}

.res-nightmode .tb-window-wrapper-two {
    background-color: #878787;
    border: solid 1px #808080;
    box-shadow: 0 1px 3px 1px rgba(83, 83, 83, 0.61);
}

.mod-toolbox.res-nightmode .tb-window-wrapper a:hover,
.mod-toolbox.res-nightmode .tb-window-tabs a.active,
.mod-toolbox.res-nightmode .tb-window-tabs a:hover {
    color: #000 !important;
}

.mod-toolbox.res-nightmode .tb-window-header {
    background-color: #6E7A86;
    border-bottom: solid 1px #111;
}

.mod-toolbox.res-nightmode .tb-window-header-options a,
.mod-toolbox.res-nightmode .buttons a,
.mod-toolbox.res-nightmode .tb-debug-header a {
    color: #393E44;
}

.mod-toolbox.res-nightmode .tb-window-tabs {
    border-bottom: solid 1px #39526b;
    background-color: #828B96;
}

.mod-toolbox.res-nightmode .tb-window-tabs a {
    background-color: #828B96;
    border-right: dotted 1px #39526b;
    color: #393E44;
}

.mod-toolbox.res-nightmode .tb-window-spacer {
    background-color: #8d9caa;
    border-right: dotted 1px #39526b;
}

.mod-toolbox.res-nightmode .tb-window-tabs a.active,
.mod-toolbox.res-nightmode .tb-window-tabs a:hover {
    background-color: #5D7186;
}

.res-nightmode .tb-window-footer {
    background-color: #6e7a86;
    border-top: solid 1px #39526b;
}

.mod-toolbox.res-nightmode .tb-window-content p {
    border-bottom: 1px dotted #E0E0E0;
}
.mod-toolbox.res-nightmode .tb-mark-unread {
    color: #369;
}

.mod-toolbox.res-nightmode .tb-settings .tb-window-content {
    background-color: #878787;
}

.mod-toolbox.res-nightmode .tb-window-tab span.tb-module-disabled {
    background-color: #B8B8B8;
}

div.sticky {
    background-color: rgba(206, 227, 248, 0.86);
    color: #696969;
}

.mod-toolbox.res-nightmode #tb-notification-alert {
    background-color: rgba(206, 227, 248, 1);
    color: #000;
    padding: 2px !important;
    border: solid 2px #B83E3E;
    box-shadow: rgba(209, 209, 209, 0.47) 0 1px 3px 1px;
}

.mod-toolbox.res-nightmode #tb-tooltip {
    background-color: rgba(206, 227, 248, 0.86);
    color: #000;
    border: solid 1px #39526b;
    box-shadow: rgba(209, 209, 209, 0.47) 0 1px 3px 1px;
}

.res-nightmode .tb-first-run {
    color: red;
}

.res-nightmode .dtagger-popup {
    background-color: #878787;
    border: solid 1px #808080;
    box-shadow: 0 1px 3px 1px rgba(83, 83, 83, 0.61);
}

.res-nightmode .dtagger-popup-header {
    background-color: #6e7a86;
    border-bottom: solid 1px #39526b;
}

.res-nightmode .dtagger-popup-footer {
    background-color: #6e7a86;
    border-top: solid 1px #39526b;
}

.res-nightmode .dtagger-popup tbody tr {
    border-bottom: 1px solid gray;
}


.res-nightmode .utagger-notes td {
    border: solid 1px #C1BFBF;
}

.res-nightmode .utagger-notes-td3 a {
    color: #C92A2A;
}
.res-nightmode .utagger-type {
    border-top: 1px dotted #C1BFBF;
}

.mod-toolbox.res-nightmode .mod-popup {
    background-color: #878787;
    border: solid 1px #808080;
    box-shadow: 0 1px 3px 1px rgba(83, 83, 83, 0.61);
}

.mod-toolbox.res-nightmode .mod-popup-header {
    background-color: #6e7a86;
    border-bottom: solid 1px #39526b;
}

.mod-toolbox.res-nightmode .mod-popup-tabs {
    border-bottom: 1px solid #39526b;
    background-color: #828B96;
}

.mod-toolbox.res-nightmode .mod-popup-tabs a {
    background-color: #828B96;
    border-right: 1px dotted #39526b;
    color: #393E44;
}

.mod-toolbox.res-nightmode .mod-popup-tabs a:hover,
.mod-toolbox.res-nightmode .mod-popup-tabs a.active {
    background-color: #5D7186;
}

.mod-toolbox.res-nightmode .mod-popup-footer {
    background-color: #6e7a86;
    border-top: solid 1px #39526b;
}

.mod-toolbox.res-nightmode .mod-popup .status {
}

.mod-toolbox.res-nightmode .mod-popup .add-sub-link {
    text-decoration: none;
}

.mod-toolbox.res-nightmode .mod-popup .remove-sub-link {
    text-decoration: none;
}

.mod-toolbox.res-nightmode .mod-popup .global-button {
    color: red;
}

.mod-toolbox.res-nightmode .mod-popup .current-sub,
.mod-toolbox.res-nightmode .mod-popup .saved-subs div,
.mod-toolbox.res-nightmode .mod-popup div.other-sub,
.mod-toolbox.res-nightmode .mod-popup .ban-note-container {
    border-bottom: 1px dotted gray;
    padding: 5px;
}


.mod-toolbox.res-nightmode .tb-popup-header {
    background-color: #6e7a86;
    border-bottom: solid 1px #39526b;
}

.mod-toolbox.res-nightmode .tb-popup-tabs {
    border-bottom: 1px solid #39526b;
    background-color: #828B96;
}

.mod-toolbox.res-nightmode .tb-popup-tabs a {
    background-color: #828B96;
    border-right: 1px dotted #39526b;
    color: #393E44;
}

.mod-toolbox.res-nightmode .tb-popup-footer {
    background-color: #6e7a86;
    border-top: solid 1px #39526b;
}

.mod-toolbox.res-nightmode .tb-popup {
background-color: #878787;
}

.mod-toolbox.res-nightmode #tb-personal-notes-button, .mod-toolbox.res-nightmode #tb-personal-notes-button:hover {
background: none;
}

.mod-toolbox.res-nightmode #tb-search-suggest tr {
background: #A3A3A3;
}

.mod-toolbox.res-nightmode .menuarea.modtools {
background-color: rgba(110, 122, 134, 0.86);
border-color: #808080;
}

.mod-toolbox.res-nightmode .mod-popup .current-sub {
    border-bottom: 1px solid gray;
}


.mod-toolbox.res-nightmode .mod-action-positive {
    background-color: #E5F0E1;
}

.mod-toolbox.res-nightmode .mod-action-negative {
    background-color: #FA8072;
}

.mod-toolbox.res-nightmode .thing+input[type="checkbox"]:focus {
    outline: blue solid 1px;
}

.mod-toolbox.res-nightmode .tb-debug-window {
    background-color: #878787;
    border: solid 1px #808080;
    box-shadow: 0 1px 3px 1px rgba(83, 83, 83, 0.61);

}

.mod-toolbox.res-nightmode .tb-debug-header {
    background-color: #6e7a86;
    border-bottom: solid 1px #39526b;
}

.mod-toolbox.res-nightmode .tb-debug-footer {
    background-color: #6e7a86;
    border-top: solid 1px #39526b;
}

/* Modtools mod page-only CSS */

body.res-nightmode.mod-page .subscription-box .option.add {
    background-color: #7BB850;
}

body.res-nightmode.mod-page .subscription-box .option.remove {
    background-color: #C85F63;
}

body.res-nightmode.mod-page a.pretty-button:focus {
    box-shadow: 0 0 5px rgba(0,0,255,1);
}

/* mod log matrix */
.res-nightmode #mod-matrix tr {
    border-bottom: 1px solid #eee;
}

.res-nightmode #mod-matrix tfoot tr {
    border-top: 1px solid #eee;
}

.res-nightmode #mod-matrix tbody tr:nth-of-type(even) {
    background: #fafafa;
}

.res-nightmode #mod-matrix tr:hover, .res-nightmode #mod-matrix td.hover {
    background: #ffc!important;
}

.res-nightmode #mod-matrix .action-number {
    color: #CECECE;
}

.res-nightmode #mod-matrix .zero a, .res-nightmode #mod-matrix .zero span {
    color: #c0c0c0;
}

.res-nightmode #mod-matrix .highlight a, .res-nightmode #mod-matrix .highlight span {
    color: #f00;
}

.res-nightmode .tb-internal-overlay {
    background-color: rgba(255, 255, 255, 0.82);
}

.res-nightmode #tb-toolbar-mysubs {
    background: none !important;
}

.res-nightmode #stylesheet_contents_div, .res-nightmode #json_contents_div, .res-nightmode #wiki_contents_div {
    border: solid 1px #383838;
}

.thing.threaded-modmail .child, .thing.threaded-modmail .entry {
    border-left : 2px solid #efefef!important;
    margin-left : 0!important;
}
.thing.threaded-modmail .child .thing {
    padding-left: 20px!important;
}