body.mod-toolbox-rd.mod-toolbox-rd-new-modmail .InfoBar__recents.tb-recents .InfoBar__recent  {
    margin-bottom: 3px;
}

body.mod-toolbox-rd.mod-toolbox-rd-new-modmail .tb-usernote-button {
    vertical-align: middle;
    margin-right: 3px;
}

body.mod-toolbox-rd.mod-toolbox-rd-new-modmail .tb-general-button,
body.mod-toolbox-rd.mod-toolbox-rd-new-modmail li a.tb-general-button,
body.mod-toolbox-rd.mod-toolbox-rd-new-modmail .tb-bracket-button {
    display: inline-block;
    height: 12px;
    line-height: 12px;
    font-size: 9px;
    padding: 0 2px;
    border-width: 0 0 0 3px;
}
body.mod-toolbox-rd.mod-toolbox-rd-new-modmail .tb-popup a {
    text-decoration: none;
}

body.mod-toolbox-rd.mod-toolbox-rd-new-modmail .tb-recents .tb-bracket-button {
    border-width: 0 0 0 3px;
    padding: 3px;
    font-size: 1.2em;
}

/* Note styling */


.mod-toolbox-rd .tb-usernote-button #add-user-tag {
    cursor: pointer;
}

.mod-toolbox-rd .tb-usernote-button .add-user-tag:hover {
    text-decoration: none;
}

/* Popup styling */

.mod-toolbox-rd .utagger-popup .right {
    float: right;
}

.mod-toolbox-rd .utagger-popup .left {
    float: left;
}

.mod-toolbox-rd .utagger-popup .utagger-date {
    font-size: 80%;
}

.mod-toolbox-rd .utagger-popup .utagger-notes {
    width: 100%;
}

.mod-toolbox-rd .utagger-popup .utagger-notes td {
    padding: 2px !important;
    border: solid 1px #C1BFBF;
    vertical-align: top;
}

.mod-toolbox-rd .utagger-popup .utagger-notes-td1 {
    width: 65px;
}

.mod-toolbox-rd .utagger-popup .utagger-notes-td3 {
    width: 5px;
    border: 0;
}

.mod-toolbox-rd .utagger-popup .utagger-notes-td3 a {
    color: #C92A2A;
    font-weight: bold;
}

.mod-toolbox-rd .utagger-popup .utagger-note .note-type {
    margin-right: 2px;
}

.mod-toolbox-rd .utagger-popup .utagger-remove-note {
    cursor: pointer;
}

.mod-toolbox-rd .utagger-popup .utagger-types {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 6px;
    border-top: 0;
    padding-top: 4px;
}

.mod-toolbox-rd .utagger-popup .utagger-types .utagger-type-list{
    display: flex;
    flex-wrap: wrap;
}
.utagger-type-list > div {
  margin: 2px 2px 0 0;
}
.mod-toolbox-rd .utagger-popup .utagger-type input {
    display: none;
}

.mod-toolbox-rd .utagger-popup .utagger-type > div {
    padding: 3px;
    border: 1px solid rgb(114, 134, 154);
    transition: background-color 100ms ease-out;
}

.mod-toolbox-rd .utagger-popup td:not(:last-child) .utagger-type div {
    border-right: none;
}

.mod-toolbox-rd .utagger-popup .utagger-type > div:hover {
    background-color: #e2eefa;
    cursor: pointer;
}
.mod-toolbox-rd .utagger-popup .utagger-type input:checked ~ div {
    background-color: #e2eefa;
}

.mod-toolbox-rd .utagger-popup .utagger-type > div:before {
    content: '\2713';
    margin-right: 2px;
    opacity: 0.5;}

.mod-toolbox-rd .utagger-popup .utagger-type > div:hover:before {
    opacity: 1;
}

.mod-toolbox-rd .utagger-popup .utagger-type input:checked ~ span:before {
    opacity: 1;
    font-weight: bold;
}

.mod-toolbox-rd .utagger-popup .utagger-user-note {
    width: 98%;
    margin-bottom: 2px;
    padding: 2px;
}

.mod-toolbox-rd .utagger-popup #utagger-user-note-input.error {
    border-color: red;
}

/*.utagger-popup .utagger-type input,*/
.mod-toolbox-rd .utagger-popup .utagger-include-link input {
    margin-right: 1px;
    vertical-align: sub;
}

.mod-toolbox-rd .utagger-popup .utagger-include-link input[disabled] ~ span {
    color: slategray;
}

/* Usernote manager */

.mod-toolbox-rd  a.tb-un-notedelete img {
    width: 13px;
    opacity: 0.8;
    margin-bottom: -3px;
}

.mod-toolbox-rd .tb-un-user:nth-child(even) {
    background: #F6F9FC;
}

.mod-toolbox-rd .tb-un-user {
    padding: 5px;
    margin-bottom: 3px;
    border: solid 1px #FAFAFA;
}

.mod-toolbox-rd .tb-un-note-details {
    padding: 3px;
}

.mod-toolbox-rd .tb-un-user-header {
    border-bottom: solid 1px #E7E7E7;
    margin-bottom: 3px;
}

.mod-toolbox-rd .tb-un-user-header .tb-un-delete {
    margin-right: 4px;
}

.mod-toolbox-rd .tb-un-user-header .user {
    font-size: 12px;
}

.mod-toolbox-rd #tb-un-note-content-wrap {
    max-width: 115em;
    margin: 30px;
}

.mod-toolbox-rd .tb-un-note-details .note {
    margin-left: 4px;
}

.mod-toolbox-rd .tb-un-note-details .note .note-type {
    margin-right: 2px;
}

.mod-toolbox-rd .tb-un-user-header .mod,
.mod-toolbox-rd .tb-un-note-details .date {
    color: #A8A8A8;
}

.mod-toolbox-rd .tb-un-user-header .tb-un-notedelete {
    margin-right: 4px;
}
