.mod-toolbox #tb-flatview-search {
    background-color: #F7FAFD;
    color: #696969;
    border: 1px solid #B6C9DD;
    padding: 3px;
    margin: 11px
}

.mod-toolbox #tb-flatview-search-count {
    background-color: #B6C9DD;
    padding: 4px;
    color: #F7FAFD;
    font-weight: bold;
}

.mod-toolbox #tb-searchuser input[type="submit"] {
    padding: 0 !important;
    margin-left: 4px;
}
