/* Subject area */

.tb-modmail-pro .message.message-parent.mmp-collapsed .subject {
    margin-bottom: 0;
}

.tb-modmail-pro .message .subject .correspondent {
    line-height: 17px;
}

.tb-modmail-pro .message .subject .correspondent:first-child {
    margin-right: 0;

    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.tb-modmail-pro .message .subject .expand-btn:hover {
    color: rgba(51, 102, 153, 0.7);
}

/* Collapsing thing */

.message .subject .collapse-link {
    display: none;
}

.tb-modmail-pro .message .subject .collapse-link {
    display: inline-block;
    margin-right: 4px;
}

.tb-modmail-pro .message .collapse-link::before {
    content: "[";
    position: relative;
}

.tb-modmail-pro .message .collapse-link:hover::before {
    right: 1px;
}

.tb-modmail-pro .message  .collapse-link::after {
    content: "]";
    position: relative;
}

.tb-modmail-pro .message .collapse-link:hover::after {
    left: 1px;
}

/* Info area */

.message .subject .info-area {
    display: none;
}

.tb-modmail-pro .message .subject .info-area {
    display: inline;
    height: 17px;
    padding: 2px 8px;
    
    border-bottom-right-radius: 7px;
    border-left: medium none !important;
    border-top-right-radius: 7px;
}

/* Filtering */

.tb-modmail-pro .filter-sub-link {
    display: inline-block;
    width: 18px;
    
    text-align: center;
    color: rgb(255, 69, 0);
    margin-left: 4px;
    margin-right: 2px;
}

.tb-modmail-pro .filter-sub-link:hover {
    color: rgba(255, 69, 0, 0.7);
}

/* Message count */

.tb-modmail-pro .info-area .tb-message-count.no-replies {
    margin: 0 -8px;
    
    color: rgba(51, 102, 153, 0.3);
    font-size: 10px;
    font-weight: normal;
}

/* New messages */

.tb-modmail-pro .message.new-messages .new-highlight {
    background-color: lightgreen;
}

.message.new-messages .new-label {
    /* Magical render optimization */
    display: none;
}

.tb-modmail-pro .message.new-messages .new-label {
    display: inline;
    color: black;
    
    margin-right: 4px;
    padding: 1px;
}

/* No red mod mail! */

.tb-no-red-modmail .message.spam,
.tb-no-red-modmail .message.spam .entry {
    background-color: transparent !important;
}

.tb-no-red-modmail .message.spam p.subject,
.tb-no-red-modmail .message.spam > div.entry > .tagline > .head {
    color: red !important;
}

/* Recipient fading */

.tb-fade-recipient .message .entry .recipient {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #888 !important;
}

.tb-fade-recipient .message .entry .recipient.moderator {
    color: #588858 !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.tb-fade-recipient .message .entry .recipient.admin {
    color: #B20606 !important;
    background-color: rgba(0, 0, 0, 0) !important;
}
