.tb-modmail-pro .message .collapse-link {
    margin-right: 4px;
}

.tb-modmail-pro .message.message-parent.mmp-collapsed .subject {
    margin-bottom: 0;
}

.tb-modmail-pro .message .subject .correspondent {
    line-height: 17px;
}

.tb-modmail-pro .message .subject .correspondent:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: 0;
}

.tb-modmail-pro .message .subject .info-area {
    border-bottom-right-radius: 7px;
    border-left: medium none !important;
    border-top-right-radius: 7px;
    height: 17px;
    padding: 2px 8px;
}

/* New messages */

.tb-modmail-pro .message.new-messages .new-highlight {
    background-color: lightgreen;
}

.message.new-messages .new-label {
    /* Magical render optimization */
    display: none;
}

.tb-modmail-pro .message.new-messages .new-label {
    display: inline;
    color: black;
    
    margin-right: 2px;
}

/* No red mod mail! */

.tb-modmail-pro.tb-no-red-modmail .message.spam,
.tb-modmail-pro.tb-no-red-modmail .message.spam .entry {
    background-color: transparent;
}

.tb-modmail-pro.tb-no-red-modmail .message.spam p.subject,
.tb-modmail-pro.tb-no-red-modmail .message.spam div.entry .head {
    color: red !important;
}
