.tb-mml-info {
    background-color: #EFF7FF;
    border: 1px solid #336699;
    color: #336699;
    display: inline-block;
    margin-right: 10px;
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 2px 5px;
    font-weight: bold;
    font-size: larger;
}