.mod-toolbox .modtools-active {
    padding-top: 40px !important;
}

.mod-toolbox .menuarea.modtools {
    background-color: rgba(206, 227, 248, 0.862745);
    border: 1px solid #A8B5C2;
    z-index: 500;
    overflow: visible;
}

.drop-choices.lightdrop {
    z-index: 501;
}


#modtab-threshold {
    width: 20px;
}


.mod-toolbox .tb-kitteh {
    display: block;
    min-width: 330px;
    min-height: 351px;
    background-image: url(//b.thumbs.redditmedia.com/7uBqTsML9Y-sksmfvCrKrHvoUANP6ZCOw9UOVIV6aXQ.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -1000px;
    overflow: hidden;
}
