.mod-toolbox .modtools-active {
    padding-top: 40px !important;
}

.mod-toolbox .menuarea.modtools {
    background-color: rgba(206, 227, 248, 0.862745);
    border: 1px solid #A8B5C2;
    z-index: 500;
    overflow: visible;
}

.drop-choices.lightdrop {
    z-index: 501;
}


#modtab-threshold {
    width: 20px;
}


.mod-toolbox .tb-kitteh {
    display: block;
    min-width: 330px;
    min-height: 351px;
    background-image: url("https://b.thumbs.redditmedia.com/7uBqTsML9Y-sksmfvCrKrHvoUANP6ZCOw9UOVIV6aXQ.png");
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -1000px;
    overflow: hidden;
}

.mod-toolbox .tb-puppy {
    display: block;
    min-width: 360px;
    min-height: 460px;
    background-image: url("https://a.thumbs.redditmedia.com/L8eKqhvo2mcjB0E8t87nOlu1_oMoSQ8F8LzqbFHumK8.png");
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -1000px;
    overflow: hidden;
}

.mod-toolbox .tb-begifs {
    display: block;
    min-width: 360px;
    min-height: 460px;
    background-image: url("http://i.imgur.com/TnlhFA8.gif");
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -1000px;
    overflow: hidden;
}

.mod-toolbox .tb-begifs:after {
    content: "baby elephant is pleased!";
}
